Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @damirault @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Change workflow to use upstream branches
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add step tp delete braches after merging
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Feature/eng common patch 2 (#1052)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Set TLS to 1.2 for Az module download.
  eng/common/TestResources/setup-az-modules.yml
Owners: @heaths, @danieljurek, @weshaggard

Conditionalize setting TLS.
  eng/common/TestResources/setup-az-modules.yml
Owners: @heaths, @danieljurek, @weshaggard

Add link to article and update classifier.
  eng/common/TestResources/setup-az-modules.yml
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzurePowerShellModuleInstallationFailureClassifier.cs
Owners: @heaths, @danieljurek, @weshaggard, @damirault, @mitchdenny, @JimSuplizio

Fix links
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Update copy-docs-to-blobstorage.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Doc change
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Update cache-control for newly created blobs (#1066)
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Simplify New-TestResources usage (#1077)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Support env vars with hyphens when printing output
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Add support for specifying a service label on top of a PR label for each service folder.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwners.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Program.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
Owners: @azure/azure-sdk-eng

Remove unnecessary code and add tests
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwners.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
Owners: @azure/azure-sdk-eng

Update method names to make it easier to understand their purpose
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
Owners: @azure/azure-sdk-eng

Fix-up bug where the wrong property was used.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
Owners: @azure/azure-sdk-eng

Move the code that reads the file off the network to a separate class.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/FileHelpers.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
Owners: @azure/azure-sdk-eng

Fixup small issue with the MD table parser.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
Owners: @azure/azure-sdk-eng

Add support for having a dummy entry in the codeowners file to signal services that don't have the code in the repo
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
Owners: @azure/azure-sdk-eng

Update comment.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
Owners: @azure/azure-sdk-eng

Remove step intended to clean up sync branches
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Remove step intended to clean up sync branches (#1085)
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Support hyphen (#1083)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Simplify the parsing logic and allow for more flexibility.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
Owners: @azure/azure-sdk-eng

Only add the entry if it is valid.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
Owners: @azure/azure-sdk-eng

Rename YAML file.:
  eng/pipelines/setup-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Renamed and changed script to cope with some of the recovery scenarios.
  eng/pipelines/setup-tutorial-branch.yml
  scripts/powershell/Create-Branch.ps1
  scripts/powershell/Setup-TutorialBranch.ps1
Owners: @azure/azure-sdk-eng

Add xyz starter/complete so I can test in each repo.
  eng/pipelines/setup-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Fix options for branch starter.
  eng/pipelines/setup-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Another fix.
  eng/pipelines/setup-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Read issue routing from codeowners (#1084)
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnersFile.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/FileHelpers.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Program.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
Owners: @azure/azure-sdk-eng

Refactor GitHub API Calls
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/common/scripts/Invoke-GitHub-API.ps1
  eng/pipelines/templates/jobs/tools-cleanup.yml
Owners: @azure/azure-sdk-eng

Add auto-merge label to sync PRs, Remove verify and merge step and add pipeline to clean-up sync PRs
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/common/scripts/Invoke-GitHub-API.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/jobs/tools-cleanup.yml
Owners: @azure/azure-sdk-eng

Remove Verify an Merge Stage, Add auto-merge label to the Tools PR
  eng/common/README.md
  eng/common/scripts/Add-Issue-Labels.ps1
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/common/scripts/Invoke-GitHub-API.ps1
  eng/common/scripts/common.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/jobs/tools-cleanup.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Remove Cleanup Pipeline Scripts
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/jobs/tools-cleanup.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fix github verb names
  eng/common/README.md
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/common.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Create tutorial branch automation (#1075)
  eng/pipelines/setup-tutorial-branch.yml
  scripts/powershell/Setup-TutorialBranch.ps1
Owners: @azure/azure-sdk-eng

Eng Common Sync Improvements. (#1081)
  eng/common/README.md
  eng/common/scripts/Add-Issue-Comment.ps1
  eng/common/scripts/Add-IssueComment.ps1
  eng/common/scripts/Add-IssueLabels.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/common.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fix powershell naming
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/pipelines/templates/jobs/tools-cleanup.yml
Owners: @azure/azure-sdk-eng

Add pipeline configuration for cleaning up upstream branches
  eng/common/scripts/Delete-Remote-Branches.ps1
  eng/pipelines/templates/jobs/tools-cleanup.yml
Owners: @azure/azure-sdk-eng
