Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @damirault @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Fix bug in DevOps logging command (#1061)
  eng/common/scripts/logging.ps1
Owners: @azure/azure-sdk-eng

Ignore job notifications.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

Ignore job notifications. (#1063)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

Add New-ReleaseAsset.ps1 (#1031)
  eng/common/scripts/New-ReleaseAsset.ps1
Owners: @azure/azure-sdk-eng

Update Tools repo Sync to make use of patch files rather than replacing all files in the sync directory
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add some changes in eng/common to test things
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update location of patch files
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update patch application logic
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Switch to pushing to upstream
  eng/common/scripts/git-branch-push.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update cache-control for newly created blobs
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

remove extra
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

remove extra space
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Don't warn about missing javadoc on methods that are overriding from a parent class.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavaDocDiagnosticRule.java
Owners: none

Ignore neutral conclusion events.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

Ignore neutral conclusion events. (#1068)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

wrap javadoc at 120 chars for readability.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/MiscUtils.java
Owners: none

Remove HTML escaping that is no longer necessary given that the server is rendering the content now and it looks worse with html escaping.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Don't include JavaDoc for non-public types.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Fix issue where private interfaces were being included in the APIView output.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
Owners: none

Better support for multiple-layered nested interfaces
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
Owners: none

Don't warn about annotation declarations not being final.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
Owners: none

Update versions
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Owners: none

C++ support in APiview
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

[APIView] Improvements to Java APIView diagnostics and code listing generation (#1070)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/MiscUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavaDocDiagnosticRule.java
Owners: none

Add embedded interfaces to output and corresponding tests
  src/go/cmd/api_view.go
  src/go/cmd/api_view_test.go
  src/go/cmd/content.go
  src/go/cmd/models.go
  src/go/cmd/output/testconst.json
  src/go/cmd/output/testinterface.json
  src/go/cmd/testdata/test_interface/test.go
  src/go/cmd/token_builders.go
Owners: none

Ignore neutral conclusion events. (#1068) (#1069)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

Create tutorial branch script and pipeline.
  eng/pipelines/create-tutorial-branch.yml
  scripts/powershell/Create-Branch.ps1
Owners: @azure/azure-sdk-eng

Create tutorial branch script and pipeline. (#1074)
  eng/pipelines/create-tutorial-branch.yml
  scripts/powershell/Create-Branch.ps1
Owners: @azure/azure-sdk-eng

Fix incorrect parameter.
  eng/pipelines/create-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Fix error action preference.
  scripts/powershell/Create-Branch.ps1
Owners: none

Add unique ID for embedded interfaces to enable commenting
  src/go/cmd/token_builders.go
Owners: none

Added the cache control for existing blobs as well
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Add unique definition ids for methods and struct fields
  src/go/cmd/token_builders.go
Owners: none

Add updated output results
  src/go/cmd/output/testconst.json
  src/go/cmd/output/testinterface.json
  src/go/cmd/output/teststruct.json
Owners: none

Add embedded interfaces to API view output (#1072)
  src/go/cmd/api_view.go
  src/go/cmd/api_view_test.go
  src/go/cmd/content.go
  src/go/cmd/models.go
  src/go/cmd/output/testconst.json
  src/go/cmd/output/testinterface.json
  src/go/cmd/output/teststruct.json
  src/go/cmd/testdata/test_interface/test.go
  src/go/cmd/token_builders.go
Owners: none

Simplify Net-TestResources usage
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

docs and windows check
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Update eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

update markdown
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

make service directory the default parameter
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard
