Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @jsquire, @azure/azure-sdk-eng, @sima-zhu, @weshaggard, @benbp, @heaths, @praveenkuttappan, @scbedd, @mikeharder, @ckairen, @changlong-liu, @tadelesh, @dw511214992, @qiaozha, @MaryGao, @maorleger, @chunyu3, @zzvswxy

.github/CODEOWNERS:

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @AlexGhiondea @jsquire

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @sima-zhu @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/webhook-router/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard @AlexGhiondea
/tools/pipeline-generator/       @weshaggard @benbp
/tools/test-proxy/               @scbedd @mikeharder
/tools/stress-cluster/           @benbp @ckairen
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/js-sdk-release-tools/     @dw511214992 @qiaozha @MaryGao
/tools/keyvault-mock-attestation @maorleger
/tools/sdk-generation-pipeline   @dw511214992 @chunyu3 @zzvswxy

Migrating network stress dockerfile from alpine to mcr's cbl-mariners
  tools/stress-cluster/chaos/examples/network-stress-example/Dockerfile
Owners: @benbp, @ckairen

contribution bold text
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

eol
  tools/stress-cluster/chaos/examples/network-stress-example/Dockerfile
Owners: @benbp, @ckairen

[Test-Proxy] Pin proxy version to one that properly sets ListenOptions (#3238)
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
Owners: @sima-zhu, @weshaggard, @benbp

moving table of checker status to onenote
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

Add pull request gate github action
  .github/workflows/pull-request-gate.yml
Owners: @AlexGhiondea, @jsquire

test update
  tools/stress-cluster/cluster/kubernetes/generator/README.md
Owners: @benbp, @ckairen

Make docs.ms link relative link (#3221)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Remove the daily branch before date
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/pipelines/branch-cleanup.yml
Owners: @sima-zhu, @weshaggard, @benbp, @azure/azure-sdk-eng

add log
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerTaskEngine.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/doNotExitDockerContainer.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInLocal.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/growUp.ts
Owners: @dw511214992, @chunyu3, @zzvswxy

add jest
  tools/sdk-generation-pipeline/.gitignore
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/jest.config.js
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerContext.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/dockerTaskEngine.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInLocal.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInPipeline.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/growUp.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/dockerCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/DockerTaskEngine.test.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/utils/prepareEnvironment.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/tsconfig.json
Owners: @dw511214992, @chunyu3, @zzvswxy

Initial work
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Owners: none

Fixes #3246.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Owners: none

[pylint] adding contibution file (#3237)
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

Pin pylint-guidelines-checker.
  packages/python-packages/api-stub-generator/setup.py
Owners: none

0.0.3 -> 0.0.4
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
Owners: @azure/azure-sdk-eng

Remove daily docs branches (#3061)
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/pipelines/branch-cleanup.yml
Owners: @sima-zhu, @weshaggard, @benbp, @azure/azure-sdk-eng

Change the direction of the commit date
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

0.0.3 -> 0.0.4 (#3248)
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
Owners: @azure/azure-sdk-eng

Log on right place
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

remove auth
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

fix typo
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Add auth token back
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

add delete back
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Update eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Update Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Update Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Update Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Update Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

[Python APIView] support generics in inheritance list (#3247)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/setup.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Owners: none

Update Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @sima-zhu, @weshaggard, @benbp

add template, script, and requirements files. still need to add the twine-upload, but will get a successful run before adding that piece
  eng/pipelines/mirror-pypi-to-dev-feed.yml
  eng/scripts/download_targeted_packages.py
  eng/scripts/download_targeted_packages_requirements.txt
Owners: @azure/azure-sdk-eng

updating paths to appropriate for sdk-tools repo
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

we don't have an auth-dev-feed currently, just use simple
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

correct the naming
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

add debug prints to understand where the failure is occurring
  eng/pipelines/mirror-pypi-to-dev-feed.yml
  eng/scripts/download_targeted_packages.py
Owners: @azure/azure-sdk-eng

attempt proper escaping
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

commit the actual saved file
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

handle the wrong packages
  eng/scripts/download_targeted_packages.py
Owners: @azure/azure-sdk-eng

adding debugging lines
  eng/scripts/download_targeted_packages.py
Owners: @azure/azure-sdk-eng
