Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @JimSuplizio, @qiaozha, @MaryGao, @raych1, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash

apply some fixes/work arounds to make it work (#6570)
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_sectioned_document.py
Owners: none

Fix issue with dropping the final section.
  packages/python-packages/apiview-gpt/src/_sectioned_document.py
Owners: none

Refactor.
  packages/python-packages/apiview-gpt/src/_sectioned_document.py
Owners: none

Small tweaks and fixes.
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_models.py
Owners: none

Update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0018Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0019Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/SymbolAnalyzerBase.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

httpresponse error
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

update tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

azure-core allow import
  tools/pylint-extensions/azure-pylint-guidelines-checker/dev_requirements.txt
Owners: @azure/azure-sdk-eng

add rule to readme
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Owners: @azure/azure-sdk-eng

update to legacy
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Owners: @azure/azure-sdk-eng

update version
  tools/pylint-extensions/azure-pylint-guidelines-checker/dev_requirements.txt
Owners: @azure/azure-sdk-eng

Eliminate raising exceptions.
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_models.py
Owners: none

APIView GPT updates (#6573)
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_models.py
  packages/python-packages/apiview-gpt/src/_sectioned_document.py
Owners: none

remove from_import
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

[Pylint] httpresponse error (#6362)
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/dev_requirements.txt
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

add misformated type checker
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

typo
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

docstring misformatted type checker
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

regex for mypy type i.e []
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

spacing
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

remove regex
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

check capitalization
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

update with regex
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

include parentheses
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

add rule to readme
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Owners: @azure/azure-sdk-eng

update wording
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

update list
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

update section
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

update tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

bump the proxy version to one that includes the base64 encoded header
  eng/common/testproxy/target_version.txt
Owners: @konrad-jamrozik, @weshaggard, @benbp

script update
  tools/assets-automation/assets-reporting/generate_assets_report.py
Owners: @azure/azure-sdk-eng

script update (#6595)
  tools/assets-automation/assets-reporting/generate_assets_report.py
Owners: @azure/azure-sdk-eng

update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

Sync azure-rest-api-specs-pr first - More fair to sync faster repos before slower repos
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Sync python release/v3 earlier
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Formatting
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Sync repos from fastest to slowest
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Add comment
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Update comment
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration
/.github/CODEOWNERS                    @azure/azure-sdk-eng

# Repository tooling
/tools/github                          @jsquire @ronniegeraghty
/tools/github-issues                   @jsquire @ronniegeraghty

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/eng/common/                           @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/             @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                                @azure/azure-sdk-eng
/tools/check-enforcer/                 @praveenkuttappan @weshaggard
/tools/code-owners-parser/             @konrad-jamrozik @JimSuplizio
/tools/github-issues/                  @praveenkuttappan @weshaggard
/tools/github-event-processor/         @JimSuplizio @benbp 
/tools/github-team-user-store/         @JimSuplizio @weshaggard
/tools/js-sdk-release-tools/           @qiaozha @MaryGao
/tools/mock-service-host/              @raych1 @tadelesh
/tools/perf-automation/                @mikeharder @benbp
/tools/pipeline-generator/             @weshaggard @benbp
/tools/pipeline-witness/               @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/        @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/                    @raych1 @tadelesh
/tools/stress-cluster/                 @benbp @ckairen
/tools/test-proxy/                     @scbedd @mikeharder
/tools/webhook-router/                 @praveenkuttappan @weshaggard

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers  @jsquire @pallavit @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @heaths @m-nash
