Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @benbp, @weshaggard, @kurtzeborn, @JimSuplizio, @jsquire, @ronniegeraghty, @qiaozha, @MaryGao, @raych1, @tadelesh, @mikeharder, @hallipr, @lirenhe, @scbedd, @catalinaperalta, @praveenkuttappan, @ckairen, @richardpark-msft, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash, @chidozieononiwu, @tjprescott, @LarryOsterman, @jeremymeng, @maorleger, @JonathanGiles, @jhendrixMSFT, @chlowell, @RickWinter, @l0lawrence

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################
/.github/CODEOWNERS                    @azure/azure-sdk-eng

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng

/.config/1espt/                        @benbp @weshaggard

###########
# CODEOWNERS Linter pipeline
###########
/eng/common/pipelines/codeowners-linter.yml @kurtzeborn @JimSuplizio @weshaggard

###########
# GitHub Tools
###########
/tools/github/                        @jsquire @ronniegeraghty

###########
# Eng Sys Tools
###########
/tools/                                @azure/azure-sdk-eng
/tools/codeowners-utils/               @JimSuplizio
/tools/github-event-processor/         @JimSuplizio @benbp @jsquire @ronniegeraghty
/tools/github-team-user-store/         @JimSuplizio @weshaggard
/tools/js-sdk-release-tools/           @qiaozha @MaryGao
/tools/mock-service-host/              @raych1 @tadelesh
/tools/perf-automation/                @mikeharder @benbp
/tools/pipeline-generator/             @weshaggard @benbp
/tools/pipeline-witness/               @hallipr
/tools/sdk-ai-bots/                    @raych1
/tools/sdk-testgen/                    @lirenhe @tadelesh
/tools/test-proxy/                     @scbedd @mikeharder @benbp
/tools/tsp-client/                     @catalinaperalta
/tools/webhook-router/                 @praveenkuttappan @weshaggard

###########
# Stress
###########
/eng/common/scripts/stress-testing/    @benbp @ckairen @richardpark-msft
/tools/stress-cluster/                 @benbp @ckairen @richardpark-msft

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers  @jsquire @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @m-nash
/src/dotnet/APIView                    @chidozieononiwu

###########
# APIView parsers
###########
/tools/apiview/                          @chidozieononiwu
/tools/apiview/emitters/typespec-apiview @tjprescott
/tools/apiview/parsers/cpp-api-parser    @LarryOsterman
/tools/apiview/parsers/csharp-api-parser @christothes
/tools/apiview/parsers/js-api-parser     @jeremymeng @maorleger
/src/swift                               @tjprescott
/src/java/apiview-java-processor         @JonathanGiles
/src/go                                  @jhendrixMSFT @chlowell @RickWinter


###########
# Pylint checkers
###########
/tools/pylint-extensions/azure-pylint-guidelines-checker @l0lawrence

Update Swagger Parser to save file using the tag used for generationg the APIView token
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/ReadmeParser.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/ReadmeParserTest.cs
Owners: @chidozieononiwu

Fix null container
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Owners: @azure/azure-sdk-eng

Removed package config temporarily to avoid the dependabot flagging
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
Owners: @azure/azure-sdk-eng

Add tests for default tag
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/ReadmeParserTest.cs
Owners: @chidozieononiwu

Removed package config temporarily (#9338)
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
Owners: @azure/azure-sdk-eng

Disable adaptive sampling to AppInsights
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.json
Owners: @hallipr

Removed test package config
  tools/spec-gen-sdk/integrationTest/fixtures/sdk-js-test-patch0-add-service-gen/sdk/testservice/arm-testservice/package.json
Owners: @azure/azure-sdk-eng

Removed test package config (#9340)
  tools/spec-gen-sdk/integrationTest/fixtures/sdk-js-test-patch0-add-service-gen/sdk/testservice/arm-testservice/package.json
Owners: @azure/azure-sdk-eng

fix spacing/newlines in class
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_module_node.py
Owners: none

make multi line args children
  packages/python-packages/apiview-stub-generator/apistub/nodes/_function_node.py
Owners: none

Use local version of format diagnostic for tsp-client
  tools/tsp-client/src/typespec.ts
Owners: @catalinaperalta

use vitest for tsp-client
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/network.spec.ts
  tools/tsp-client/test/tspLocation.spec.ts
  tools/tsp-client/test/typespec.spec.ts
  tools/tsp-client/test/utils.spec.ts
Owners: @catalinaperalta

Missing config
  tools/tsp-client/vitest.config.ts
Owners: @catalinaperalta

Longer timeout
  tools/tsp-client/vitest.config.ts
Owners: @catalinaperalta

Small perf improvment only comute repo root once
  tools/tsp-client/test/commands.spec.ts
Owners: @catalinaperalta

Use local version of format diagnostic for tsp-client (#9348)
  tools/tsp-client/src/typespec.ts
Owners: @catalinaperalta

Tsp client vitest (#9352)
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/network.spec.ts
  tools/tsp-client/test/tspLocation.spec.ts
  tools/tsp-client/test/typespec.spec.ts
  tools/tsp-client/test/utils.spec.ts
  tools/tsp-client/vitest.config.ts
Owners: @catalinaperalta

update changelog
  tools/tsp-client/CHANGELOG.md
Owners: @catalinaperalta

update test
  tools/tsp-client/test/commands.spec.ts
Owners: @catalinaperalta

[tsp-client] Simplify local spec scenario for `init` command (#9108)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/commands.ts
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/examples/init/placeholder.md
Owners: @catalinaperalta

Live test cleanup - sub deployments, immutable containers, purge skip (#9333)
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Owners: @azure/azure-sdk-eng

Enable subscription scoped deployment cleanup
  eng/scripts/live-test-resource-cleanup.ps1
Owners: @azure/azure-sdk-eng

Enable Download of APIView Artifact from GitHub
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileTests.cs
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/PullRequestsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ArtifactRepositoryFactory.cs
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/GitHubArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: @chidozieononiwu

print key node item type
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_enum_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_key_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_module_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_pylint_parser.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_variable_node.py
Owners: none

Add step for emitting rate limits for a token
  eng/common/pipelines/templates/steps/emit-ratelimit-metrics.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Owners: @azure/azure-sdk-eng

add step to eng/common sync template
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Move the step out of the per-repo work
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fix resource label output
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
Owners: @azure/azure-sdk-eng

Finish docs cleanup (#9331)
  eng/common/pipelines/templates/steps/docker-pull-image.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @azure/azure-sdk-eng

Use propery name instead of nested 'resource' property
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
Owners: @azure/azure-sdk-eng

Add percent metric too
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
Owners: @azure/azure-sdk-eng

Add divide by zero safety
  eng/common/pipelines/templates/steps/emit-rate-limit-metrics.yml
Owners: @azure/azure-sdk-eng

Disable adaptive sampling to AppInsights (#9339)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.json
Owners: @hallipr

Reduce ingestion costs by disabling auto dependency call tracing
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.json
Owners: @hallipr
