Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Stop filtering projects by ci.yml files
  eng/common/scripts/Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Fix retain runs auth.
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
Owners: @azure/azure-sdk-eng

Fix notification subscriber teams (#1544)
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/github-codeowner-subscriber/GitHubService.cs
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
  tools/notification-configuration/github-codeowner-subscriber/github-codeowner-subscriber.csproj
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/identity-resolver/identity-resolver.csproj
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
  tools/notification-configuration/notification-creator/Program.cs
  tools/notification-configuration/notification-creator/notification-creator.csproj
Owners: @azure/azure-sdk-eng

Stop filtering projects by ci.yml files (#1564)
  eng/common/scripts/Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Emit encoded token as secret.
  eng/common/scripts/Add-RetentionLease.ps1
Owners: @azure/azure-sdk-eng

Set default branch to master if not set from git (#1558)
  eng/common/pipelines/templates/steps/set-default-branch.yml
Owners: @azure/azure-sdk-eng

Fix retain runs auth. (#1565)
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
Owners: @azure/azure-sdk-eng

Add caching support to verify-links
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Add step for downloading powershell-yaml
  NuGet.Config
  eng/common/pipelines/templates/steps/install-powershellyaml.yml
Owners: @azure/azure-sdk-eng

Test powershell-yaml download
  eng/common/pipelines/templates/steps/install-powershellyaml.yml
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/test-pipeline.yml
Owners: @azure/azure-sdk-eng

Add caching support to verify-links (#1562)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Add initial git integration. Add prototype Admin controller. Handle repo location from argument -> environment variable -> working directory
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Properties/launchSettings.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @azure/azure-sdk-eng

Change from master to main for pipeline generation.
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Update prepare pipelines template.
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Override mirroring branch.
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Owners: @azure/azure-sdk-eng

restore launchsettings.default
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Properties/launchSettings.json
Owners: @azure/azure-sdk-eng

launchsettings wasn't properly ignoring. updated .ignore
  .gitignore
Owners: none

update readme to include detail on dev certificate
  .gitignore
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

Adding Admin Controller, documentation, initial Git integration (#1571)
  .gitignore
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @azure/azure-sdk-eng

allow the package to be packable, set the invocation command
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
Owners: @azure/azure-sdk-eng

readme updates, updating samples for relative paths, ensuring RecordingHandler doesn't explode if it runs against a folder that's not a git repository.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/sample-clients/net/http-client/Program.cs
  tools/test-proxy/sample-clients/net/http-pipeline/Program.cs
  tools/test-proxy/sample-clients/net/storage-blob/Program.cs
  tools/test-proxy/sample-clients/python/pytest-httpsresponse/README.md
Owners: @azure/azure-sdk-eng

resolve warning that was failing build. keep the same pattern in the _recordingFileName in .net httpclientsample
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/sample-clients/net/http-client/Program.cs
Owners: @azure/azure-sdk-eng

Update eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Add note to common_engsys regarding C and C++
  doc/common/common_engsys.md
Owners: none

Make RELEASE_TITLE_REGEX more specific
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Update release REGEX
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

initial commit. adding support for various types of transforms
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ResponseTransform.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/BodilessMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/StripRequestUri.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/SessionConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/StorageRequestIdTransform.cs
Owners: @azure/azure-sdk-eng

add test project. refactor playback/record into RecordingHandler to ease testing
  .gitignore
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TransformTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.sln
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/BodilessMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/StripRequestUri.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/SessionConfiguration.cs
Owners: @azure/azure-sdk-eng

getting ready to allow modification of RecordSession, at least online
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TransformTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/ReplaceRequestSubscriptionId.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/ApiVersionTransform.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/ClientIdTransform.cs
Owners: @azure/azure-sdk-eng

add usage of activator.createinstance
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @azure/azure-sdk-eng

ensure passing first test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/ApiVersionTransform.cs
Owners: @azure/azure-sdk-eng

Add classifier for Azure Artifacts 503 errors.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzureArtifactsServiceUnavailableClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

eliminate ALWAYS creating a new list of Transforms or Sanitizers. Instead check to see if the session actually has any before allocating new memory
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @azure/azure-sdk-eng

Add classifier for Azure Artifacts 503 errors. (#1575)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzureArtifactsServiceUnavailableClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Use default branch template.
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Update prepare-pipelines as well.
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Checkout default branch for this pipeline generation approach.
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Don't need checkout.
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng
