Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

[matrix] Fix null check against matrix parameter array
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Owners: @azure/azure-sdk-eng

[matrix] add negative test cases
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @azure/azure-sdk-eng

Support typeof in attributes and explicit interface implementations (#1484)
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIViewTest/APIViewTest.csproj
  src/dotnet/APIView/APIViewTest/ExactFormatting/Attributes.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Inheritance.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Owners: none

Overwrite response header x-ms-client-request-id
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
Owners: @azure/azure-sdk-eng

Add .NET sample for blob storage
  tools/test-proxy/sample-clients/net/storage-blob/Azure.Sdk.Tools.TestProxy.StorageBlobSample.csproj
  tools/test-proxy/sample-clients/net/storage-blob/Azure.Sdk.Tools.TestProxy.StorageBlobSample.sln
  tools/test-proxy/sample-clients/net/storage-blob/Program.cs
Owners: @azure/azure-sdk-eng

progress towards adding an InMemorySessionManager handler. converting record and playback now
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/InMemorySessionManager.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @azure/azure-sdk-eng

[matrix] Fix null check against matrix parameter array (#1498)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @azure/azure-sdk-eng

remove null resolution handlers
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

replace both local concurrentdictionaries with a singleton class
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/InMemorySessionManager.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/sample-clients/python/pytest-httpsresponse/RecordedByProxy.py
  tools/test-proxy/sample-clients/python/pytest-httpsresponse/run_tests.ps1
Owners: @azure/azure-sdk-eng

update to remove return to avoid adding a null to an empty array
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

Add ability to open PR as draft to Submit-PullRequest.ps1 (#1489)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

update http-pipeline sample
  tools/test-proxy/sample-clients/net/http-pipeline/Program.cs
Owners: @azure/azure-sdk-eng

Enable CI triggers on internal pipelines.
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Found one more master reference.
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Add Operation ctor analyzer
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0016Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/OperationAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/OperationConstructorAnalyzer.cs
Owners: none

another test
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0016Tests.cs
Owners: none

names
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0016Tests.cs
Owners: none

Add Operation ctor analyzer (#1505)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0016Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/OperationAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/OperationConstructorAnalyzer.cs
Owners: none

Ensure version is sorted as semVer
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Add ReleaseVersionSemVer to ensure version can be sorted (#1502)
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Updated tool help.
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Update eng/common dev version template.
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @azure/azure-sdk-eng

Remove extra feed
  NuGet.Config
Owners: none

Skip API create step when running from feature branch with non GA version
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Use default branch variable instead of hardcoding master branch name
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

[Java API view] Show all annotations by default (#1491)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Remove extra feed (#1509)
  NuGet.Config
Owners: none

Revert "Remove extra feed (#1509)"
  NuGet.Config
Owners: none

Revert "Remove extra feed" (#1510)
  NuGet.Config
Owners: none

Disable the feed analysis
  .azure-pipelines/dotnet.yml
Owners: none

Disable the feed analysis (#1511)
  .azure-pipelines/dotnet.yml
Owners: none

playback had an error when adding to completed_sessions. updated the GetUpstreamUri to not mangle anything with more complicated upstream
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/InMemorySessionManager.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
Owners: @azure/azure-sdk-eng

Add ReleaseTrackingOnly option to Prepare-Release
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

Add ReleaseTrackingOnly option to Prepare-Release (#1476)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

Updated as per review comments
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Pass subscription id to New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Pass subscription id to New-TestResources.ps1 (#1513)
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

[matrix] Handle null values when generating display names
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @azure/azure-sdk-eng

Fix issue processing matrices where the base matrix is only an import
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

[matrix] Handle null values when generating display names (#1514)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
Owners: @azure/azure-sdk-eng
