Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @damirault @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Create issues from comments
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

Make code line work from convos tab
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
Owners: none

List review language repo first; format code based on review language repo
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentThreadModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCommentsModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/LegacyReview.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
Owners: none

Use dropdown menu; don't reorder based on review language
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentThreadModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCommentsModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/LegacyReview.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
Owners: none

use table for dropdown
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

Add support for dogfood cloud
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Owners: @heaths, @danieljurek, @weshaggard

Render review file in server side to show/hide documentation
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIView/CodeLine.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/documentation.ts
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
Owners: none

Move PR member additions into Submit Pull Request Script
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-issue-assignees.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add rate limiter to GitHub calls. (#996)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Helpers/GitHubHelpers.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Comment out ApiView link
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
Owners: none

New logo for APIView tool
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/apiview.png
Owners: none

Render code file always when documentation is enabled
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
Owners: none

PR fb
  src/dotnet/APIView/APIViewWeb/Models/CommentThreadModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCommentsModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

Make 2x3 table
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

line wrapping
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

Create GH issues from comments (#1023)
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

Update dotnet docs logic in tools repo to prevent overwrite when sync happens (#1022)
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Add Label and Assignee
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Bug fixes and review suggestions
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/documentation.ts
Owners: none

Bug fixes and review suggestions
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Owners: none

Shortened param name to show or hide documentation
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Owners: none

Removed css for text and updated property name in reviewmodel with binding param name doc
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Owners: none

Add Out-Null to prevent output of cmdlet's return value to the console. Logging is not affected.
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Add New-ReleaseAsset.ps1
  eng/common/scripts/New-ReleaseAsset.ps1
Owners: @azure/azure-sdk-eng

Review changes
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/wwwroot/favicon.ico
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/apiview.png
Owners: none

Handle checkbox click event
  src/dotnet/APIView/APIViewWeb/Client/src/documentation.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Owners: none

Add Tools PR creator as reviewer and assignee in Sync PR (#989)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update dependencies and adopt new config API.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Startup.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

WIP: Not building, just playing with integrating an existing chunk of code that I know works.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Constants.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/Configuration/ConfigurationService.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/Configuration/IConfigurationService.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/GitHub/GitHubClientProvider.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/GitHub/GitHubRateLimiter.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/GitHub/GitHubWebhookSignatureValidator.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/GitHub/IGitHubClientProvider.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Revert "Add Tools PR creator as reviewer and assignee in Sync PR (#989)"
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Revert "Add Tools PR creator as reviewer and assignee in Sync PR (#989)" (#1041)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Render review file in server side to show/hide documentation (#1033)
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIView/CodeLine.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/documentation.ts
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
Owners: none

Update get-codeowners powershell file
  eng/common/scripts/get-codeowners.ps1
Owners: @azure/azure-sdk-eng

Update alias verification logic
  eng/common/scripts/get-codeowners.ps1
Owners: @azure/azure-sdk-eng

remove label functionality
  eng/common/scripts/get-codeowners.ps1
Owners: @azure/azure-sdk-eng

Re-Add Labels extraction functionality to eng\common\scripts\get-codeowners.ps1
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Owners: @azure/azure-sdk-eng

Update eng\common\pipelines\templates\steps\get-pr-owners.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Owners: @azure/azure-sdk-eng

Use logging from eng\common\scripts\logging.ps1
  eng/common/scripts/get-codeowners.ps1
Owners: @azure/azure-sdk-eng

Add Out-Null to prevent output of cmdlet's return value to the console. Logging is not affected. (#1029)
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Add Tools PR creator as reviewer and assignee in Sync PR
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/add-issue-assignees.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng
