Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @praveenkuttappan, @AlexGhiondea, @benbp

slight spacing adjustment
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Owners: @azure/azure-sdk-eng

addedcommit hash
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

fixing krista's comments
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

Update packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

Update packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

making pr fixes
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

Krista fix on optional
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

removing pass
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

optional
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

remove unsued param
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

removing unsude return
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

making request builder a part of operation class
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

updated code
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/code_model.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation_group.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/paging_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/parameter.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/rest.py
Owners: none

updating commit
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

fixing code_model call
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

fixing link
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

Add basic ga tag w/ settable campaignid (#1848)
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Owners: @azure/azure-sdk-eng

Update FilterPoliCheckResults.ps1
  eng/common/scripts/FilterPoliCheckResults.ps1
Owners: @azure/azure-sdk-eng

Update FilterPoliCheckResults.psq
  eng/common/scripts/FilterPoliCheckResults.ps1
Owners: @azure/azure-sdk-eng

ADL Formatting (#1822)
  packages/python-packages/protocol-stub-generator/README.md
  packages/python-packages/protocol-stub-generator/autorest_vendor/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/_version.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/base_builder.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/base_model.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/base_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/client.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/code_model.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/constant_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/credential_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/credential_schema_policy.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/dictionary_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/enum_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/imports.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/list_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/lro_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/lro_paging_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/object_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation_group.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/paging_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/parameter.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/parameter_list.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/primitive_schemas.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/property.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder_parameter.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder_parameter_list.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/rest.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/schema_request.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/schema_response.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/setup.py
Owners: none

Update FilterPoliCheckResults.ps1
  eng/common/scripts/FilterPoliCheckResults.ps1
Owners: @azure/azure-sdk-eng

Update help text for go API review
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Generalize CacheChunkOrderingFailureClassifier to handle failures of the cache task observed in C++ build pipelines (#1842)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheChunkOrderingFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @praveenkuttappan

Update help text for go API review (#1850)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Add ability to leave SourceBranch empty when queueing a build (builds using the default branch)
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Owners: @azure/azure-sdk-eng

Initial scripts and pipeline for stress test discovery/build/push
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/Dockerfile
  tools/stress-cluster/chaos/examples/network-stress-example/install.sh
  tools/stress-cluster/chaos/examples/network-stress-example/poll.sh
  tools/stress-cluster/chaos/examples/network-stress-example/templates/network_loss.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network_stress_example/Dockerfile
  tools/stress-cluster/chaos/examples/stress-deployment-example/.gitignore
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/install.sh
  tools/stress-cluster/chaos/examples/stress-deployment-example/parameters.json
  tools/stress-cluster/chaos/examples/stress-deployment-example/templates/deploy-job.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/test-resources.bicep
  tools/stress-cluster/cluster/azure/parameters/prod.json
  tools/stress-cluster/scripts/deploy_stress_tests.ps1
  tools/stress-cluster/scripts/find_all_stress_packages.ps1
Owners: @azure/azure-sdk-eng

Switch all publishing to archetypr-sdk-too-dotnet.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

Switch to single pipeline for publishing to azure-sdk-for-net feed
  .azure-pipelines/dotnet.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  src/dotnet/Azure.ClientSdk.Analyzers/ci.yml
  tools/CreateRuleFabricBot/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/test-proxy/ci.yml
  tools/version-guard/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @benbp

Refactor params rendering. Remove internal labels.
  src/swift/Sources/Models/TokenFile.swift
  src/swift/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/Tests/TestSwiftFile.swift
Owners: none

Fix Any type unsupported.
  src/swift/Sources/Models/TypeModel.swift
  src/swift/Tests/TestSwiftFile.swift
Owners: none

SwiftAPIView: Fix `Any` type not supported and remove internal labels from parameter rendering (#1854)
  src/swift/Sources/Models/TokenFile.swift
  src/swift/Sources/Models/TypeModel.swift
  src/swift/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/Tests/TestSwiftFile.swift
Owners: none

Verify API surface level against all approved revisions for GA releases (#1847)
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Fix display bug.
  src/swift/Sources/Models/TokenFile.swift
Owners: none

Fix display bug. (#1855)
  src/swift/Sources/Models/TokenFile.swift
Owners: none

Improve stress test deploy script command line flags and execution model
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/scripts/deploy_stress_tests.ps1
  tools/stress-cluster/scripts/find_all_stress_packages.ps1
Owners: @azure/azure-sdk-eng

Update stress test release pipeline arguments
  eng/pipelines/stress-test-release.yml
Owners: @azure/azure-sdk-eng

Fix two Java APIView issues: 1) duplicate maven output 2) inclusion of comments into the APIView when the comment was in a certain format, notably:
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Update version
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Owners: none

Fix two Java APIView issues (#1856)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Fixes to get everything working
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/.gitignore
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.sh
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/values.yaml
  tools/stress-cluster/scripts/deploy_stress_tests.ps1
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @praveenkuttappan
/tools/pipeline-witness/ @weshaggard @praveenkuttappan
/tools/webhook-router/ @weshaggard @praveenkuttappan
/tools/github-issues/ @weshaggard @praveenkuttappan @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @benbp
