Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @jsquire, @azure/azure-sdk-eng, @sima-zhu, @weshaggard, @benbp, @heaths, @praveenkuttappan, @scbedd, @mikeharder, @ckairen, @changlong-liu, @tadelesh, @dw511214992, @qiaozha, @MaryGao, @maorleger, @chunyu3, @zzvswxy

rework the Evaluate-Target-Dir function. swap away from binary curl to specific call.
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Short circuit msdocs publish if no package locations are specified (#3261)
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Owners: @sima-zhu, @weshaggard, @benbp

cleaning up a ton of parameters and their docstrings.
  tools/asset-sync/assets.Tests.Helpers.ps1
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

bulk rename within assets.ps1. all functionality have been renamed to PascalCase naming
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Fix issue when language name is incorrect in json file
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Update the version tool to the latest
  eng/common/scripts/get-codeowners.ps1
Owners: @sima-zhu, @weshaggard, @benbp

[http-fault-injector] Update README (#3268)
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng

Remove REST calls that are rejected on new PAT
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Owners: @weshaggard, @benbp

allowing the test-proxy to update the directory from which recordings are retrieved without restarting the proxy
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

.github/CODEOWNERS:

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @AlexGhiondea @jsquire

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @sima-zhu @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/webhook-router/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard @AlexGhiondea
/tools/pipeline-generator/       @weshaggard @benbp
/tools/test-proxy/               @scbedd @mikeharder
/tools/stress-cluster/           @benbp @ckairen
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/js-sdk-release-tools/     @dw511214992 @qiaozha @MaryGao
/tools/keyvault-mock-attestation @maorleger
/tools/sdk-generation-pipeline   @dw511214992 @chunyu3 @zzvswxy
