Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @praveenkuttappan, @AlexGhiondea, @benbp

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @praveenkuttappan
/tools/pipeline-witness/ @weshaggard @praveenkuttappan
/tools/webhook-router/ @weshaggard @praveenkuttappan
/tools/github-issues/ @weshaggard @praveenkuttappan @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @benbp

consume fixed exposed header fix
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

Add Snippet Generator as a tool to be published, update dotnet.yml to publish to azure-sdk-tools devOps feed
  .azure-pipelines/dotnet.yml
  dotnet.proj
  src/dotnet/SnippetGenerator/CSharpProcessor.cs
  src/dotnet/SnippetGenerator/DirectoryProcessor.cs
  src/dotnet/SnippetGenerator/MarkdownProcessor.cs
  src/dotnet/SnippetGenerator/Program.cs
  src/dotnet/SnippetGenerator/RegexAsyncExtensions.cs
  src/dotnet/SnippetGenerator/Snippet.cs
  src/dotnet/SnippetGenerator/SnippetGenerator.Tests/CSharpProcessorTests.cs
  src/dotnet/SnippetGenerator/SnippetGenerator.Tests/SnippetGenerator.Tests.csproj
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
  src/dotnet/SnippetGenerator/SnippetGenerator.sln
Owners: none

Update dotnet.yml
  .azure-pipelines/dotnet.yml
Owners: none

update dotnet.yml
  .azure-pipelines/dotnet.yml
Owners: none

update dotnet.yml pipeline
  .azure-pipelines/dotnet.yml
Owners: none

Update Azure.ClientSdk.Analyzer to net5.0
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/Azure.ClientSdk.Analyzers.Tests.csproj
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Owners: none

Update dotnet.yml ci triggers
  .azure-pipelines/dotnet.yml
Owners: none

Update dotnet.yml ci triggers
  .azure-pipelines/dotnet.yml
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
Owners: none

Update Article Type for Docs.MS Doc Updates (#1827)
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/update-docs-metadata.ps1
  scripts/powershell/update-docrepo-from-source.ps1
Owners: @azure/azure-sdk-eng

add generalregexsanitizer, tests checking the default extension reset. just need to add tests for the general regex sanitizer
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/GeneralRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/UriRegexSanitizer.cs
Owners: @azure/azure-sdk-eng

adjust proxy dependency
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

updating readme tohave autorest
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

updating readme tohave autorest
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

readme
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

fix setup
  packages/python-packages/protocol-stub-generator/setup.py
Owners: none

formatting readme
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

request builder
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

progress on tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
Owners: @azure/azure-sdk-eng

Generalize CacheChunkOrderingFailureClassifier to handle failures of the cache task observed in C++ build pipelines
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheChunkOrderingFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @praveenkuttappan

commit unit test for the generalRegexSanitizer
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/GeneralRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderRegexSanitizer.cs
Owners: @azure/azure-sdk-eng

clean up using statements
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/BodilessMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyKeySanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/GeneralRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/RemoveHeaderSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/ReplaceRequestSubscriptionId.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/UriRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/StorageRequestIdTransform.cs
Owners: @azure/azure-sdk-eng

remove accidentally added Response.Headers adds
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Owners: @azure/azure-sdk-eng

Remove ItemGroup that removes SnippetGenerator Test
  src/dotnet/SnippetGenerator/SnippetGenerator.Tests/SnippetGenerator.Tests.csproj
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
Owners: none

Remove ItemGroup that removes SnippetGenerator Test
  dotnet.proj
  src/dotnet/SnippetGenerator/SnippetGenerator.Tests/SnippetGenerator.Tests.csproj
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
Owners: none

Add Snippet Generator as a tool to be published, update dotnet.yml to… (#1834)
  .azure-pipelines/dotnet.yml
  dotnet.proj
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/Azure.ClientSdk.Analyzers.Tests.csproj
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
  src/dotnet/SnippetGenerator/CSharpProcessor.cs
  src/dotnet/SnippetGenerator/DirectoryProcessor.cs
  src/dotnet/SnippetGenerator/MarkdownProcessor.cs
  src/dotnet/SnippetGenerator/Program.cs
  src/dotnet/SnippetGenerator/RegexAsyncExtensions.cs
  src/dotnet/SnippetGenerator/Snippet.cs
  src/dotnet/SnippetGenerator/SnippetGenerator.Tests/CSharpProcessorTests.cs
  src/dotnet/SnippetGenerator/SnippetGenerator.Tests/SnippetGenerator.Tests.csproj
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
  src/dotnet/SnippetGenerator/SnippetGenerator.sln
Owners: none

run again
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

clean up usings
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
Owners: @azure/azure-sdk-eng

[Test-Proxy] Adding docs, Admin QoL features, GeneralizedRegexSanitizer (#1837)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/BodilessMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyKeySanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/GeneralRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/RemoveHeaderSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/ReplaceRequestSubscriptionId.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/UriRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/StorageRequestIdTransform.cs
  tools/test-proxy/docker/README.md
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

fixing i.type comment w/ Krista
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

missing depedency
  packages/python-packages/protocol-stub-generator/setup.py
Owners: none

running commands
  packages/python-packages/protocol-stub-generator/README.md
Owners: none

Add tools directory to nuget package
  dotnet.proj
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
Owners: none

Verify release version against all approved revisions
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Owners: none

Add tools directory to nuget package (#1846)
  dotnet.proj
  src/dotnet/SnippetGenerator/SnippetGenerator.csproj
Owners: none

Revert analyzer supported version to 3.1
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Owners: none

Set netcore to 2.1
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Owners: none

Update .net supported version 2.1
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/Azure.ClientSdk.Analyzers.Tests.csproj
Owners: none

Verify API surface level against all approved revisions for GA releases
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

hotfix release should check all approved revisions (#1807)
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/Azure.ClientSdk.Analyzers.Tests.csproj
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Owners: none

add basic ga tag w/ settable campaignid
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Owners: @azure/azure-sdk-eng
