Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @praveenkuttappan, @AlexGhiondea, @benbp

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @praveenkuttappan
/tools/pipeline-witness/ @weshaggard @praveenkuttappan
/tools/webhook-router/ @weshaggard @praveenkuttappan
/tools/github-issues/ @weshaggard @praveenkuttappan @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @benbp

Check in stress deployment example compiled test-resources.json
  tools/stress-cluster/chaos/examples/stress-deployment-example/.gitignore
  tools/stress-cluster/chaos/examples/stress-deployment-example/test-resources.json
Owners: @azure/azure-sdk-eng

Change stress test script filename convention
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/scripts/deploy-stress-tests.ps1
  tools/stress-cluster/scripts/find-all-stress-packages.ps1
Owners: @azure/azure-sdk-eng

Function naming and output improvements
  tools/stress-cluster/scripts/deploy-stress-tests.ps1
Owners: @azure/azure-sdk-eng

Move stress testing scripts to eng/common
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/pipelines/stress-test-release.yml
Owners: @azure/azure-sdk-eng

Set default commitish to main for stress test release
  eng/pipelines/stress-test-release.yml
Owners: @azure/azure-sdk-eng

test updates
  packages/python-packages/protocol-stub-generator/tests/__pycache__/test_json.cpython-39-pytest-6.2.4.pyc
  packages/python-packages/protocol-stub-generator/tests/__pycache__/test_serializer.cpython-39-pytest-6.2.4.pyc
Owners: none

test
  packages/python-packages/protocol-stub-generator/tests/test_json.py
  packages/python-packages/protocol-stub-generator/tests/test_serializer.py
Owners: none

tests
  packages/python-packages/protocol-stub-generator/tests/test_json.py
  packages/python-packages/protocol-stub-generator/tests/test_serializer.py
Owners: none

tests
  packages/python-packages/protocol-stub-generator/tests/test_json.py
Owners: none

tests
  packages/python-packages/protocol-stub-generator/tests/test_json.py
Owners: none

Remove dotnet.proj, fix src\dotnet\Azure.ClientSdk.Analyzers\ci.yml
  dotnet.proj
  src/dotnet/Azure.ClientSdk.Analyzers/ci.yml
  tools/pipeline-generator/ci.yml
Owners: @weshaggard, @benbp

Update eng\pipelines\templates\stages\archetype-sdk-tool-dotnet.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

SkipDotNetInstall
  src/dotnet/Azure.ClientSdk.Analyzers/ci.yml
  tools/CreateRuleFabricBot/ci.yml
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/test-proxy/ci.yml
  tools/version-guard/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @benbp

Update MacOS deployment target.
  src/swift/SwiftAPIView.xcodeproj/project.pbxproj
Owners: none

Add SkipDotNetInstall to tools pipelines
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/version-guard/Microsoft.Azure.Sdk.Tools.VersionGuard/Microsoft.Azure.Sdk.Tools.VersionGuard.csproj
  tools/version-guard/ci.yml
Owners: @azure/azure-sdk-eng

make it a bit easier to understand what to do with x-recording-upstream-base-uri
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

label it
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

Code review feedback.
  src/swift/SwiftAPIView.xcodeproj/project.pbxproj
Owners: none

Initial scripts and pipeline for stress test discovery/build/push (#1851)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/Dockerfile
  tools/stress-cluster/chaos/examples/network-stress-example/install.sh
  tools/stress-cluster/chaos/examples/network-stress-example/poll.sh
  tools/stress-cluster/chaos/examples/network-stress-example/templates/network_loss.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network_stress_example/Dockerfile
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/install.sh
  tools/stress-cluster/chaos/examples/stress-deployment-example/parameters.json
  tools/stress-cluster/chaos/examples/stress-deployment-example/templates/deploy-job.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/test-resources.bicep
  tools/stress-cluster/chaos/examples/stress-deployment-example/test-resources.json
  tools/stress-cluster/chaos/examples/stress_deployment_example/.gitignore
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/azure/parameters/prod.json
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/.gitignore
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.sh
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/values.yaml
Owners: @azure/azure-sdk-eng

Switch to using VersionPrefix
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/ci.yml
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Owners: @azure/azure-sdk-eng

Set default commitish to main for stress test release (#1862)
  eng/pipelines/stress-test-release.yml
Owners: @azure/azure-sdk-eng

Swift APIView: update MacOS deployment target (#1860)
  src/swift/SwiftAPIView.xcodeproj/project.pbxproj
Owners: none

Ignore CreateRuleFabricBot Tests
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/LiveTests.cs
Owners: @azure/azure-sdk-eng

fix bug foudn for paging
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Owners: none

Clarify `x-recording-upstream-base-uri` (#1861)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

wip
  packages/python-packages/protocol-stub-generator/tests/test_json.py
  packages/python-packages/protocol-stub-generator/tests/test_serializer.py
Owners: none

wip
  packages/python-packages/protocol-stub-generator/tests/test_serializer.py
Owners: none

Deploy for stress tests at resource group scope
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_container_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_env_volumes.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_deploy.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
Owners: @azure/azure-sdk-eng

[stress test] Support scenario name injection into job/volume properties
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_container_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_env_volumes.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
Owners: @azure/azure-sdk-eng

Bump stress-test-addons helm version
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
Owners: @azure/azure-sdk-eng

testing fix
  packages/python-packages/protocol-stub-generator/tests/test_json.py
  packages/python-packages/protocol-stub-generator/tests/test_serializer.py
Owners: none

Basic tests and Bug Fix (#1859)
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/tests/test_json.py
  packages/python-packages/protocol-stub-generator/tests/test_serializer.py
Owners: none

Swift filter button and create review help text for swift reviews
  src/dotnet/APIView/APIViewWeb/Languages/SwiftLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

Fixed typo
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Ignore CreateRuleFabricBot LiveTest
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/LiveTests.cs
Owners: @azure/azure-sdk-eng

Switch all Tools to net feed (#1853)
  .azure-pipelines/dotnet.yml
  dotnet.proj
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  src/dotnet/Azure.ClientSdk.Analyzers/ci.yml
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/LiveTests.cs
  tools/CreateRuleFabricBot/ci.yml
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/version-guard/Microsoft.Azure.Sdk.Tools.VersionGuard/Microsoft.Azure.Sdk.Tools.VersionGuard.csproj
  tools/version-guard/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @benbp

move SnippetGenrator to tools directory
  dotnet.proj
  src/dotnet/SnippetGenerator/SnippetGenerator.sln
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator.Tests/Azure.Sdk.Tools.SnippetGenerator.Tests.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator.Tests/CSharpProcessorTests.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/CSharpProcessor.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/DirectoryProcessor.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/MarkdownProcessor.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Program.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/RegexAsyncExtensions.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Snippet.cs
  tools/snippet-generator/SnippetGenerator.sln
  tools/snippet-generator/ci.yml
Owners: @azure/azure-sdk-eng

SkipDotNetInstall for snippet-generator
  dotnet.proj
  tools/snippet-generator/ci.yml
Owners: @azure/azure-sdk-eng

use release configuration for packaging
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

Switch to extends template
  tools/snippet-generator/ci.yml
Owners: @azure/azure-sdk-eng
