Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Minor build number fixes
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

Only return issues for invalid customer issues report. (#1271)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Adde new variable group to all pipelines
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Support zero-padding of build versions more generically in SemVer script
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

take advantage of long paths in git config
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Fix pre-release label conditional for HasValidPrereleaseLabel in semver script
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

Adde new variable group to all pipelines (#1275)
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Added skip package json config
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Update the indentation
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Resolve git longpath error when applying documentation updates (#1270)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Set default convention for build number separator in semver script
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

Added a step of skipping package json update for spring boot packages (#1274)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Support alpha and azure pipeline build version formats for SemVer parsing and sorting (#1273)
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

Hide automatic reviews by default and show them only if selected
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Update filters in request
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Update filters in request
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Add helper me3thod for routing data
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
Owners: none

Fix as per review comment
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
Owners: none

support frameworksindex xml as a source for the autogenerated xml
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Hide automatic reviews by default and show them only if selected (#1281)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fix build break due to nullable string ref
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
Owners: none

Fix build break due to nullable string ref (#1283)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
Owners: none

Fixed the bug of replacing img src with href text
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

Move common code into eng common in tools
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Fixed the bug of replacing img src with href text (#1285)
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

Fix test path syntax
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Add error handling
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @azure/azure-sdk-eng

Add Devops Release Item scripts
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

Move common code into eng common in tools (#1287)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Return review URL in response to auto API review create request
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Owners: none

Add resource provisioning secrets to CI/UP pipelines, for smoke tests on release
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Use keyvault secret readable names for variable groups in pipeline gen yaml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Refactor the code that creates the capabilities to be testable.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/BaseCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
Owners: @azure/azure-sdk-eng

More code cleanup and moving of a comment.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
Owners: @azure/azure-sdk-eng

Add powershell script for validating pipelines yaml
  scripts/powershell/Validate-PipelineYaml.ps1
  scripts/powershell/Validate-PipelineYaml.ps1.md
Owners: none

Move to using Newtonsoft Json for creating the payload.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/TriageConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
Owners: @azure/azure-sdk-eng

Use the method to add the entry when reading the cofiguration from the file.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
Owners: @azure/azure-sdk-eng

Add git tasks pipeline YAML.
  eng/pipelines/git-tasks.yml
Owners: @azure/azure-sdk-eng

Setting up powershell script.
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/pipelines/git-tasks.yml
Owners: @azure/azure-sdk-eng

Tweak checkout and script paths.
  eng/pipelines/git-tasks.yml
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
