Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Remove default line.
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/local.settings.Designer.cs
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio

Set multiple sparse checkout paths in one command/job
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

Remove CD operation.
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

DNS resolution failure classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DnsResolutionFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

tighten up changelog verification
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Remove designer file.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/local.settings.Designer.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Allow propogation of SetDevVersion.
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @azure/azure-sdk-eng

Parse MD files coming over http as raw markdown files
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Add Go links to cache to enable faster validation
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Parse MD files coming over http as raw markdown files (#1580)
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Ensure releaseDate is in the appriopriate format.
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Add Go links to cache to enable faster validation (#1581)
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Run link verification even on failure
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Move timeout to under Job
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Enable link guidance checks for the cache
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Only enforce linkguidance for MD files
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

Changes based on feedback.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DnsResolutionFailureClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Forgot the end-line.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DnsResolutionFailureClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Update error messages.
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Allow use of SetDevVersion locally and across stages.
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ResponseTransform.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ResponseTransform.cs
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Owners: @azure/azure-sdk-eng

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @azure/azure-sdk-eng

Additional Functionality - test-proxy (#1574)
  .gitignore
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TransformTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.sln
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ResponseTransform.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/BodilessMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/ReplaceRequestSubscriptionId.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/StripRequestUri.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/ApiVersionTransform.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/ClientIdTransform.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/StorageRequestIdTransform.cs
Owners: @azure/azure-sdk-eng

Remove link guidance from java link checks
  eng/pipelines/githubio-linkcheck.yml
Owners: @azure/azure-sdk-eng

ensure clientIdTransform doesn't attempt to add the same header twice
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Transforms/ClientIdTransform.cs
Owners: @azure/azure-sdk-eng

Set multiple sparse checkout paths in one command/job (#1577)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

Add "Couldn't resolve host name"
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DnsResolutionFailureClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Sync Devops helper scripts from azure-sdk repo
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

Retrun false after error
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Sync Devops helper scripts from azure-sdk repo (#1584)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

DNS resolution failure classifier. (#1578)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DnsResolutionFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Change from master to main for pipeline generation. (#1572)
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

- Fix #725: AZC0008: ClientOptions should have a nested enum called ServiceVersion should not be triggered for abstract classes - Fix #1310: Handle events that are part of client API surface
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0008Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientOptionsAnalyzer.cs
Owners: none

Allow propogation of SetDevVersion. (#1579)
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @azure/azure-sdk-eng

Make RELEASE_TITLE_REGEX more specific (#1524)
  doc/common/common_engsys.md
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Add more partner subscriptions to live test cleanup pipeline
  eng/pipelines/live-test-cleanup.yml
Owners: @azure/azure-sdk-eng

API-based default branch script.
  eng/common/scripts/Set-DefaultBranchVariable.ps1
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
