Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Switch to use github API
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @azure/azure-sdk-eng

Make broken pipe classifier cover more scenarios.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/MavenBrokenPipeFailureClassifier.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

Additional changes to support C++
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
Owners: none

Updated favicon to generated favicon.ico
  src/dotnet/APIView/APIViewWeb/wwwroot/favicon.ico
Owners: none

Use github API to delete branches
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/pipelines/templates/jobs/tools-cleanup.yml
Owners: @azure/azure-sdk-eng

New logo for APIView tool (#1036)
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/wwwroot/favicon.ico
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/apiview.png
Owners: none

Add a classifier for detecting code signing failures.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CodeSigningFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @damirault @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
