Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Fix bug in git branch push
  eng/common/scripts/git-branch-push.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fix bug in git branch push (#1167)
  eng/common/scripts/git-branch-push.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add Invoke-DevOpsAPI.ps1, Add functions for Canceling and Listing Builds
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fix issue where there were definition ID collisions in module-info output
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Adding extra metadata into the review output to indicate the package name, package version, and enabling the language output.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Owners: none

Regenerate New-TestResources.ps1 markdown
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Support platform specific arm template parameters and legacy hashtable format
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Update arm template parameter comment to include top level key
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Handle duplicate keys more explicitly for arm and env vars
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Update subscription configuration schema to include new parameters
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Restore AdditionalParameters. Merge ArmTemplateParameters from stringified hash literal
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Make sure we always log in as app or provisioner
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Remove arm template parameter merge logic from deploy template
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

revert variable name to environmentVariables to fix post-scripts
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Handle empty arm template parameters better
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Fix to code-signing classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CodeSigningFailureClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Make sure we always log in as app or provisioner (#1175)
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Refactor eng/common/README.md
  README.md
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Add merge hashes function to New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add merge hashes function to New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add env variable overwrite warning. Use ContainsKey checks
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Fix to code-signing classifier. (#1176)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CodeSigningFailureClassifier.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Temporarily manually fix invalid generated markdown links
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Update subscription configuration schema to include new parameters (#1163)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Add doc directory
  README.md
  doc/README.md
  doc/common/common_engsys.md
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Refactor eng/common/README.md (#1178)
  doc/README.md
  doc/common/common_engsys.md
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Add debug flag to arm deployment command
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Remove invalid characters in basename sourced from username
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Only set debug preference when $CI is true
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Fix broken eng/common doc link
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Update test resource clean-up scripts
  eng/pipelines/live-test-cleanup.yml
  tools/live-test-cleanup/cleanup.ps1
Owners: @azure/azure-sdk-eng

Update test resource clean-up scripts (#1184)
  eng/pipelines/live-test-cleanup.yml
  tools/live-test-cleanup/cleanup.ps1
Owners: @azure/azure-sdk-eng

Add Package version details and approval fields
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCodeFileModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fix broken eng/common doc link (#1185)
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Handle JS packages with prefix @microsoft
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Update model version number from 18 to 19.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Owners: none

Change live test resource DeleteAfterHours tag to 8 hours
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Change domain for FabricBot
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
Owners: @azure/azure-sdk-eng

python CI needs updated name of exclude_path instead of excludePath
  eng/common/scripts/update-docs-ci.ps1
Owners: @azure/azure-sdk-eng

Add debug flag to arm deployment command (#1188)
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard
