Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jsquire, @ronniegeraghty, @azure/azure-sdk-eng, @sima-zhu, @weshaggard, @benbp, @heaths, @praveenkuttappan, @dw511214992, @qiaozha, @MaryGao, @changlong-liu, @tadelesh, @mikeharder, @chunyu3, @zzvswxy, @ckairen, @scbedd

.github/CODEOWNERS:

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @jsquire @ronniegeraghty
/.github/CODEOWNERS              @azure/azure-sdk-eng

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @sima-zhu @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard
/tools/js-sdk-release-tools/     @dw511214992 @qiaozha @MaryGao
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/perf-automation/          @mikeharder @benbp
/tools/pipeline-generator/       @weshaggard @benbp
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/  @dw511214992 @chunyu3 @zzvswxy @weshaggard
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/stress-cluster/           @benbp @ckairen
/tools/test-proxy/               @scbedd @mikeharder
/tools/webhook-router/           @praveenkuttappan @weshaggard

Update sync-directory.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Bump versions and update README.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
Owners: @azure/azure-sdk-eng

[Cadl APIView] Support aliases and augment decorators (#4668)
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
  tools/apiview/emitters/cadl-apiview/src/version.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
Owners: @azure/azure-sdk-eng

Change the way of using env var (#4701)
  eng/common/scripts/Queue-Pipeline.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @sima-zhu, @weshaggard, @benbp, @azure/azure-sdk-eng

stress matrix docker args
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @sima-zhu, @weshaggard, @benbp

[Perf] Add monitor-ingestion (#4690)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @mikeharder, @benbp

Update docs CI configuration
  eng/pipelines/update-pool-agent.yml
Owners: @azure/azure-sdk-eng

ensure that we set safedirectory on all entrypoints
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Owners: @scbedd, @mikeharder

Add 30 seconds delay when running upgrade review sandbox pipeline
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fetch retryafter correctly
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Owners: none

Run async task with await
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none
