Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @JimSuplizio, @qiaozha, @MaryGao, @raych1, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration
/.github/CODEOWNERS                    @azure/azure-sdk-eng

# Repository tooling
/tools/github                          @jsquire @ronniegeraghty
/tools/github-issues                   @jsquire @ronniegeraghty

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/eng/common/                           @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/             @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                                @azure/azure-sdk-eng
/tools/check-enforcer/                 @praveenkuttappan @weshaggard
/tools/code-owners-parser/             @konrad-jamrozik @JimSuplizio
/tools/github-issues/                  @praveenkuttappan @weshaggard
/tools/github-event-processor/         @JimSuplizio @benbp 
/tools/github-team-user-store/         @JimSuplizio @weshaggard
/tools/js-sdk-release-tools/           @qiaozha @MaryGao
/tools/mock-service-host/              @raych1 @tadelesh
/tools/perf-automation/                @mikeharder @benbp
/tools/pipeline-generator/             @weshaggard @benbp
/tools/pipeline-witness/               @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/        @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/                    @raych1 @tadelesh
/tools/stress-cluster/                 @benbp @ckairen
/tools/test-proxy/                     @scbedd @mikeharder
/tools/webhook-router/                 @praveenkuttappan @weshaggard

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers  @jsquire @pallavit @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @heaths @m-nash

more cleanup
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestLogger.cs
Owners: @scbedd, @mikeharder

test
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

Fix props
  tools/test-proxy/Directory.Build.props
Owners: @scbedd, @mikeharder

move targets to test directory
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Directory.Build.targets
Owners: @scbedd, @mikeharder

remove prop
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
Owners: @scbedd, @mikeharder

Sanitize requests when logging (#6636)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Directory.Build.targets
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Properties/AssemblyInfo.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

Updates
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0020Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/Shared/MutableJsonDocument.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

Change logging category to be TestProxy
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
Owners: @scbedd, @mikeharder

update readme
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

add Debug to readme
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

Update to use full namespace
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

revert docker
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

revert
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

add caveat for .NET
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0003Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0004Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0015Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0017Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0018Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

Change logging category to include TestProxy (#6643)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @scbedd, @mikeharder

Update GetFromDevopsAsync Retry Logic
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Owners: @azure/azure-sdk-eng

Update GetFromDevopsAsync Retry Logic (#6616)
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Owners: @azure/azure-sdk-eng

Pylint release (#6634)
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

Dictionary Syntax
  eng/common/scripts/Update-DocsMsPackages2.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

[Perf][Python] Don't install package in editable mode
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Python.cs
Owners: @mikeharder, @benbp

adding thoughts, it won't work though because of deprecated function
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @scbedd, @mikeharder

update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0018Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

Remove $UpdatePackageMetadata, it can be handled in other places
  eng/common/scripts/common.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Update Selenium Driver Version
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
Owners: @azure/azure-sdk-eng

Update Selenium Driver Version (#6668)
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
Owners: @azure/azure-sdk-eng

[Perf][Python] Don't install package in editable mode (#6652)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Python.cs
Owners: @mikeharder, @benbp

update line
  tools/test-proxy/documentation/asset-sync/README.md
Owners: @scbedd, @mikeharder

bump the proxy version
  eng/common/testproxy/target_version.txt
Owners: @konrad-jamrozik, @weshaggard, @benbp

add a call to addsimpleconsole
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @scbedd, @mikeharder

bump the proxy version (#6670)
  eng/common/testproxy/target_version.txt
Owners: @konrad-jamrozik, @weshaggard, @benbp

Only have a single DefinitionId for each type
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstDumper.cpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstDumper.hpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstNode.cpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/JsonDumper.hpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/TextDumper.hpp
  tools/apiview/parsers/cpp-api-parser/ParseTests/tests.cpp
Owners: @azure/azure-sdk-eng

Test fixes
  tools/apiview/parsers/cpp-api-parser/ParseTests/tests.cpp
Owners: @azure/azure-sdk-eng

Set exit code to 0 on success. The last executable to run (pip or docker or other) may be passed through
  eng/common/scripts/Update-DocsMsPackages2.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

update asset-sync readme to reflect reality as far as breadcrumb and the like
  tools/test-proxy/documentation/_images/assets_on_disk.png
  tools/test-proxy/documentation/_images/example_assets_store.png
  tools/test-proxy/documentation/_images/organization_of_assets.png
  tools/test-proxy/documentation/asset-sync/README.md
Owners: @scbedd, @mikeharder

add a new test job, but disable all the rest so we don't exhaust too much agent usage while we figure this out
  tools/test-proxy/tests.yml
Owners: @scbedd, @mikeharder

add rest of tests back into the PR
  tools/test-proxy/tests.yml
Owners: @scbedd, @mikeharder

Removed one: attribute; fixed multiple duplicate deprecated attribute; removed extra space in defaulted parameters
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstNode.cpp
Owners: @azure/azure-sdk-eng

Fix Asset Docs (#6677)
  tools/test-proxy/documentation/_images/assets_on_disk.png
  tools/test-proxy/documentation/_images/example_assets_store.png
  tools/test-proxy/documentation/_images/organization_of_assets.png
  tools/test-proxy/documentation/asset-sync/README.md
Owners: @scbedd, @mikeharder

Update Exception Logging (#6671)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @scbedd, @mikeharder
