Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

bugfixes discovered during integration testing
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Iterate sdks when pkgName is empty
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Formatting stuff
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

fix name
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Support moniker specific folders for readmes (and incoming service overviews) (#1233)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Classifier for Azurite install failures. (#1244)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzuriteInstallFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Added support for bot user in API View
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Filters/ApiKeyAuthorizeAsyncFilter.cs
  src/dotnet/APIView/APIViewWeb/Models/UploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Add cross product matrix tooling
  eng/common/matrix/Create-JobMatrix.ps1
  eng/common/matrix/Create-SparseJobMatrix.ps1
  eng/common/matrix/README.md
  eng/common/matrix/functions.ps1
  eng/common/matrix/functions.tests.ps1
  eng/common/matrix/samples/matrix-test.yml
  eng/common/matrix/samples/matrix.json
Owners: @azure/azure-sdk-eng

Fixes as per review comments
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Filters/ApiKeyAuthorizeAsyncFilter.cs
Owners: none

Add communication live-test cleanup build definition
  eng/customer-pipelines/live-test-cleanup-communication.yml
Owners: @azure/azure-sdk-eng

Updated label
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Owners: none

adding acs subscription to live test cleanup script
  eng/pipelines/live-test-cleanup.yml
Owners: @azure/azure-sdk-eng

Pass label from caller script
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Owners: none

Added support for bot user in API View (#1250)
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Filters/ApiKeyAuthorizeAsyncFilter.cs
  src/dotnet/APIView/APIViewWeb/Models/UploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Add new diagnostic rule that checks if URLs have locale language tags in them (e.g. 'en-us'). (#1230)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/NoLocalesInJavadocUrlDiagnosticRule.java
Owners: none

Make up the css using for .net sdk github io pages
  eng/common/docgeneration/templates/matthews/styles/main.css
Owners: @azure/azure-sdk-eng

Remove index.html
  eng/common/docgeneration/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Make changes to js
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

adding acs subscription to live test cleanup script (#1253)
  eng/pipelines/live-test-cleanup.yml
Owners: @azure/azure-sdk-eng

Make up the css using for .net sdk github io pages (#1257)
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

New common script to create API review request from artifact
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Added common pipeline to triger API review creation
  eng/common/pipelines/templates/steps/create_apireview.yml
Owners: @azure/azure-sdk-eng

need to actually assign the variable! python replace doesn't update in place
  scripts/python/docs-automation/sync_tocs.py
Owners: none

need to actually assign the variable! python replace doesn't update in place (#1265)
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Create PR to target against master
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Changes to download artifacts and create review
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/pipelines/templates/steps/create_apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Review comment fixes
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Change API View URI to variable
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @azure/azure-sdk-eng

Invoke template live test pipeline during eng common sync (#1243)
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

update release regex. commiting for discussion
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Check for langugage specific function before referring it
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

resolve git longpath error when applying documentation updates
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Only return issues for invalid customer issues report.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Updated PW function call
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Fixed the edge cases of spring boot packages.
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Fixed the edge cases of spring boot packages. (#1272)
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Create PR to target against master (#1266)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Support alpha and azure pipeline build version formats for SemVer parsing and sorting
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

Added a step of skipping package json update for spring boot packages
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

correct wording
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
