Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @benbp, @weshaggard, @kurtzeborn, @JimSuplizio, @weidongxu-microsoft, @ronniegeraghty, @jeo02, @qiaozha, @MaryGao, @wanlwanl, @mikeharder, @gearama, @heaths, @LarryOsterman, @RickWinter, @hallipr, @raych1, @lirenhe, @tadelesh, @chidozieononiwu, @scbedd, @catalinaperalta, @ckairen, @richardpark-msft, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash, @tjprescott, @jeremymeng, @maorleger, @JonathanGiles, @jhendrixMSFT, @chlowell, @l0lawrence

handle case where user in app config is entirely new
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserProfileCache.cs
Owners: @chidozieononiwu

Add CrossLanguage view component
  src/dotnet/APIView/APIViewWeb/Client/css/shared/bootstraps-overrides.scss
  src/dotnet/APIView/APIViewWeb/DTOs/CrossLanguageDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosAPIRevisionsRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/common-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/review-page-layout.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Owners: @chidozieononiwu

update generation pipeline so that we don't generate CI pipelines for go. go - pullrequest exists now. (#10736)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

init ci.yml
  tools/content-validation/ci.yml
Owners: @azure/azure-sdk-eng

update ci.yml
  tools/content-validation/ci.yml
Owners: @azure/azure-sdk-eng

update ci.yml
  tools/content-validation/ci.yml
Owners: @azure/azure-sdk-eng

update ci.yml
  tools/content-validation/ci.yml
Owners: @azure/azure-sdk-eng

update ci.yml
  tools/content-validation/ci.yml
Owners: @azure/azure-sdk-eng

update ci.yml
  tools/content-validation/ci.yml
Owners: @azure/azure-sdk-eng

integrade preprocess skill
  tools/sdk-ai-bots/Dockerfile
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/Dockerfile
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/azure.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/feedback/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/preprocess/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/default.md
  tools/sdk-ai-bots/deploy.sh
Owners: @raych1

Apply suggestions from code review
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SDKWorkFlowTool/SDKWorkFlowTool.cs
Owners: @azure/azure-sdk-eng

Add release plan Id to link pull request cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SDKWorkFlowTool/SDKWorkFlowTool.cs
Owners: @azure/azure-sdk-eng

Set work item id as optional
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SDKWorkFlowTool/SDKWorkFlowTool.cs
Owners: @azure/azure-sdk-eng

update details
  tools/content-validation/ContentValidation/UnnecessarySymbolsValidation.cs
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################
/.github/CODEOWNERS                    @azure/azure-sdk-eng @jsquire

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/.config/1espt/                        @benbp @weshaggard

###########
# CODEOWNERS Linter pipeline
###########
/eng/common/pipelines/codeowners-linter.yml @kurtzeborn @JimSuplizio @weshaggard

###########
# Eng Sys Tools
###########
/tools/                                 @azure/azure-sdk-eng
/tools/azure-rest-api-specs-examples-automation/ @weidongxu-microsoft
/tools/codeowners-utils/                @JimSuplizio
/tools/github/                          @jsquire @ronniegeraghty
/tools/github-event-processor/          @JimSuplizio @benbp @jsquire @ronniegeraghty
/tools/github-team-user-store/          @JimSuplizio @weshaggard
/tools/issue-labeler/                   @jsquire @jeo02
/tools/js-sdk-release-tools/            @qiaozha @MaryGao @wanlwanl
/tools/perf-automation/                 @mikeharder @benbp
/tools/perf-automation/**/*Rust*.cs     @gearama @heaths @LarryOsterman @RickWinter
/tools/pipeline-generator/              @weshaggard @benbp
/tools/pipeline-witness/                @hallipr
/tools/sdk-ai-bots/                     @raych1
/tools/sdk-testgen/                     @lirenhe @tadelesh
/tools/spec-gen-sdk/                    @raych1 @chidozieononiwu
/tools/test-proxy/                      @scbedd @mikeharder @benbp
/tools/tsp-client/                      @catalinaperalta
/tools/typespec-bump-deps/              @weidongxu-microsoft

###########
# Stress
###########
/eng/common/scripts/stress-testing/     @benbp @ckairen @richardpark-msft
/tools/stress-cluster/                  @benbp @ckairen @richardpark-msft

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers/  @jsquire @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @m-nash
/src/dotnet/APIView/                    @chidozieononiwu

###########
# APIView parsers
###########
/tools/apiview/                           @chidozieononiwu
/tools/apiview/emitters/typespec-apiview/ @tjprescott
/tools/apiview/parsers/cpp-api-parser/    @LarryOsterman
/tools/apiview/parsers/csharp-api-parser/ @christothes
/tools/apiview/parsers/js-api-parser/     @jeremymeng @maorleger
/src/swift/                               @tjprescott
/src/java/apiview-java-processor/         @JonathanGiles
/src/go/                                  @jhendrixMSFT @chlowell @RickWinter


###########
# Pylint checkers
###########
/tools/pylint-extensions/azure-pylint-guidelines-checker/ @l0lawrence
