Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @jsquire, @azure/azure-sdk-eng, @sima-zhu, @weshaggard, @benbp, @heaths, @praveenkuttappan, @scbedd, @mikeharder, @ckairen, @changlong-liu, @tadelesh, @dw511214992, @qiaozha, @MaryGao, @maorleger, @chunyu3, @zzvswxy

.github/CODEOWNERS:

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @AlexGhiondea @jsquire

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @sima-zhu @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/webhook-router/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard @AlexGhiondea
/tools/pipeline-generator/       @weshaggard @benbp
/tools/test-proxy/               @scbedd @mikeharder
/tools/stress-cluster/           @benbp @ckairen
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/js-sdk-release-tools/     @dw511214992 @qiaozha @MaryGao
/tools/keyvault-mock-attestation @maorleger
/tools/sdk-generation-pipeline   @dw511214992 @chunyu3 @zzvswxy

ensure pipgrip is present and available
  eng/scripts/download_targeted_packages_requirements.txt
Owners: @azure/azure-sdk-eng

resolve missing pipgrip, add error
  eng/scripts/download_targeted_packages.py
Owners: @azure/azure-sdk-eng

Fixed bug of deleting more than expected. (#3250)
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @sima-zhu, @weshaggard, @benbp

correct requirements installation failure
  eng/scripts/download_targeted_packages_requirements.txt
Owners: @azure/azure-sdk-eng

add actual twine upload step
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

update pip index url to consume only the dev index
  packages/python-packages/api-stub-generator/setup.py
  packages/python-packages/api-stub-generator/tox.ini
Owners: none

fdsaf
  eng/common/scripts/Add-RetentionLease.ps1
Owners: @sima-zhu, @weshaggard, @benbp

Add workflows for pr gate
  .github/workflows/pull-request-gate-run.yml
  .github/workflows/pull-request-gate.yml
Owners: @AlexGhiondea, @jsquire

test change
  README.md
Owners: none

Update README for acquiring pylint-guidelines-checker
  packages/python-packages/api-stub-generator/README.md
Owners: none

Update README for acquiring pylint-guidelines-checker (#3255)
  packages/python-packages/api-stub-generator/README.md
Owners: none

Ensure pylint will run on WHL files.
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_pylint_parser.py
Owners: none

Ensure pylint will run on WHL files. (#3256)
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_pylint_parser.py
Owners: none

task engine test
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/jest.config.js
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/dockerTaskEngine.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/schema/dockerTaskEngineConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/DockerTaskEngine.test.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/utils/prepareEnvironment.ts
Owners: @dw511214992, @chunyu3, @zzvswxy

doc and fix bug
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/documents/docker/README.md
  tools/sdk-generation-pipeline/documents/docker/extension-remote-containers.png
  tools/sdk-generation-pipeline/documents/docker/vscode-connect-docker-container.md
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerContext.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/dockerTaskEngine.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInLocal.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/dockerCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/runMockHostCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/schema/dockerCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/git.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/DockerTaskEngine.test.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/utils/prepareEnvironment.ts
Owners: @dw511214992, @chunyu3, @zzvswxy

add more doc
  tools/sdk-generation-pipeline/documents/docker/docker-design.drawio.png
  tools/sdk-generation-pipeline/documents/docker/docker-image-design.md
  tools/sdk-generation-pipeline/documents/docker/docker-image-layers.drawio.png
Owners: @dw511214992, @chunyu3, @zzvswxy

ci
  tools/sdk-generation-pipeline/ci.yml
Owners: @dw511214992, @chunyu3, @zzvswxy

ci
  tools/sdk-generation-pipeline/ci.yml
Owners: @dw511214992, @chunyu3, @zzvswxy

ci test
  tools/sdk-generation-pipeline/ci.yml
Owners: @dw511214992, @chunyu3, @zzvswxy

ci test
  tools/sdk-generation-pipeline/ci.yml
Owners: @dw511214992, @chunyu3, @zzvswxy

doc fix
  tools/sdk-generation-pipeline/documents/docker/README.md
Owners: @dw511214992, @chunyu3, @zzvswxy

﻿[Python APIView] Support `--source-url` (#2887)
  packages/python-packages/api-stub-generator/apistub/_apiview.py
Owners: none

﻿Implement dataclass and add tests. Document limitations.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/__init__.py
  packages/python-packages/api-stub-generator/apistub/nodes/_annotation_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_astroid_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_pylint_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_variable_node.py
  packages/python-packages/api-stub-generator/apistubgen.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/dataclass_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_dataclasses.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Owners: none

Removed Service name sync up background task
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fix up tests.
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/api-stub-generator/ci.yml
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/dataclass_parsing_test.py
Owners: none

go mod tidy with Go 1.18
  src/go/go.sum
Owners: none

Fixes #3257.
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/tests/function_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/_client.py
Owners: none

go mod tidy with Go 1.18 (#3260)
  src/go/go.sum
Owners: none

correct wonky pshell syntax
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

correct bad string that was throwing parser error during compilation in build stage
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

massively simplify the script uploading packages to the feed
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Owners: @azure/azure-sdk-eng

update how the package is installed
  packages/python-packages/api-stub-generator/tox.ini
Owners: none

[Python Dev Feed] Create Pipeline Definition for uploading packages from PyPI (#3252)
  eng/pipelines/mirror-pypi-to-dev-feed.yml
  eng/scripts/download_targeted_packages.py
  eng/scripts/download_targeted_packages_requirements.txt
Owners: @azure/azure-sdk-eng

Reduce APIView startup time (#3104)
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fix issue of code-line hiding under the naigation bar
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
Owners: none

Handle startup exceptions and add it to telemetry
  src/dotnet/APIView/APIViewWeb/HostedServices/PullRequestBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
Owners: none

update regex to handle windows style path
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Update tools/asset-sync/assets.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Short circuit out of msdocs publish if no package locations are specified
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Owners: @sima-zhu, @weshaggard, @benbp

Update http-fault-injector README - Add "--prerelease" to install command - Update path to .NET sample
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng
