Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

some quick and dirty fixes to enable demo tomorrow
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/InMemorySessionManager.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Owners: @azure/azure-sdk-eng

Enable fallback for file-like requests - The default fallback pattern is "{*path:nonfile}" which excludes paths containing dots
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @azure/azure-sdk-eng

Add header for client to not remove request after playback
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
Owners: @azure/azure-sdk-eng

Add lease to runs.
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Owners: @azure/azure-sdk-eng

Print request counts every second
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Owners: @azure/azure-sdk-eng

Add YAML file.
  eng/common/pipelines/templates/steps/retain-run.yml
Owners: @azure/azure-sdk-eng

Remove commented out code.
  eng/common/scripts/Add-RetentionLease.ps1
Owners: @azure/azure-sdk-eng

Change namespace to Azure.Sdk.Tools.HttpFaultInjector
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Program.cs
Owners: @azure/azure-sdk-eng

Add StorageBlobSample
  tools/http-fault-injector/sample-clients/net/storage-blob/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobSample.csproj
  tools/http-fault-injector/sample-clients/net/storage-blob/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobSample.sln
  tools/http-fault-injector/sample-clients/net/storage-blob/Program.cs
Owners: @azure/azure-sdk-eng

Rename HttpClientSample
  tools/http-fault-injector/sample-clients/net/http-client/Azure.Sdk.Tools.HttpFaultInjector.HttpClientSample.csproj
  tools/http-fault-injector/sample-clients/net/http-client/Azure.Sdk.Tools.HttpFaultInjector.HttpClientSample.sln
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
Owners: @azure/azure-sdk-eng

Add samples to root SLN
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector.sln
Owners: @azure/azure-sdk-eng

added coloring output
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Owners: @azure/azure-sdk-eng

Improve writeline
  tools/http-fault-injector/sample-clients/net/storage-blob/Program.cs
Owners: @azure/azure-sdk-eng

Rename sample to StorageBlobs
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector.sln
  tools/http-fault-injector/sample-clients/net/storage-blobs/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobsSample.csproj
  tools/http-fault-injector/sample-clients/net/storage-blobs/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobsSample.sln
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

Remove samples from main SLN - Prevents building and publishing sample nupkgs
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector.sln
Owners: @azure/azure-sdk-eng

Increment version to 0.1.1
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Owners: @azure/azure-sdk-eng

[http-fault-injector] Add .NET Storage.Blobs sample (#1516)
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Program.cs
  tools/http-fault-injector/sample-clients/net/http-client/Azure.Sdk.Tools.HttpFaultInjector.HttpClientSample.csproj
  tools/http-fault-injector/sample-clients/net/http-client/Azure.Sdk.Tools.HttpFaultInjector.HttpClientSample.sln
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
  tools/http-fault-injector/sample-clients/net/storage-blobs/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobsSample.csproj
  tools/http-fault-injector/sample-clients/net/storage-blobs/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobsSample.sln
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

Add chagelogpath to Update-ChangeLog.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

resolve wonky problems w/ failure to submit to to nill property
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @azure/azure-sdk-eng

Use only branch name instead of path to check
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @azure/azure-sdk-eng

Fix issue in response code check
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Make PackageName and ServiceDirectory not mandatory, test ChangelogPath
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

restored original functionality on presence of members
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @azure/azure-sdk-eng

Support default branch for the workflow. Part 1
  doc/common/common_engsys.md
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/ref-updater.yml
  eng/pipelines/templates/steps/sync-directory.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
  packages/python-packages/doc-warden/warden/enforce_target_file_presence.py
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
  tools/CreateRuleFabricBot/ci.yml
  tools/check-enforcer/ci.yml
  tools/github-issues/ci.yml
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/pipeline-witness/ci.yml
  tools/version-guard/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea, @danieljurek

Add ChangelogPath to Update-ChangeLog.ps1 (#1517)
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Actually pass the _content_ of the reviewers or teamreviewers variable to the Submit-Pullrequest.ps1 script (#1478)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

Skip API create step when running from feature branch with non GA version (#1508)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

New api to check status of automatic review approval
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Automatic review should only have one revision in review pending state
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

[matrix] Fix issue where 2d index arrays with length 1 get flattened by powershell
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

[matrix] Pass NonSparseParameters to imported matrix generation
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

Improve logging on subscription cleanup script
  tools/live-test-cleanup/cleanup.ps1
Owners: @azure/azure-sdk-eng

Support default branch for the workflow. Part 1 (#1493)
  doc/common/common_engsys.md
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/ref-updater.yml
  eng/pipelines/templates/steps/sync-directory.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
  packages/python-packages/doc-warden/warden/enforce_target_file_presence.py
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
  tools/CreateRuleFabricBot/ci.yml
  tools/check-enforcer/ci.yml
  tools/github-issues/ci.yml
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/pipeline-witness/ci.yml
  tools/version-guard/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea, @danieljurek

Checked in the changes directly.
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/git-branch-push.ps1
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Program.cs
  tools/http-fault-injector/sample-clients/net/http-client/Azure.Sdk.Tools.HttpFaultInjector.HttpClientSample.csproj
  tools/http-fault-injector/sample-clients/net/http-client/Azure.Sdk.Tools.HttpFaultInjector.HttpClientSample.sln
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
  tools/http-fault-injector/sample-clients/net/storage-blobs/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobsSample.csproj
  tools/http-fault-injector/sample-clients/net/storage-blobs/Azure.Sdk.Tools.HttpFaultInjector.StorageBlobsSample.sln
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

Address feedback and remove the check of set-default-branch
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/git-branch-push.ps1
Owners: @azure/azure-sdk-eng

Fixed base repo branch
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

[matrix] Fix issue where 2d index arrays with length 1 get flattened by powershell (#1521)
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

Improve logging on subscription cleanup script (#1522)
  tools/live-test-cleanup/cleanup.ps1
Owners: @azure/azure-sdk-eng

Update git-branch-push.ps1
  eng/common/scripts/git-branch-push.ps1
Owners: @azure/azure-sdk-eng

Fixed the docs-metadata-release
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
