Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @JimSuplizio, @qiaozha, @MaryGao, @raych1, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration
/.github/CODEOWNERS                    @azure/azure-sdk-eng

# Repository tooling
/tools/github                          @jsquire @ronniegeraghty
/tools/github-issues                   @jsquire @ronniegeraghty

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/eng/common/                           @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/             @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                                @azure/azure-sdk-eng
/tools/check-enforcer/                 @praveenkuttappan @weshaggard
/tools/code-owners-parser/             @konrad-jamrozik @JimSuplizio
/tools/github-issues/                  @praveenkuttappan @weshaggard
/tools/github-event-processor/         @JimSuplizio @benbp 
/tools/github-team-user-store/         @JimSuplizio @weshaggard
/tools/js-sdk-release-tools/           @qiaozha @MaryGao
/tools/mock-service-host/              @raych1 @tadelesh
/tools/perf-automation/                @mikeharder @benbp
/tools/pipeline-generator/             @weshaggard @benbp
/tools/pipeline-witness/               @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/        @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/                    @raych1 @tadelesh
/tools/stress-cluster/                 @benbp @ckairen
/tools/test-proxy/                     @scbedd @mikeharder
/tools/webhook-router/                 @praveenkuttappan @weshaggard

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers  @jsquire @pallavit @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @heaths @m-nash

Sync azure-rest-api-specs before other repos - We are frequently manually running this pipeline to sync azure-rest-api-specs
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

[mirror-repos] Mirror azure-rest-api-specs before other repos (#6600)
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

use breadcrumbfiles associated with each asset
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStoreBreadcrumb.cs
Owners: @scbedd, @mikeharder

Explicitly handle legal holds when cleaning up storage accounts
  eng/scripts/Remove-WormStorageAccounts.ps1
Owners: @azure/azure-sdk-eng

Resolve bug in Comment Auto Refresh
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

exclude the breadcrumb folder when finding the targeted assets directory
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

update
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
  tools/test-proxy/tests.yml
Owners: @scbedd, @mikeharder

properly format
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

eliminate even more builds
  tools/test-proxy/tests.yml
Owners: @scbedd, @mikeharder

what is going wrong
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

Resolve bug in Comment Auto Refresh (#6574)
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

something is seriously going wrong, still can't see why
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

what about this?
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

.
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

adjusting the language and how we dump the values
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

not outputting the proper stuff
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

fix exclude possibly
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

fix problem
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

!= -> -ne
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

Explicitly handle legal holds when cleaning up storage accounts (#6605)
  eng/scripts/Remove-WormStorageAccounts.ps1
Owners: @azure/azure-sdk-eng

on the last failing test now
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

fix last test. re-enable the rest of the livetests
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
  tools/test-proxy/tests.yml
Owners: @scbedd, @mikeharder

small formatting updates
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

Use breadcrumbfiles associated with each asset, versus shared (#6604)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStoreBreadcrumb.cs
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Owners: @scbedd, @mikeharder

breadcrumb file doesn't exist anymore, but we can use an existing proxy feature to get the same performance
  eng/common/testproxy/onboarding/README.me
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/target_version.txt
Owners: @konrad-jamrozik, @weshaggard, @benbp

update dotnet dev cert being shipped with the proxy to renew for another year
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
Owners: @konrad-jamrozik, @weshaggard, @benbp

comments
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

Bump test proxy version (#6518)
  eng/common/testproxy/onboarding/README.me
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/target_version.txt
Owners: @konrad-jamrozik, @weshaggard, @benbp

first, the docs
  eng/common/testproxy/onboarding/README.me
  tools/test-proxy/documentation/asset-sync/README.md
Owners: @konrad-jamrozik, @weshaggard, @benbp, @scbedd, @mikeharder

first, the docs
  eng/common/testproxy/transition-scripts/README.md
  tools/test-proxy/documentation/asset-sync/README.md
Owners: @konrad-jamrozik, @weshaggard, @benbp, @scbedd, @mikeharder

Create azure-container-webapp.yml
  .github/workflows/azure-container-webapp.yml
Owners: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Owners: none

Create manual.yml
  .github/workflows/manual.yml
Owners: none

Docs Onboarding 2 - Add eng/common changes
  eng/common/scripts/Update-DocsMsPackages2.ps1
  eng/common/scripts/common.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Initial implementation of AZC0020
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0020Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/BannedTypesAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

Update Proxy Dev Cert and Docs (#6611)
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/onboarding/README.me
  tools/test-proxy/documentation/asset-sync/README.md
Owners: @konrad-jamrozik, @weshaggard, @benbp, @scbedd, @mikeharder

release
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
Owners: @azure/azure-sdk-eng

Sanitize requests when logging
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Properties/AssemblyInfo.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Directory.Build.targets
Owners: @scbedd, @mikeharder

remove unneeded changes
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
Owners: @scbedd, @mikeharder

erroneous usings
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
Owners: @scbedd, @mikeharder
