Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Update java parser version in pom file
  src/java/apiview-java-processor/pom.xml
Owners: none

Add Cpp prereqs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Cpp.cs
Owners: @azure/azure-sdk-eng

Add Cpp to config.sample.yml
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/config.sample.yml
Owners: @azure/azure-sdk-eng

Comment cleanup
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Python.cs
Owners: @azure/azure-sdk-eng

Update dependencies
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Azure.Sdk.Tools.PerfAutomation.csproj
Owners: @azure/azure-sdk-eng

Add logging, re-organize sparse checkout script
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

Remove invalid argument
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Add READMEs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.sln
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/README.md
  tools/perf-automation/README.md
Owners: @azure/azure-sdk-eng

Add ci.yml
  tools/perf-automation/ci.yml
Owners: @azure/azure-sdk-eng

Refactor sparse checkout template: idempotency and no yaml loops (#1627)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

Add Get-ChangeLogEntriesFromContent
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Add Get-ChangeLogEntriesFromContent (#1629)
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Fix as per review comment
  src/dotnet/APIView/APIView/CodeFileHtmlRenderer.cs
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
Owners: none

Update common engineering system for docs onboarding
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Fixes as per review comments
  src/dotnet/APIView/APIView/CodeFileHtmlRenderer.cs
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
Owners: none

Check diff param wen skipping processing
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
Owners: none

added functionality for adding navigtion panel
  packages/python-packages/low-level-client-api-gen/llc_api/__init__.py
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llc_api/parse_yml.py
  packages/python-packages/low-level-client-api-gen/low_level_client_api.py
Owners: none

Add updates from review feedback
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @azure/azure-sdk-eng

Space nit
  eng/common/scripts/Update-DocsMsPackages.ps1
Owners: @azure/azure-sdk-eng

Update common engineering system for docs onboarding (#1635)
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

http-fault-injector now uses dotnet dev-cert - Allows some clients (like .NET) to validate the SSL cert - Requires using custom X-Upstream-Host header
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Program.cs
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/testCert.pfx
  tools/http-fault-injector/sample-clients/java/http-fault-injector-client/src/main/java/httpfaultinjectorclient/App.java
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

Add comment
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

Skip languages that's not supported in APIView
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @azure/azure-sdk-eng

Add README and examples for using chaos testing cluster
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/Dockerfile
  tools/stress-cluster/chaos/examples/testjob.yaml
Owners: @azure/azure-sdk-eng

Remove code to allow insecure SSL certs
  tools/http-fault-injector/sample-clients/java/http-fault-injector-client/src/main/java/httpfaultinjectorclient/App.java
Owners: @azure/azure-sdk-eng

added in documentation and request body functionality
  packages/python-packages/low-level-client-api-gen/llc_api/_token_kind.py
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llc_api/parse_yml.py
Owners: none

Enable Caching of PS Modules
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-environments.yml
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Import-AzModules.ps1
  eng/pipelines/live-test-cleanup.yml
  eng/scripts/live-test-resource-cleanup.ps1
  tools/live-test-cleanup/README.md
Owners: @heaths, @danieljurek, @weshaggard, @azure/azure-sdk-eng

Fix bug in language mapping
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  packages/java-packages/snippet-replacer-maven-plugin/.classpath
  packages/java-packages/snippet-replacer-maven-plugin/.factorypath
  packages/java-packages/snippet-replacer-maven-plugin/.project
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.core.resources.prefs
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.jdt.apt.core.prefs
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.jdt.core.prefs
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.m2e.core.prefs
  src/java/apiview-java-processor/.classpath
  src/java/apiview-java-processor/.project
  src/java/apiview-java-processor/.settings/org.eclipse.core.resources.prefs
  src/java/apiview-java-processor/.settings/org.eclipse.jdt.apt.core.prefs
  src/java/apiview-java-processor/.settings/org.eclipse.jdt.core.prefs
  src/java/apiview-java-processor/.settings/org.eclipse.m2e.core.prefs
Owners: @azure/azure-sdk-eng

Add dev cert instructions
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng

Reverted accidental changes in temp files
  packages/java-packages/snippet-replacer-maven-plugin/.classpath
  packages/java-packages/snippet-replacer-maven-plugin/.factorypath
  packages/java-packages/snippet-replacer-maven-plugin/.project
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.core.resources.prefs
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.jdt.apt.core.prefs
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.jdt.core.prefs
  packages/java-packages/snippet-replacer-maven-plugin/.settings/org.eclipse.m2e.core.prefs
  src/java/apiview-java-processor/.classpath
  src/java/apiview-java-processor/.project
  src/java/apiview-java-processor/.settings/org.eclipse.core.resources.prefs
  src/java/apiview-java-processor/.settings/org.eclipse.jdt.apt.core.prefs
  src/java/apiview-java-processor/.settings/org.eclipse.jdt.core.prefs
  src/java/apiview-java-processor/.settings/org.eclipse.m2e.core.prefs
Owners: none

Update README
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng

Add comments to Java sample to disable SSL validation
  tools/http-fault-injector/sample-clients/java/http-fault-injector-client/src/main/java/httpfaultinjectorclient/App.java
Owners: @azure/azure-sdk-eng

Add comments to disable SSL validation
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

Update readme
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng

[http-fault-injector] Use .NET Core dev cert instead of custom cert (#1637)
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Program.cs
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/testCert.pfx
  tools/http-fault-injector/README.md
  tools/http-fault-injector/sample-clients/java/http-fault-injector-client/src/main/java/httpfaultinjectorclient/App.java
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
  tools/http-fault-injector/sample-clients/net/storage-blobs/Program.cs
Owners: @azure/azure-sdk-eng

[http-fault-injector] Add update instructions to README
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng

Enable Caching of PS Modules (#1606)
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-environments.yml
  eng/common/pipelines/templates/steps/cache-ps-modules.yml
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Import-AzModules.ps1
  eng/pipelines/live-test-cleanup.yml
  eng/scripts/live-test-resource-cleanup.ps1
  tools/live-test-cleanup/README.md
Owners: @heaths, @danieljurek, @weshaggard, @azure/azure-sdk-eng

[http-fault-injector] Add openssl version to README
  tools/http-fault-injector/README.md
Owners: @azure/azure-sdk-eng

Update azure.storage.blobs version
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

oauth filter and accompanying tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/OAuthResponseSanitizer.cs
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
