Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Update README.md
  README.md
Owners: none

Adds ability to specify message in config file.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IRepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/PullRequestTimeoutFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTracker.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Updated Check Enforcer with timeout message.
  eng/CHECKENFORCER
Owners: @azure/azure-sdk-eng

Updated Check Enforcer with timeout message. (#1143)
  eng/CHECKENFORCER
Owners: @azure/azure-sdk-eng

Fix broken linkto template yaml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Update RequestSender.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
Owners: @azure/azure-sdk-eng

Update RequestSender.cs (#1145)
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
Owners: @azure/azure-sdk-eng

Fix script syntax error
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Remove resource group asynchronously and do not wait for completion
  eng/common/TestResources/Remove-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add manual merge instructions to eng/common workflow
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Switch pipeline generator install to PowerShell.
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Change default message.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfiguration.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Check Enforcer timeout (#1140)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IRepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/PullRequestTimeoutFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/PullRequestHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/IPullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTrackingTicket.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
  tools/check-enforcer/CheckEnforcer.sln
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Fix broken link in automated pipeline generation tool (#1144)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Verify resource group has reached Deleting state before exiting script
  eng/common/TestResources/Remove-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Adjust timeout message.
  eng/CHECKENFORCER
Owners: @azure/azure-sdk-eng

Adjust timeout message. (#1150)
  eng/CHECKENFORCER
Owners: @azure/azure-sdk-eng

Centralize the generate docindex scripts.
  eng/CHECKENFORCER
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/pipelines/pipeline-generation.yml
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IRepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/PullRequestTimeoutFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/PullRequestHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/IPullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTrackingTicket.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
  tools/check-enforcer/CheckEnforcer.sln
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio

Added missing generate-docindex script
  eng/common/scripts/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Added missing function
  eng/common/scripts/artifact-metadata-parsing.ps1
Owners: @azure/azure-sdk-eng

Address feedback
  eng/common/scripts/Generate-DocIndex.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Remove extra line
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Added the fucntion
  eng/common/scripts/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Fixed some of the bugs
  eng/common/scripts/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Use $_ instead of $Error[0] for resource group removal handling
  eng/common/TestResources/Remove-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Fix issues in C++ APIview navigation and private members
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
Owners: none

Increase version
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
Owners: none

Fix issues in C++ APIview navigation and private members (#1152)
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
Owners: none

Remove resource group asynchronously and do not wait for completion (#1146)
  eng/common/TestResources/Remove-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add manual merge instructions to eng/common workflow (#1148)
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Fix verify-path-length.yml to report all paths longer than the allowed limit
  eng/common/pipelines/templates/steps/verify-path-length.yml
Owners: @azure/azure-sdk-eng

Fix bug in verify-path-length.yml (#1158)
  eng/common/pipelines/templates/steps/verify-path-length.yml
Owners: @azure/azure-sdk-eng

Use different commit SHA instead
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Use a new branch for quing the TestPipeline, this should prevent chec… (#1154)
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Add state tracking in Azure Storage (tables).
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/PullRequestHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTrackingTicket.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Update README.md
  README.md
Owners: none

Add state tracking in Azure Storage (tables). (#1162)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/PullRequestHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTrackingTicket.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Remove AmendCommit parameter
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/pipelines/templates/steps/sync-directory.yml
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Update retry logic in Verify and Merge scipt, Update Delete-RemoteBra… (#1160)
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/common/scripts/git-branch-push.ps1
  eng/pipelines/templates/steps/sync-directory.yml
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Update README.md
  README.md
Owners: none

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
