Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Fix BaseBranchName
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Fix BaseBranchName (#1122)
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Fix sync basebranch
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Fix sync basebranch (#1123)
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Fix bug in 'eng\pipelines\templates\steps\sync-directory.yml'
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fix bug in 'eng\pipelines\templates\steps\sync-directory.yml' (#1126)
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update New-TestResources.ps1 parameter documentation to match defaults
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add --no-schedule option to Pipeline Generator. (#1110)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Bump pipeline generator version.
  eng/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Moved install template and prepare template to eng/common.
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Restructure eng ommon sync control flow
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Restructure eng/common sync control flow (#1128)
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add support for pipeline preparation in PRs. (#1104)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Fix condition in prepare pipeline.
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Fix condition in prepare pipeline. (#1129)
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Update the scripts
  eng/common/scripts/Generate-DocIndex.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Fix issue with .NET pipeline preparation.
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Fix issue with .NET pipeline preparation. (#1132)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Add conditions to test pipeline generation.
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Add conditions to test pipeline generation. (#1133)
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Fix create-pull-request bug
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @azure/azure-sdk-eng

Update New-TestResources.ps1 parameter documentation to match defaults (#1127)
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Fix create-pull-request bug (#1131)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/Invoke-GitHubAPI.ps1
Owners: @azure/azure-sdk-eng

Work around issue in the JS repo.
  eng/pipelines/setup-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Work around issue in the JS repo. (#1134)
  eng/pipelines/setup-tutorial-branch.yml
Owners: @azure/azure-sdk-eng

Add check of http link.
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Update Delete-RemoteBranches.ps1
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @azure/azure-sdk-eng

retarget master as the base branch for docs metadata release (#1109)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Use pre-installed Azure PowerShell modules
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Owners: @heaths, @danieljurek, @weshaggard

Always run pre- and post-scripts as provisioner
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Fixed the tool http link
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Update eng/common workflow docs
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Add check of http link. (#1135)
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/scripts/Verify-Links.ps1
Owners: @heaths, @danieljurek, @weshaggard, @azure/azure-sdk-eng

Update Delete-RemoteBranches.ps1 (#1136)
  eng/common/scripts/Delete-RemoteBranches.ps1
Owners: @azure/azure-sdk-eng

Update eng/common workflow docs (#1130)
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Always run pre- and post-scripts as provisioner (#1138)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Use pre-installed Azure PowerShell modules (#1137)
  eng/common/TestResources/AzurePowerShellV4/Utility.ps1
  eng/common/TestResources/Import-AzModules.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Owners: @heaths, @danieljurek, @weshaggard

Adds a stub implementation for pull request tracker which I can use to validate some assumptions in production before doing anything destructive (like adding comments).
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IRepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/PullRequestTimeoutFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/PullRequestHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/IPullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTracker.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Services/PullRequestTracking/PullRequestTrackingTicket.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Random change to test Check Enforcer
  README.md
Owners: none

Another random change for check enforcer.
  README.md
Owners: none

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
