Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Add logic to delete tag.
  eng/common/scripts/Delete-RemoteTag.ps1
Owners: @azure/azure-sdk-eng

Fix up missing $
  eng/common/scripts/Delete-RemoteTag.ps1
Owners: @azure/azure-sdk-eng

Fix up ref URL.
  eng/common/scripts/Delete-RemoteTag.ps1
Owners: @azure/azure-sdk-eng

Command adds prefix.
  eng/common/scripts/Delete-RemoteTag.ps1
Owners: @azure/azure-sdk-eng

Move a comment to be closer to the actual place in the code that is references.
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
Owners: @azure/azure-sdk-eng

Update latest folder with one index.html includes the redirect links
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Improve rule bot code (#1295)
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Helpers/CodeOwnerEntry.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/BaseCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/TriageConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
Owners: @azure/azure-sdk-eng

Show Approval status in review index page
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Show only approved or pending as status value
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

show review status in reviews page (#1279)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Owners: none

Update the redirect links and remove everything in latest
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Address Wes' feedback.
  eng/pipelines/git-tasks.yml
Owners: @azure/azure-sdk-eng

Creation of tools - git-tasks pipeline (#1296)
  eng/common/scripts/Delete-RemoteTag.ps1
  eng/pipelines/git-tasks.yml
Owners: @azure/azure-sdk-eng

Update to Update-Changelog.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Address feedback
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Updates to Update-Changelog.ps1 (#1299)
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Add resource provisioning variables to UP pipelines and improve readability (#1293)
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Have the entire copy for latest GA.
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Add Devops Release Item scripts (#1278)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

Remove old Update-Change-Log.ps1
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Update latest folder with one index.html includes the redirect links (#1298)
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Make the user agent configurable.
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Address comments
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Default to current Chrome version
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Revert the yaml file changes
  eng/common/pipelines/templates/steps/verify-links.yml
Owners: @azure/azure-sdk-eng

Make the user agent configurable for link checker scripts (#1302)
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Remove old Update-Change-Log.ps1 (#1301)
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Fix condition for test generation in prepare-pipelines
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

allow configuration of a suffix for each config item.
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Allow configuration of a suffix for each config item (#1306)
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Revert "Remove old Update-Change-Log.ps1 (#1301)"
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Revert "Remove old Update-Change-Log.ps1" (#1308)
  eng/common/Update-Change-Log.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Add quotes around the parameter
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Add missing TestOptions matrix variable in pipeline-generation.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Define pipeline generation test options as top level variable
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Add missing TestOptions matrix variable in pipeline-generation.yml (#1312)
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Fix removed myget feed in nuget.config
  NuGet.Config
Owners: none

Support variants in test pipelines
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/SdkComponentScanner.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Fix condition for test generation in prepare-pipelines (#1304)
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Support variants in test pipelines (#1311)
  NuGet.Config
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/SdkComponentScanner.cs
Owners: @weshaggard, @mitchdenny, @danieljurek
