Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Change the typo
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Update eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/git-branch-push.ps1
Owners: @azure/azure-sdk-eng

Keep origin format
  eng/common/scripts/git-branch-push.ps1
Owners: @azure/azure-sdk-eng

Update git-branch-push.ps1
  eng/common/scripts/git-branch-push.ps1
Owners: @azure/azure-sdk-eng

Keep fixing the typo
  eng/common/pipelines/templates/steps/git-push-changes.yml
Owners: @azure/azure-sdk-eng

Checked in code to some branch directly (#1477)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/git-branch-push.ps1
Owners: @azure/azure-sdk-eng

Add DependsOn parameter to matrix job generation template
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Owners: @azure/azure-sdk-eng

Fixes as per review comments
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Add DependsOn parameter to matrix job generation template (#1527)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Owners: @azure/azure-sdk-eng

Update Azure.Iot rule to Azure.IoT (#1492)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Owners: none

Use SubscriptionId throughout TestResources
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Resolve PR feedback
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Default DeleteAfterHours to 48 for SDK team
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Resolve PR feedback
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/Update-TestResources.cmd
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Fix issue with shaded jars that have multiple pom.xml files
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
Owners: none

Fix issue with shaded jars that have multiple pom.xml files (#1531)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
Owners: none

Switch deploy mode to complate
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Change deployment mode to Complete
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Fixes as per review comments
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fixes as per review comments
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Owners: none

Use consistent aka links to satisfy link checker
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

New api to check status of automatic review approval (#1519)
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Automatic review should only have one revision in review pending state (#1520)
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Removed the update CI target packages step.
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Owners: @azure/azure-sdk-eng

Use SubscriptionId throughout TestResources (#1525)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/Update-TestResources.cmd
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Use single quotes for matrix generator command line arguments
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Use single quotes for matrix generator command line arguments (#1535)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Add diagnostic rule for checking existence of codesnippets in javadocs
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavadocCodeSnippetsRule.java
Owners: none

Include wiki link for codesnippets
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavadocCodeSnippetsRule.java
Owners: none

Remove unused constant
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavadocCodeSnippetsRule.java
Owners: none

Add diagnostic rule for checking existence of codesnippets in javadocs (#1539)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavadocCodeSnippetsRule.java
Owners: none

Exclude macos from matrix generation by default
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
Owners: @azure/azure-sdk-eng

Allow matrix replace queries to work for overriding parameter group display names
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

Move days valid into template with a default.
  eng/common/pipelines/templates/steps/retain-run.yml
Owners: @azure/azure-sdk-eng

Fix BaseName initialization
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Fix BaseName initialization (#1546)
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Remove passing -Mode Complete to deployment
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Remove ServiceDirectory as required parameter for remove/update
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Remove passing -Mode Complete to deployment (#1548)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add lease to runs. (#1515)
  eng/common/pipelines/templates/steps/retain-run.yml
  eng/common/scripts/Add-RetentionLease.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
Owners: @azure/azure-sdk-eng
