Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @qiaozha, @MaryGao, @changlong-liu, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd

ewqewq
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

dsds
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

hghf
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

trete
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

rwerww
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

ffdd
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

jhhj
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

fsdss
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

Fix paths in unit tests
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
Owners: @azure/azure-sdk-eng

wwwd
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

kjhhkh
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

dasadasda
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

rewrwerew
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

fsdfsdf
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

saSa
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

add parameter to set cadl emitter options (#5540)
  eng/common/scripts/Cadl-Project-Generate.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Skip any missing swagger file when generating API review file
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
Owners: @azure/azure-sdk-eng

Update change log
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
Owners: @azure/azure-sdk-eng

Skip Flaky UI Tests
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Update tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/ServiceAccountPersonalAccessTokenStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/ServiceAccountPersonalAccessTokenStore.cs
Owners: @azure/azure-sdk-eng

Skip Flaky UI Tests (#5593)
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Add devops-pat and az website stores to secret rotation (#5591)
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/Azure.Sdk.Tools.SecretRotation.Azure.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/ISecretProvider.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/SecretProvider.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Azure.Sdk.Tools.SecretRotation.Cli.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotationCommandBase.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/RotationConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/StoreConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Core/RotationPlan.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Core/SecretStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Core/SecretValue.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureAppService/Azure.Sdk.Tools.SecretRotation.Stores.AzureAppService.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureAppService/AzureWebsiteStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/ServiceAccountPersonalAccessTokenStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.KeyVault/KeyVaultCertificateStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.KeyVault/KeyVaultSecretStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.sln
Owners: @azure/azure-sdk-eng

Add --tags and --name options to secret rotation
  schemas/secret-rotation/1.0.0/schema.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/ListCommand.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotateCommand.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotationCommandBase.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Program.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/PlanConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/RotationConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/StoreConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/PlanConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Invalid/null.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Invalid/wrong-schema.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/four.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-1.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-2.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/one.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/three.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/two.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/manual-value.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/random-string.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.sln
Owners: @azure/azure-sdk-eng

Use .+? instead of .*? in schema url pattern
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/PlanConfiguration.cs
Owners: @azure/azure-sdk-eng

Use "npm ci" to install cspell and respect package-lock.json
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Resolve error in UI Test
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Increase wait time
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Use no sandbox ChromeOptions
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Update ChromeDriver Options
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Update UI Tests
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Bug fix/UI tests (#5597)
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Owners: @azure/azure-sdk-eng

Fix PS optional arg issue to not pass empty args
  eng/common/scripts/git-branch-push.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Reset PushArgs to null if it is set to empty string
  eng/common/scripts/git-branch-push.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

add two files
  eng/common/scripts/Git-Repo-Sync.ps1
  eng/pipelines/mirror-files.yml
  eng/pipelines/sync-repos.yml
  eng/pipelines/templates/steps/sync-repo-files.yml
  eng/pipelines/templates/steps/sync-repo.yml
Owners: @konrad-jamrozik, @weshaggard, @benbp, @azure/azure-sdk-eng

Extract powershell script from yml
  eng/common/scripts/Git-Repo-Sync.ps1
  eng/pipelines/mirror-files.yml
  eng/pipelines/sync-repos.yml
  eng/pipelines/templates/steps/sync-repo-files.yml
  eng/pipelines/templates/steps/sync-repo.yml
Owners: @konrad-jamrozik, @weshaggard, @benbp, @azure/azure-sdk-eng

Skip invalid file path when generating swagger API review (#5594)
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
Owners: @azure/azure-sdk-eng

Update swagger manual review gen pipeline to use a variable for swagger parser version
  eng/pipelines/apiview-review-gen-swagger.yml
Owners: @azure/azure-sdk-eng

Update swagger manual review gen pipeline to use a variable for swagger parser version (#5600)
  eng/pipelines/apiview-review-gen-swagger.yml
Owners: @azure/azure-sdk-eng

logging api post request body
  eng/common/scripts/artifact-metadata-parsing.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Review feedback
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

.github/CODEOWNERS:

################
# Misc
################
/*                               @azure/azure-sdk-eng
/.devcontainer/                  @azure/azure-sdk-eng
/doc/                            @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/.azure-pipelines/               @azure/azure-sdk-eng
/config/                         @azure/azure-sdk-eng
/scripts/                        @azure/azure-sdk-eng
/src/                            @azure/azure-sdk-eng
/web/                            @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @jsquire @ronniegeraghty
/.github/CODEOWNERS              @azure/azure-sdk-eng

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard
/tools/js-sdk-release-tools/     @qiaozha @MaryGao
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/perf-automation/          @mikeharder @benbp
/tools/pipeline-generator/       @weshaggard @benbp
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/  @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/stress-cluster/           @benbp @ckairen
/tools/test-proxy/               @scbedd @mikeharder
/tools/webhook-router/           @praveenkuttappan @weshaggard
