Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Review comment fix
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Fix NPE when dealing with java source jars that are lacking maven pom information
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
Owners: none

Fix for NPE in APIView for Java libraries that lack maven pom information (#1417)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
Owners: none

Approve automatic reviews if approved manual review matches (#1411)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Simplifying the maven output in APIView
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Ignore warning for com.azure.core module
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
Owners: none

Apiview maven simplifications (#1419)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Disable NuGet sec analysis error.
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Update main.js
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

Ignore warning for com.azure.core module (#1420)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
Owners: none

Change other version to all versions (#1396)
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

Only run eng/common check when target branch is master
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @azure/azure-sdk-eng

Trim off the target branch
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Update eng/common/scripts/get-markdown-files-from-changed-files.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Update get-markdown-files-from-changed-files.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Update get-markdown-files-from-changed-files.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Update pipeline-generation-single.yml
  eng/pipelines/pipeline-generation-single.yml
Owners: @azure/azure-sdk-eng

Update pipeline-generation.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Disable NuGet sec analysis error. (#1422)
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Updates from further iteration
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/Test-Spelling.ps1
Owners: @azure/azure-sdk-eng

Do not log PII
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
Owners: @azure/azure-sdk-eng

Review feedback: Add check for git as well
  eng/common/scripts/Test-Spelling.ps1
Owners: @azure/azure-sdk-eng

Add common tools for spell check
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/Test-Spelling.ps1
Owners: @azure/azure-sdk-eng

Revert "Do not log PII"
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
Owners: @azure/azure-sdk-eng

Add job matrix generation scripts
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/test-import-matrix.json
Owners: @azure/azure-sdk-eng

Add working job matrix example pipeline and common matrix generation pipeline.
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests.yml
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
Owners: @azure/azure-sdk-eng

Trim the slash
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Only run eng/common check when target branch is master (#1415)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @azure/azure-sdk-eng

Update job matrix tests path
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Owners: @azure/azure-sdk-eng

Parameterize matrix generation job path
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Trim off the target branch (#1425)
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Add global variable to override nuget security checks to sample matrix pipeline
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Update readme matrix pipeline example to match sample file
  eng/common/scripts/job-matrix/README.md
Owners: @azure/azure-sdk-eng

Fix non-variant default name for tests-weekly
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Fix non-variant default name for tests-weekly (#1435)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Update pipeline generator version to include weekly convention name fix
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Add job matrix generation scripts (#1429)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/README.md
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/samples/matrix-job-sample.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
  eng/common/scripts/job-matrix/samples/matrix.json
  eng/common/scripts/job-matrix/tests/job-matrix-functions.filter.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/tests/test-import-matrix.json
Owners: @azure/azure-sdk-eng

Retain file name and handle older reviews without file name when updating review
  src/dotnet/APIView/APIViewWeb/Models/ReviewCodeFileModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Review feedback: Rename TargetRef -> TargetBranch, add SourceBranch, Add reference to spelling docs, exit 0, Rename to check-spelling-in-changed-files.ps1,
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/scripts/check-spelling-in-changed-files.ps1
Owners: @azure/azure-sdk-eng

Correct code comment
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none
