Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Fixes as per review comments to avoid changing constructor signature
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Fix link to common
  doc/README.md
Owners: none

tweaks to New-TestResources readme
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Add exception notification for pipeline names that are too long
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
Owners: @azure/azure-sdk-eng

Use a helper function to normalize the package name for readme
  eng/common/scripts/common.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Fixes as per review comments to handle track 1 packages
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Update tools/notification-configuration/notification-creator/NotificationConfigurator.cs
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
Owners: @azure/azure-sdk-eng

Fix notification tools (#1339)
  tools/notification-configuration/common/Helpers/StringHelper.cs
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/github-codeowner-subscriber/github-codeowner-subscriber.csproj
  tools/notification-configuration/identity-resolver/identity-resolver.csproj
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
  tools/notification-configuration/notification-creator/notification-creator.csproj
Owners: @azure/azure-sdk-eng

Include Non-Scoped Inner Classes from Public Interfaces
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
Owners: none

tweaks
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Fix yaml format error
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Owners: @azure/azure-sdk-eng

prc
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Enforce API approval status for GA and include SDK type in package pr… (#1345)
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Pool provisioning configuration
  config/1es-pools/azsdk-pool-mms-ubuntu-1604-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-1804-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-2004-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-win-2019-general/provisioning.json
Owners: none

Adjustments for 1604 and 2004
  config/1es-pools/azsdk-pool-mms-ubuntu-1604-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-2004-general/provisioning.json
Owners: none

Set pre-allocated to previous levels inside PST hours.
  config/1es-pools/azsdk-pool-mms-ubuntu-1604-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-1804-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-2004-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-win-2019-general/provisioning.json
Owners: none

Include AzureSasCredential as allowed type for credential builder method
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
Owners: none

Include AzureSasCredential as allowed type for credential builder method (#1360)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
Owners: none

Small fix that validates for leaking implementation code if the parameter string is fully-qualified
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/IllegalPackageAPIExportsDiagnosticRule.java
Owners: none

tweaks to New-TestResources readme (#1351)
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Fix DateTime bug
  eng/common/scripts/Prepare-Release.ps1
Owners: @azure/azure-sdk-eng

Get the readme name from artifact-metadata-parsing
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Fix DateTime bug (#1361)
  eng/common/scripts/Prepare-Release.ps1
Owners: @azure/azure-sdk-eng

Adding support for UnaryExpr consts
  src/go/cmd/content.go
Owners: none

Adding support for UnaryExpr consts (#1363)
  src/go/cmd/content.go
Owners: none

Change to the readme
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Support sub directory for artifact location
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Update eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
Owners: @azure/azure-sdk-eng

Pool provisioning config (#1359)
  config/1es-pools/azsdk-pool-mms-ubuntu-1604-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-1804-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-ubuntu-2004-general/provisioning.json
  config/1es-pools/azsdk-pool-mms-win-2019-general/provisioning.json
Owners: none

Use a helper function to normalize the package name for readme (#1353)
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Fix as per review comment to avoid artifact sub path
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Package property file is not created for track1 and management pacakges.
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Scan all duplicate artifacts which set hide to true
  eng/common/docgeneration/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Updated cosmos emulator yml script to remove the existing installation, install latest version and run emulator with latest version
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
Owners: @azure/azure-sdk-eng

Include Non-Scoped Inner Classes from Public Interfaces (#1356)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
Owners: none

Fix property name case
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

do not add certain const types to token list
  src/go/cmd/content.go
  src/go/cmd/token_builders.go
Owners: none

improve logic
  src/go/cmd/token_builders.go
Owners: none

export skip const
  src/go/cmd/content.go
  src/go/cmd/token_builders.go
Owners: none

Include all classes in namespace at same level as Details
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
Owners: none

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
