Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @JimSuplizio, @qiaozha, @MaryGao, @raych1, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration
/.github/CODEOWNERS                    @azure/azure-sdk-eng

# Repository tooling
/tools/github                          @jsquire @ronniegeraghty
/tools/github-issues                   @jsquire @ronniegeraghty

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/eng/common/                           @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/             @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                                @azure/azure-sdk-eng
/tools/check-enforcer/                 @praveenkuttappan @weshaggard
/tools/code-owners-parser/             @konrad-jamrozik @JimSuplizio
/tools/github-issues/                  @praveenkuttappan @weshaggard
/tools/github-event-processor/         @JimSuplizio @benbp 
/tools/github-team-user-store/         @JimSuplizio @weshaggard
/tools/js-sdk-release-tools/           @qiaozha @MaryGao
/tools/mock-service-host/              @raych1 @tadelesh
/tools/perf-automation/                @mikeharder @benbp
/tools/pipeline-generator/             @weshaggard @benbp
/tools/pipeline-witness/               @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/        @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/                    @raych1 @tadelesh
/tools/stress-cluster/                 @benbp @ckairen
/tools/test-proxy/                     @scbedd @mikeharder
/tools/webhook-router/                 @praveenkuttappan @weshaggard

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers  @jsquire @pallavit @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @heaths @m-nash

add signalR for autorefresh feature
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
Owners: @azure/azure-sdk-eng

add comment auto refresh feature to APIView
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/DTO/CommentDto.cs
Owners: @azure/azure-sdk-eng

minor changes
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

ensure that the test blob's iteration count doesn't break us (#6358)
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

auto refresh new comment thread
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

auto refreshes comments on existing comment threads
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

auto refresh comment add
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

remove unnecessary functions
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

add comment autorefresh feature
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

existing comment thread autorefresh
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentPartialViewResultModel.cs
Owners: @azure/azure-sdk-eng

auto refresh comment add
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

existing comment thread autorefresh
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

auto refresh new comment thread
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

add comment auto refresh feature to APIView
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

add comment autorefresh feature
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

ensure that the test blob's iteration count doesn't break us (#6358)
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

Add autorefresh APIView review approvals
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Owners: @azure/azure-sdk-eng

Add approval autorefresh to APIView
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

Add approval autorefresh to APIView
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Owners: @azure/azure-sdk-eng

Add autorefresh APIView review approvals
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

fix comment multi submission bug
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

Add signalRHub mock to integration tests
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
Owners: @azure/azure-sdk-eng

update dependency injection
  src/dotnet/APIView/APIViewIntegrationTests/APIViewIntegrationTests.csproj
Owners: @azure/azure-sdk-eng

fix user profile icon bug
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

test
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

add comment addition skeleton
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

testing
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

Fix comment bug
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
Owners: @azure/azure-sdk-eng

Shorten comment button timeout
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

update deps for spelling tool
  eng/common/spelling/package-lock.json
Owners: @konrad-jamrozik, @weshaggard, @benbp

Show model properties in response body
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
Owners: @azure/azure-sdk-eng

Combine multiple violations for the same line.
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_models.py
Owners: none

Add progress to Add-AzsdkMilestones.ps1
  tools/github/scripts/Add-AzsdkMilestones.ps1
Owners: @azure/azure-sdk-eng

Review feedback
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

testing new regex
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTestExample.cs
Owners: @scbedd, @mikeharder

Fix delete/edit button issue
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Owners: @azure/azure-sdk-eng

Remove comments
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

[eng/common] Update-DocsMsMetadata.ps1 can fail the build on invalid packages (#6530)
  eng/common/pipelines/templates/steps/docsms-ensure-validation.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Fix event listener issue
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

Apply review suggestions
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentPartialViewResultModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Owners: @azure/azure-sdk-eng
