Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @benbp, @weshaggard, @kurtzeborn, @JimSuplizio, @weidongxu-microsoft, @ronniegeraghty, @jeo02, @qiaozha, @MaryGao, @wanlwanl, @mikeharder, @gearama, @heaths, @LarryOsterman, @RickWinter, @hallipr, @raych1, @lirenhe, @tadelesh, @chidozieononiwu, @scbedd, @catalinaperalta, @ckairen, @richardpark-msft, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash, @tjprescott, @jeremymeng, @maorleger, @JonathanGiles, @jhendrixMSFT, @chlowell, @l0lawrence

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################
/.github/CODEOWNERS                    @azure/azure-sdk-eng @jsquire

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/.config/1espt/                        @benbp @weshaggard

###########
# CODEOWNERS Linter pipeline
###########
/eng/common/pipelines/codeowners-linter.yml @kurtzeborn @JimSuplizio @weshaggard

###########
# Eng Sys Tools
###########
/tools/                                 @azure/azure-sdk-eng
/tools/azure-rest-api-specs-examples-automation/ @weidongxu-microsoft
/tools/codeowners-utils/                @JimSuplizio
/tools/github/                          @jsquire @ronniegeraghty
/tools/github-event-processor/          @JimSuplizio @benbp @jsquire @ronniegeraghty
/tools/github-team-user-store/          @JimSuplizio @weshaggard
/tools/issue-labeler/                   @jsquire @jeo02
/tools/js-sdk-release-tools/            @qiaozha @MaryGao @wanlwanl
/tools/perf-automation/                 @mikeharder @benbp
/tools/perf-automation/**/*Rust*.cs     @gearama @heaths @LarryOsterman @RickWinter
/tools/pipeline-generator/              @weshaggard @benbp
/tools/pipeline-witness/                @hallipr
/tools/sdk-ai-bots/                     @raych1
/tools/sdk-testgen/                     @lirenhe @tadelesh
/tools/spec-gen-sdk/                    @raych1 @chidozieononiwu
/tools/test-proxy/                      @scbedd @mikeharder @benbp
/tools/tsp-client/                      @catalinaperalta
/tools/typespec-bump-deps/              @weidongxu-microsoft

###########
# Stress
###########
/eng/common/scripts/stress-testing/     @benbp @ckairen @richardpark-msft
/tools/stress-cluster/                  @benbp @ckairen @richardpark-msft

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers/  @jsquire @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @m-nash
/src/dotnet/APIView/                    @chidozieononiwu

###########
# APIView parsers
###########
/tools/apiview/                           @chidozieononiwu
/tools/apiview/emitters/typespec-apiview/ @tjprescott
/tools/apiview/parsers/cpp-api-parser/    @LarryOsterman
/tools/apiview/parsers/csharp-api-parser/ @christothes
/tools/apiview/parsers/js-api-parser/     @jeremymeng @maorleger
/src/swift/                               @tjprescott
/src/java/apiview-java-processor/         @JonathanGiles
/src/go/                                  @jhendrixMSFT @chlowell @RickWinter


###########
# Pylint checkers
###########
/tools/pylint-extensions/azure-pylint-guidelines-checker/ @l0lawrence

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/README.md
Owners: @azure/azure-sdk-eng

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecValidationTool/SpecValidationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecValidationTool/SpecValidationTool.cs
Owners: @azure/azure-sdk-eng

add rag env vars
  packages/python-packages/apiview-copilot/tests.yml
Owners: none

Add option to create test release plan and also to pass SDK release type
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecValidationTool/SpecValidationTool.cs
Owners: @azure/azure-sdk-eng

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
Owners: @azure/azure-sdk-eng

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
Owners: @azure/azure-sdk-eng

added new param and migrated test framework
  .gitignore
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/jest.config.js
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/test/reportFormat.test.ts
  tools/spec-gen-sdk/test/utils.test.ts
  tools/spec-gen-sdk/test/workflow.test.ts
  tools/spec-gen-sdk/tsconfig.json
  tools/spec-gen-sdk/vitest.config.ts
Owners: @azure/azure-sdk-eng, @raych1, @chidozieononiwu

Disallow braceless if statements
  .editorconfig
Owners: @azure/azure-sdk-eng

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
Owners: @azure/azure-sdk-eng

ensure the instructive tool follows the try catch pattern
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HelloWorldTool/HelloWorldTool.cs
Owners: @azure/azure-sdk-eng

Update query to use not contains
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Owners: @azure/azure-sdk-eng

Enforce generic exception handling in `McpServerTool` annotated functions (#10685)
  tools/azsdk-cli/Azure.SDK.Tools.Cli.sln
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/Azure.Sdk.Tools.Cli.Analyzer.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/MCPAnalyzer.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/AzurePipelinesTool/AzurePipelinesTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HelloWorldTool/HelloWorldTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SDKWorkFlowTool/SDKWorkFlowTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecCommonTools/SpecCommonTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecValidationTool/SpecValidationTool.cs
Owners: @azure/azure-sdk-eng

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Owners: @azure/azure-sdk-eng

Release plan mcp changes (#10723)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecValidationTool/SpecValidationTool.cs
Owners: @azure/azure-sdk-eng

Send API outline along to APIView CoPilot service
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/PullRequestsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Owners: @chidozieononiwu

preprocess
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/.env.example
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/.gitignore
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/.prettierrc
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/package.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/sample/preprocess.http
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/auth/key-auth.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/error/commonErrors.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/error/inputErrors.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/ImageContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/LinkContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/PromptGenerator.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/RemoteContent.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/logging/logger.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/routes/prompts.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/server.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/test/test.e2e.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/utils/env.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/tsconfig.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/vitest.config.ts
Owners: @raych1

update pkg json
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/package.json
Owners: @raych1

update readme
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/README.md
Owners: @raych1

update readme
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/README.md
Owners: @raych1

update
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/ImageContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/input/PromptGenerator.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/routes/prompts.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/src/test/test.e2e.test.ts
Owners: @raych1

update readme
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/README.md
Owners: @raych1

.
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend-shared/README.md
Owners: @raych1

1. add reference to latest Azure.Core package which is not used by latest ResourceManagement package but needed for some Type referenced in the code 2. add reference to System.Net
  tools/net-changelog-gen-mgmt/Azure.SDK.Management.ChangelogGen/Azure.SDK.Management.ChangelogGen.csproj
  tools/net-changelog-gen-mgmt/Azure.SDK.Management.ChangelogGen/Program.cs
Owners: @azure/azure-sdk-eng

update
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Owners: @qiaozha, @MaryGao, @wanlwanl

Update rushUtils.ts
  tools/js-sdk-release-tools/src/common/rushUtils.ts
Owners: @qiaozha, @MaryGao, @wanlwanl

Update rushUtils.ts
  tools/js-sdk-release-tools/src/common/rushUtils.ts
Owners: @qiaozha, @MaryGao, @wanlwanl

fix whitespace
  tools/net-changelog-gen-mgmt/Azure.SDK.Management.ChangelogGen/Azure.SDK.Management.ChangelogGen.csproj
  tools/net-changelog-gen-mgmt/Azure.SDK.Management.ChangelogGen/Program.cs
Owners: @azure/azure-sdk-eng

[JS] fix bugs (#10727)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/common/rushUtils.ts
Owners: @qiaozha, @MaryGao, @wanlwanl

Fix net changelog gen (#10730)
  tools/net-changelog-gen-mgmt/Azure.SDK.Management.ChangelogGen/Azure.SDK.Management.ChangelogGen.csproj
  tools/net-changelog-gen-mgmt/Azure.SDK.Management.ChangelogGen/Program.cs
Owners: @azure/azure-sdk-eng

Update APIView Endpoint to use API COntrollers
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @azure/azure-sdk-eng

Added param to optionally skip sdk gen (#10721)
  .gitignore
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/jest.config.js
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/test/reportFormat.test.ts
  tools/spec-gen-sdk/test/utils.test.ts
  tools/spec-gen-sdk/test/workflow.test.ts
  tools/spec-gen-sdk/tsconfig.json
  tools/spec-gen-sdk/vitest.config.ts
Owners: @azure/azure-sdk-eng, @raych1, @chidozieononiwu

Add MCP tool to link sdk pull request
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SDKWorkFlowTool/SDKWorkFlowTool.cs
Owners: @azure/azure-sdk-eng

Fix broken link in azsdk mcp server readme
  eng/common/mcp/README.md
Owners: @azure/azure-sdk-eng

Update eng/common/mcp/README.md
  eng/common/mcp/README.md
Owners: @azure/azure-sdk-eng

Add common npm publishing template
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-js.yml
  eng/scripts/determine-js-release-tag.ps1
Owners: @azure/azure-sdk-eng

Set tree diff style as default, properly manage creation of new user profiles
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserProfileCache.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Owners: @chidozieononiwu

Fix broken link in azsdk mcp server readme (#10733)
  eng/common/mcp/README.md
Owners: @azure/azure-sdk-eng

update generation pipeline so that we don't generate CI pipelines anymore. go - pullrequest exists.
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Owners: @azure/azure-sdk-eng

Add MCP tool to link SDK pull request to release plan
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SDKWorkFlowTool/SDKWorkFlowTool.cs
Owners: @azure/azure-sdk-eng

Removed unnecessary logging
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Owners: @azure/azure-sdk-eng
