Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

add test
  packages/python-packages/low-level-client-api-gen/tests/__init__.py
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
Owners: none

Allow automatic triggering to public PR pipelines
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Allow automatic triggering to public PR pipelines (#1723)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Fix notification checks (#1707)
  eng/pipelines/notifications.yml
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/identity-resolver/identity-resolver.csproj
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
Owners: @azure/azure-sdk-eng

Add OfficialBuildId to the global variables
  eng/pipelines/templates/variables/globals.yml
Owners: @azure/azure-sdk-eng

Update tool version to include fix for public ci
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

seriously simplify the amount of deps installed, clean the cert import script to ensure line endings match linux style (#1724)
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

Add example manifests to auto-mount keyvault secrets
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/manifests/secret-class-template.yaml
  tools/stress-cluster/cluster/manifests/secret-test.yaml
Owners: @azure/azure-sdk-eng

ensure we don't attempt to read body length, instead check content-length.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Owners: @azure/azure-sdk-eng

bump version of the tool being pulled into docker file
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

Update pipeline generation tool version (#1719)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

testing tests
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
Owners: none

pause testing, work on color
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
Owners: none

Auto API review should only have one pending review since last approval (#1678)
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

fixing color of comment
  packages/python-packages/low-level-client-api-gen/llc_api/parse_yml.py
  packages/python-packages/low-level-client-api-gen/llcapi/__init__.py
  packages/python-packages/low-level-client-api-gen/llcapi/_diagnostic.py
  packages/python-packages/low-level-client-api-gen/llcapi/_token.py
  packages/python-packages/low-level-client-api-gen/llcapi/_token_kind.py
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llcapi/parse_yml.py
  packages/python-packages/low-level-client-api-gen/llcapi/version.py
  packages/python-packages/low-level-client-api-gen/low_level_client_api.py
  packages/python-packages/low-level-client-api-gen/setup.py
Owners: none

removing unused schema request, replaced my autorest
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

formatting
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

rid of extra init
  packages/python-packages/low-level-client-api-gen/tests/__init__.py
Owners: none

Wire up app insights key into pod env
  tools/stress-cluster/cluster/manifests/secret-class-template.yaml
  tools/stress-cluster/cluster/manifests/secret-test.yaml
Owners: @azure/azure-sdk-eng

had to add a layer for selectedchoices
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llcapi/parse_yml.py
Owners: none

fixed weird spacing wher a request has a '' key
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

Add ACR and kubelet identity push/pull role assignments
  tools/stress-cluster/cluster/cluster/acr.bicep
  tools/stress-cluster/cluster/cluster/cluster.bicep
Owners: @azure/azure-sdk-eng

Add role assignments for ADP group
  tools/stress-cluster/cluster/cluster/acr.bicep
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/cluster/keyvault.bicep
  tools/stress-cluster/cluster/main.bicep
Owners: @azure/azure-sdk-eng

Add stress cluster bicep files and buildout readme (#1704)
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/cluster/acr.bicep
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/cluster/keyvault.bicep
  tools/stress-cluster/cluster/main.bicep
  tools/stress-cluster/cluster/manifests/secret-class-template.yaml
  tools/stress-cluster/cluster/manifests/secret-test.yaml
  tools/stress-cluster/cluster/monitoring/app-insights.bicep
  tools/stress-cluster/cluster/monitoring/log-analytics-workspace.bicep
  tools/stress-cluster/cluster/parameters/dev.json
  tools/stress-cluster/cluster/parameters/prod.json
  tools/stress-cluster/cluster/parameters/test.json
Owners: @azure/azure-sdk-eng

Show approved revisions in green color
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Owners: none

Check for API review status only if release date is set in changelog
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

add method to check if string is exported
  src/go/cmd/content.go
Owners: none

fixed side navigation, wokring on IDS
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

navigation fix
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

navigation panel
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

navigation panel 2
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

Go APIView: misc fixes (#1721)
  src/go/cmd/content.go
  src/go/cmd/output/teststruct.json
Owners: none

defautl op group
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

fixed return type
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

fixed return type
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

support GZipped responses
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @azure/azure-sdk-eng

support GZipped responses (#1734)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @azure/azure-sdk-eng

update test-proxy dockerfile with latest nuget bits
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

update image version in readme
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

correct indent
  eng/containers/ci.yml
Owners: @azure/azure-sdk-eng
