Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @qiaozha, @MaryGao, @changlong-liu, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd

.github/CODEOWNERS:

################
# Misc
################
/*                               @azure/azure-sdk-eng
/.devcontainer/                  @azure/azure-sdk-eng
/doc/                            @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/.azure-pipelines/               @azure/azure-sdk-eng
/config/                         @azure/azure-sdk-eng
/scripts/                        @azure/azure-sdk-eng
/src/                            @azure/azure-sdk-eng
/web/                            @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @jsquire @ronniegeraghty
/.github/CODEOWNERS              @azure/azure-sdk-eng

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard
/tools/js-sdk-release-tools/     @qiaozha @MaryGao
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/perf-automation/          @mikeharder @benbp
/tools/pipeline-generator/       @weshaggard @benbp
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/  @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/stress-cluster/           @benbp @ckairen
/tools/test-proxy/               @scbedd @mikeharder
/tools/webhook-router/           @praveenkuttappan @weshaggard

update trusting cert per language
  tools/test-proxy/documentation/test-proxy/trusting-cert-per-language.md
Owners: @scbedd, @mikeharder

Add ci.yml for building/publishing
  tools/github-event-processor/ci.yml
Owners: @azure/azure-sdk-eng

fix error in ci.yml
  tools/github-event-processor/ci.yml
Owners: @azure/azure-sdk-eng

Pipe npm ci output to Write-Host
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Comment out a test that's only failing on Mac
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestProcessingTests.cs
Owners: @azure/azure-sdk-eng

Logging for api request body for better diagnosability (#5603)
  eng/common/scripts/artifact-metadata-parsing.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Migrate to using windows-2022 pool
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Migrate to using windows-2022 pool (#5611)
  eng/pipelines/eng-common-sync.yml
Owners: @azure/azure-sdk-eng

Use --tags and --name for rotation config filtering (#5577)
  schemas/secret-rotation/1.0.0/schema.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/ListCommand.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotateCommand.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotationCommandBase.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Program.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/PlanConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/RotationConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/StoreConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/PlanConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Invalid/null.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Invalid/wrong-schema.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/four.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-1.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-2.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/one.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/three.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/two.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/manual-value.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/random-string.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.sln
Owners: @azure/azure-sdk-eng

Add type link for Go API view (#5346)
  src/go/cmd/content.go
  src/go/cmd/module.go
  src/go/cmd/pkg.go
  src/go/cmd/token_makers.go
  src/go/go.mod
  src/go/go.sum
Owners: @azure/azure-sdk-eng

Add caching token credential
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/CachingTokenCredential.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotationCommandBase.cs
Owners: @azure/azure-sdk-eng

Add $schema as an optional parameter in the schema
  schemas/secret-rotation/1.0.0/schema.json
Owners: none

Fix schema uri
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/PlanConfiguration.cs
Owners: @azure/azure-sdk-eng

Fix schemas in test json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/four.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-1.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-2.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/one.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/three.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/two.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/manual-value.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/random-string.json
Owners: @azure/azure-sdk-eng

Use "npm ci" to install cspell and respect package-lock.json (#5595)
  eng/common/spelling/Invoke-Cspell.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

set packaging for GitHubEventProcessor
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
Owners: @azure/azure-sdk-eng

set tool command name to github-event-processor
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
Owners: @azure/azure-sdk-eng

enable true version override so that other tools also have a shot at picking up the replaced version
  eng/common/testproxy/override-proxy-version.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Owners: @konrad-jamrozik, @weshaggard, @benbp

Updates for testing and addition of Search rate limit output
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestCommentProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestReviewProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/ScheduledEventProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueCommentProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestCommentProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestReviewProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
Owners: @azure/azure-sdk-eng

Remove extra whitespace
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

wqewqeq
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Cpp.cs
Owners: @mikeharder, @benbp

ds
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Cpp.cs
Owners: @mikeharder, @benbp

Add displayName to install valgrind
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

Remove unnecessary condition
  tools/perf-automation/tests.yml
Owners: @mikeharder, @benbp

tter
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Cpp.cs
Owners: @mikeharder, @benbp

Rename Cadl to TypeSpec.
  tools/apiview/emitters/cadl-apiview/.eslintrc.cjs
  tools/apiview/emitters/cadl-apiview/.prettierrc.yaml
  tools/apiview/emitters/typespec-apiview/.c8rc.json
  tools/apiview/emitters/typespec-apiview/.eslintrc.cjs
  tools/apiview/emitters/typespec-apiview/.mocharc.yaml
  tools/apiview/emitters/typespec-apiview/.prettierignore
  tools/apiview/emitters/typespec-apiview/.prettierrc.yaml
  tools/apiview/emitters/typespec-apiview/CHANGELOG.md
  tools/apiview/emitters/typespec-apiview/README.md
  tools/apiview/emitters/typespec-apiview/ci.yml
  tools/apiview/emitters/typespec-apiview/cspell.yaml
  tools/apiview/emitters/typespec-apiview/package.json
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/src/diagnostic.ts
  tools/apiview/emitters/typespec-apiview/src/emitter.ts
  tools/apiview/emitters/typespec-apiview/src/index.ts
  tools/apiview/emitters/typespec-apiview/src/lib.ts
  tools/apiview/emitters/typespec-apiview/src/namespace-model.ts
  tools/apiview/emitters/typespec-apiview/src/navigation.ts
  tools/apiview/emitters/typespec-apiview/src/testing/index.ts
  tools/apiview/emitters/typespec-apiview/src/version.ts
  tools/apiview/emitters/typespec-apiview/test/apiview-options.test.ts
  tools/apiview/emitters/typespec-apiview/test/apiview.test.ts
  tools/apiview/emitters/typespec-apiview/test/test-host.ts
  tools/apiview/emitters/typespec-apiview/tsconfig.json
Owners: @azure/azure-sdk-eng

wqwq
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Cpp.cs
Owners: @mikeharder, @benbp

ongoing
  eng/pipelines/doc-warden.yml
Owners: @azure/azure-sdk-eng
