Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Update Collect ChangeLogLogic
  eng/common/scripts/Collect-ChangeLogs.ps1
Owners: @azure/azure-sdk-eng

Add changelog collection (#1303)
  eng/common/scripts/Collect-ChangeLogs.ps1
Owners: @azure/azure-sdk-eng

Update repo parameter for eng/common sync (#1372)
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Change other version to all versions
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

Add eng/common break check (#1358)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @azure/azure-sdk-eng

Change script parameters to boolean
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Fix up repos sub parameters
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Revert "Update repo parameter for eng/common sync (#1372)"
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update repos sub parameters
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update repos sub parameters (#1398)
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Revert "Update repos sub parameters (#1398)"
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Revert "Update repos sub parameters (#1398)" (#1399)
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Revert "Update repo parameter for eng/common sync (#1372)" (#1400)
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Change script parameters to boolean
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Enable passing devops pat for work item scripts (#1386)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Owners: @azure/azure-sdk-eng

Change script parameters to Boolean (#1307)
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Update eng-common-workflow-enforcer
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @azure/azure-sdk-eng

Allow logging into specific subscription
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Adding support for displaying Maven properties in apiview
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Dependency.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Gav.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/MavenGAV.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Owners: none

Update release version
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Owners: none

Add vcpkg fork to sync (#1395)
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Update eng-common-workflow-enforcer (#1401)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Owners: @azure/azure-sdk-eng

Allow logging into specific subscription (#1405)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Improve TestResources docs and logging
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Add ADP test sub to look-up
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Improve TestResources docs and logging (#1408)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Owners: @heaths, @danieljurek, @weshaggard

Update package properties tools to use one argument
  eng/common/scripts/Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Rework verify agent OS step. (#1371)
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/Verify-AgentOS.ps1
Owners: @azure/azure-sdk-eng

Add support for displaying jacoco, checkstyle and maven-enforcer configuration in apiview
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Owners: none

[APIView] add support for displaying important maven details (#1406)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/IllegalPackageAPIExportsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Dependency.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Gav.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/MavenGAV.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Owners: none

Add CI trigger back to pipeline generator
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Create package property file using artifact name (#1374)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Approve automatic reviews if approved manual review matches
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Copy approvers from approved list
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Prevent duplicate 'compile scope' sections in the maven output in apiview, e.g. https://apiview.dev/Assemblies/Review/fbf55e63dd0e4a53b23e5ed4b44c1f45
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Dependency.java
Owners: none

[APIView] Java - don't create multiple 'compile scope' sections (#1412)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Dependency.java
Owners: none

Changes as per review comment to simplify this design
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Revoiew comment fixes
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Exclude the packages which already show up in latest GA and preview
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

Review comment fix
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
Owners: none

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
