Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @jsquire, @azure/azure-sdk-eng, @sima-zhu, @weshaggard, @benbp, @heaths, @praveenkuttappan, @scbedd, @mikeharder, @ckairen, @changlong-liu, @tadelesh, @dw511214992, @qiaozha, @MaryGao, @maorleger, @chunyu3, @zzvswxy

.github/CODEOWNERS:

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @AlexGhiondea @jsquire

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @sima-zhu @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/webhook-router/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard @AlexGhiondea
/tools/pipeline-generator/       @weshaggard @benbp
/tools/test-proxy/               @scbedd @mikeharder
/tools/stress-cluster/           @benbp @ckairen
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/js-sdk-release-tools/     @dw511214992 @qiaozha @MaryGao
/tools/keyvault-mock-attestation @maorleger
/tools/sdk-generation-pipeline   @dw511214992 @chunyu3 @zzvswxy

reflecting the new checkers in README, and updated pylint version
  tools/pylint-extensions/pylint-guidelines-checker/README.md
  tools/pylint-extensions/pylint-guidelines-checker/dev_requirements.txt
Owners: @azure/azure-sdk-eng

versioning in readme
  tools/pylint-extensions/pylint-guidelines-checker/README.md
Owners: @azure/azure-sdk-eng

Fix issue with type parsing.
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/tests/_test_util.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Owners: none

fixing warning formatting for apiview parsing
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

adding test to confirm usage of new host header
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
Owners: @scbedd, @mikeharder

0.0.2 -> 0.0.3 (#3190)
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
Owners: @azure/azure-sdk-eng

fixing warning formatting for apiview parsing (#3210)
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

[Test-Proxy] Adding Redirect Mode (#3175)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Info.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

updating astroid version
  tools/pylint-extensions/pylint-guidelines-checker/README.md
Owners: @azure/azure-sdk-eng

bump consumed version of test proxy. update scripting to target the fully cross-platform image tag name.
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  tools/test-proxy/docker/README.md
Owners: @sima-zhu, @weshaggard, @benbp, @scbedd, @mikeharder

Update tools/asset-sync/assets.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Fix #3192. (#3206)
  src/swift/SwiftAPIViewCore/Sources/Models/Miscellaneous/TypeModels/TypeIdentifierModel.swift
  src/swift/SwiftAPIViewTests/Sources/AttributesTestFile.swift
  src/swift/SwiftAPIViewTests/Sources/EnumerationsTestFile.swift
Owners: none

Update tools/asset-sync/assets.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Fix component governance issues
  src/go/go.mod
  tools/js-sdk-release-tools/package.json
Owners: @dw511214992, @qiaozha, @MaryGao

Update tools/asset-sync/assets.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

Update tools/asset-sync/assets.ps1
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

moving over exception pylint rule
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

simpler unexported member check handles generic syntax
  src/go/cmd/content.go
Owners: none

prevent duplicate IDs for aliases of the same type
  src/go/cmd/content.go
  src/go/cmd/module.go
  src/go/cmd/pkg.go
  src/go/cmd/token_makers.go
Owners: none

add one declaration to content at a time
  src/go/cmd/content.go
  src/go/cmd/pkg.go
  src/go/cmd/token_makers.go
Owners: none

moving over tests
  tools/pylint-extensions/pylint-guidelines-checker/README.md
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

moving over list_return_type
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

adding guidelines link
  tools/pylint-extensions/pylint-guidelines-checker/README.md
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

updating test names
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

add newline
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

small PR feedback updates
  tools/asset-sync/assets.ps1
Owners: @azure/azure-sdk-eng

discard broken headers instead of explicitly throwing.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

remove needless spew
  src/go/cmd/module.go
  src/go/cmd/pkg.go
Owners: none

exclude unexported types from navigation
  src/go/cmd/content.go
Owners: none

log instead of panic when hoisting fails
  src/go/cmd/module.go
Owners: none

relax import path requirement for hoisting
  src/go/cmd/module.go
  src/go/cmd/pkg.go
Owners: none

handle map and pointer types
  src/go/cmd/pkg.go
  src/go/cmd/token_makers.go
Owners: none

handle func literal vars
  src/go/cmd/content.go
Owners: none

display the exported names of type aliases
  src/go/cmd/module.go
  src/go/cmd/pkg.go
Owners: none

tests
  src/go/cmd/api_view_test.go
  src/go/cmd/module.go
  src/go/cmd/testdata/test_diagnostics/go.mod
  src/go/cmd/testdata/test_diagnostics/internal/internal.go
  src/go/cmd/testdata/test_diagnostics/test.go
  src/go/cmd/testdata/test_subpackage/go.mod
  src/go/cmd/testdata/test_subpackage/subpackage/test.go
  src/go/cmd/testdata/test_subpackage/test.go
Owners: none

include unsourced aliases in reviews
  src/go/cmd/module.go
Owners: none

ensuring we log the detail of skipping
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

downgrade to http1.1
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/appsettings.json
Owners: @scbedd, @mikeharder

save
  tools/sdk-generation-pipeline/entrypoint.sh
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInLocal.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInPipeline.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/growUp.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/runMockHost.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/dockerCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/reRunTaskCli.ts
Owners: @dw511214992, @chunyu3, @zzvswxy

Server-side changes to support collapsible panel in APIVIew (#2999) Restructure line details section to accomodate more features (#3146) Sanitize table foldableClass to be valid css (#3176)
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIView/CodeLine.cs
  src/dotnet/APIView/APIView/Model/CodeFileTokenKind.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/api.ts
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
  src/dotnet/APIView/apiview_token_gist.json
Owners: none
