Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @ronniegeraghty, @konrad-jamrozik, @weshaggard, @benbp, @heaths, @praveenkuttappan, @JimSuplizio, @qiaozha, @MaryGao, @raych1, @tadelesh, @mikeharder, @maririos, @ckairen, @scbedd, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @m-nash

Combine multiple violations for the same line. (#6536)
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_models.py
Owners: none

Small fixes
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/DTO/CommentDto.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Owners: @azure/azure-sdk-eng

Add progress to Add-AzsdkMilestones.ps1 (#6537)
  tools/github/scripts/Add-AzsdkMilestones.ps1
Owners: @azure/azure-sdk-eng

add sms phone number bodyKey
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTestExample.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/sample_entry.json
Owners: @scbedd, @mikeharder

print body
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTestExample.cs
Owners: @scbedd, @mikeharder

Remove signalR import in helpers
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
Owners: @azure/azure-sdk-eng

Remove logs
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
Owners: @azure/azure-sdk-eng

add what should be breaking, but what isn't
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/PlaybackTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/nonascii_file_name«úü¡»¿.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/¥.json
Owners: @scbedd, @mikeharder

add namespace given lack of system import
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTestExample.cs
Owners: @scbedd, @mikeharder

Move helpers to appropriate files
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Owners: @azure/azure-sdk-eng

Remove excess line breaks
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

update default test verbosity
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Owners: @azure/azure-sdk-eng

update deps for spelling tool (#6538)
  eng/common/spelling/package-lock.json
Owners: @konrad-jamrozik, @weshaggard, @benbp

Only save package properties for track 2 packages (prevents overwrites of track 2 package info by track 1 packages)
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Only overwrite if the package is track 2
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Fix apiview comment autorefresh delete/edit issue and add approval autorefresh feature
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  git-diagnostics-2023-07-18-1003.zip
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/DTO/CommentDto.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentPartialViewResultModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Owners: @azure/azure-sdk-eng

Resolve Bug in comment autoRefresh
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Owners: @azure/azure-sdk-eng

Resolve Bug in comment autoRefresh (#6548)
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Owners: @azure/azure-sdk-eng

Only save package properties for track 2 packages (#6544)
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Addressing PR feedback.
  tools/github/README.md
  tools/github/scripts/Add-AzsdkMilestones.ps1
  tools/github/scripts/Add-AzsdkProjectIssues.ps1
  tools/github/scripts/Snapshot-AzsdkLabels.ps1
  tools/github/scripts/Sync-AzsdkLabels.ps1
Owners: @azure/azure-sdk-eng

Update PythonLanguageService.cs (#6464)
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Owners: @azure/azure-sdk-eng

Update Python API parser version in Sandboxing pipeline
  eng/pipelines/apiview-review-gen-python.yml
Owners: @azure/azure-sdk-eng

Set DOCKER_BUILDKIT to 1 in stress deploy image build
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Include html file reference in rule ID.
  packages/python-packages/apiview-gpt/guidelines/android/design.json
  packages/python-packages/apiview-gpt/guidelines/android/implementation.json
  packages/python-packages/apiview-gpt/guidelines/clang/design.json
  packages/python-packages/apiview-gpt/guidelines/clang/implementation.json
  packages/python-packages/apiview-gpt/guidelines/cpp/implementation.json
  packages/python-packages/apiview-gpt/guidelines/cpp/introduction.json
  packages/python-packages/apiview-gpt/guidelines/dotnet/implementation.json
  packages/python-packages/apiview-gpt/guidelines/dotnet/introduction.json
  packages/python-packages/apiview-gpt/guidelines/general/azurecore.json
  packages/python-packages/apiview-gpt/guidelines/general/design.json
  packages/python-packages/apiview-gpt/guidelines/general/documentation.json
  packages/python-packages/apiview-gpt/guidelines/general/implementation.json
  packages/python-packages/apiview-gpt/guidelines/golang/implementation.json
  packages/python-packages/apiview-gpt/guidelines/golang/introduction.json
  packages/python-packages/apiview-gpt/guidelines/ios/design.json
  packages/python-packages/apiview-gpt/guidelines/ios/documentation.json
  packages/python-packages/apiview-gpt/guidelines/ios/implementation.json
  packages/python-packages/apiview-gpt/guidelines/ios/introduction.json
  packages/python-packages/apiview-gpt/guidelines/java/implementation.json
  packages/python-packages/apiview-gpt/guidelines/java/introduction.json
  packages/python-packages/apiview-gpt/guidelines/java/spring.json
  packages/python-packages/apiview-gpt/guidelines/python/design.json
  packages/python-packages/apiview-gpt/guidelines/python/documentation.json
  packages/python-packages/apiview-gpt/guidelines/python/implementation.json
  packages/python-packages/apiview-gpt/guidelines/typescript/design.json
  packages/python-packages/apiview-gpt/guidelines/typescript/documentation.json
  packages/python-packages/apiview-gpt/guidelines/typescript/implementation.json
  packages/python-packages/apiview-gpt/guidelines/typescript/introduction.json
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/parse_guidelines.py
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_markdown_parser.py
Owners: none

Include html file reference in rule ID. (#6559)
  packages/python-packages/apiview-gpt/guidelines/android/design.json
  packages/python-packages/apiview-gpt/guidelines/android/implementation.json
  packages/python-packages/apiview-gpt/guidelines/clang/design.json
  packages/python-packages/apiview-gpt/guidelines/clang/implementation.json
  packages/python-packages/apiview-gpt/guidelines/cpp/implementation.json
  packages/python-packages/apiview-gpt/guidelines/cpp/introduction.json
  packages/python-packages/apiview-gpt/guidelines/dotnet/implementation.json
  packages/python-packages/apiview-gpt/guidelines/dotnet/introduction.json
  packages/python-packages/apiview-gpt/guidelines/general/azurecore.json
  packages/python-packages/apiview-gpt/guidelines/general/design.json
  packages/python-packages/apiview-gpt/guidelines/general/documentation.json
  packages/python-packages/apiview-gpt/guidelines/general/implementation.json
  packages/python-packages/apiview-gpt/guidelines/golang/implementation.json
  packages/python-packages/apiview-gpt/guidelines/golang/introduction.json
  packages/python-packages/apiview-gpt/guidelines/ios/design.json
  packages/python-packages/apiview-gpt/guidelines/ios/documentation.json
  packages/python-packages/apiview-gpt/guidelines/ios/implementation.json
  packages/python-packages/apiview-gpt/guidelines/ios/introduction.json
  packages/python-packages/apiview-gpt/guidelines/java/implementation.json
  packages/python-packages/apiview-gpt/guidelines/java/introduction.json
  packages/python-packages/apiview-gpt/guidelines/java/spring.json
  packages/python-packages/apiview-gpt/guidelines/python/design.json
  packages/python-packages/apiview-gpt/guidelines/python/documentation.json
  packages/python-packages/apiview-gpt/guidelines/python/implementation.json
  packages/python-packages/apiview-gpt/guidelines/typescript/design.json
  packages/python-packages/apiview-gpt/guidelines/typescript/documentation.json
  packages/python-packages/apiview-gpt/guidelines/typescript/implementation.json
  packages/python-packages/apiview-gpt/guidelines/typescript/introduction.json
  packages/python-packages/apiview-gpt/output.json
  packages/python-packages/apiview-gpt/parse_guidelines.py
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_markdown_parser.py
Owners: none

Fix user icon bug
  src/dotnet/APIView/APIViewWeb/Client/package.json
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
Owners: @azure/azure-sdk-eng

Remove webpack dependency upgrade
  src/dotnet/APIView/APIViewWeb/Client/package.json
Owners: @azure/azure-sdk-eng

Fix user icon bug (#6560)
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
Owners: @azure/azure-sdk-eng

support keyvaultreference dfe type
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/model.ts
Owners: @raych1, @tadelesh

update changelog and version
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
Owners: @raych1, @tadelesh

fix lint error
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/model.ts
Owners: @raych1, @tadelesh

Base64 encode path
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/PlaybackTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

Base64 encode path (#6564)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/PlaybackTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @scbedd, @mikeharder

Update Python API parser version in Sandboxing pipeline (#6555)
  eng/pipelines/apiview-review-gen-python.yml
Owners: @azure/azure-sdk-eng

update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Owners: @jsquire, @pallavit, @JoshLove-msft, @christothes, @annelo-msft, @KrzysztofCwalina, @tg-msft, @heaths, @m-nash

Set DOCKER_BUILDKIT to 1 in stress deploy image build (#6557)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @konrad-jamrozik, @weshaggard, @benbp

Make x509 certificate script from azure-sdk-for-net common to repos
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Owners: @benbp, @weshaggard, @heaths, @konrad-jamrozik

Make x509 certificate script from azure-sdk-for-net common to repos (#6543)
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Owners: @benbp, @weshaggard, @heaths, @konrad-jamrozik

Show model properties in response body (#6568)
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
Owners: @azure/azure-sdk-eng

apply some fixes/work arounds to make it work
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
  packages/python-packages/apiview-gpt/src/_sectioned_document.py
Owners: none

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################

# Git Hub integration
/.github/CODEOWNERS                    @azure/azure-sdk-eng

# Repository tooling
/tools/github                          @jsquire @ronniegeraghty
/tools/github-issues                   @jsquire @ronniegeraghty

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/eng/common/                           @konrad-jamrozik @weshaggard @benbp
/eng/common/TestResources/             @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                                @azure/azure-sdk-eng
/tools/check-enforcer/                 @praveenkuttappan @weshaggard
/tools/code-owners-parser/             @konrad-jamrozik @JimSuplizio
/tools/github-issues/                  @praveenkuttappan @weshaggard
/tools/github-event-processor/         @JimSuplizio @benbp 
/tools/github-team-user-store/         @JimSuplizio @weshaggard
/tools/js-sdk-release-tools/           @qiaozha @MaryGao
/tools/mock-service-host/              @raych1 @tadelesh
/tools/perf-automation/                @mikeharder @benbp
/tools/pipeline-generator/             @weshaggard @benbp
/tools/pipeline-witness/               @praveenkuttappan @weshaggard
/tools/sdk-generation-pipeline/        @weshaggard @praveenkuttappan @maririos
/tools/sdk-testgen/                    @raych1 @tadelesh
/tools/stress-cluster/                 @benbp @ckairen
/tools/test-proxy/                     @scbedd @mikeharder
/tools/webhook-router/                 @praveenkuttappan @weshaggard

###########
# .NET Client Tools
###########
/src/dotnet/Azure.ClientSdk.Analyzers  @jsquire @pallavit @JoshLove-msft @christothes @annelo-msft @KrzysztofCwalina @tg-msft @heaths @m-nash
