Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Update Generate-DocIndex.ps1
  eng/common/docgeneration/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Update Generate-DocIndex.ps1
  eng/common/docgeneration/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Update Generate-DocIndex.ps1
  eng/common/docgeneration/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Added function to common
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Update Generate-DocIndex.ps1
  eng/common/docgeneration/Generate-DocIndex.ps1
Owners: @azure/azure-sdk-eng

Fixed the bug of the wrong parameter
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Fixed the docindex.yml and rename the functions (#1226)
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/docindex.yml
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Review comment fixes
  src/dotnet/APIView/APIViewWeb/Account/ReviewModifierRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/ReviewModifierRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

commit changes for checkout
  scripts/python/docs-automation/sync_tocs.py
Owners: none

refactor almost complete. just need to eliminate repo_location in favor of path_resolver
  scripts/python/docs-automation/sync_tocs.py
Owners: none

finish refactor to PathResolver class
  scripts/python/docs-automation/sync_tocs.py
Owners: none

ready to handle the replacement of the content folder
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Fixed the bug of the wrong parameter (#1229)
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Add authorize check when adding revision
  src/dotnet/APIView/APIViewWeb/Account/AutoReviewModifierRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/AutoReviewModifierRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Account/ReviewModifierRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/ReviewModifierRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

Updated comments and fixed nit
  src/dotnet/APIView/APIViewWeb/Account/AutoReviewModifierRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Revert testing changes
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
Owners: none

APiView changes to add package name and version for python in review (#1194)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/_version.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Owners: none

Refactored code to simplify auto review creation
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Use SequenceEqual to comapre review code lines
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

New endpoint to upload review from CI (#1228)
  src/dotnet/APIView/APIViewWeb/Account/AutoReviewModifierRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/AutoReviewModifierRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

Add new diagnostic rule that checks if URLs have locale language tags in them (e.g. 'en-us').
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/NoLocalesInJavadocUrlDiagnosticRule.java
Owners: none

Update for repo azure-libraries-for-java
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

remove unrequired lines for sdk automation
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Update for repo azure-libraries-for-java (#1231)
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

Exclude bypass-local-dns step when a container variable is specified (#1220)
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Owners: @azure/azure-sdk-eng

compatibility updates. test with azure-docs-sdk-python to ensure that all current functionality is unchanged.
  scripts/python/docs-automation/sync_tocs.py
Owners: none

ensure that if we provide a suffix AND a moniker, we still won't update the suffix of the readme itself. That's unnecessary when we're in a different folder
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Add "weekly" convention
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Add "weekly" convention (#1026)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Unfortunately, we need to write to different folders for the repo content location.
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Output payload for router config errors.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/RouteConfigurationException.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Output payload for router config errors. (#1235)
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/RouteConfigurationException.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

remove the pdb import. only present for debugging
  scripts/python/docs-automation/sync_tocs.py
Owners: none

Docs.MS SyncToC Update (#1232)
  scripts/python/docs-automation/sync_tocs.py
Owners: none

handle where this is the first time we've updated the location of these readmes.
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

reformatted parameter arguments to both update-docs scripts. added parameter requirements and renamed CIRepository to DocRepoLocation which is a lot clearer.
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

adding a comma where one wasn't
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Invoke template live test pipeline during eng common sync
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Clean up modules direcotry in eng/common since they are no longer being used.
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/common-manifest.psd1
Owners: @azure/azure-sdk-eng

Classifier for Azurite install failures.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzuriteInstallFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
