Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @jsquire, @benbp, @weshaggard, @scbedd, @praveenkuttappan, @smw-ms, @Jeo02, @maririos, @weidongxu-microsoft, @KrzysztofCwalina, @ronniegeraghty, @jeo02, @radhgupta, @qiaozha, @MaryGao, @wanlwanl, @mikeharder, @heaths, @LarryOsterman, @RickWinter, @hallipr, @raych1, @lirenhe, @tadelesh, @chidozieononiwu, @catalinaperalta, @richardpark-msft, @azure/azsdknet, @tjprescott, @AlitzelMendez, @helen229, @ArthurMa1978, @ArcturusZhang, @Azure/azsdknet, @jeremymeng, @maorleger, @JonathanGiles, @jhendrixMSFT, @chlowell, @l0lawrence

.github/CODEOWNERS:

################
# Misc
################
/*                                     @azure/azure-sdk-eng
/.devcontainer/                        @azure/azure-sdk-eng
/doc/                                  @azure/azure-sdk-eng
# Note: directories below are scheduled to be reorganized.
# For details, see: https://github.com/Azure/azure-sdk-tools/issues/5056
/src/                                  @azure/azure-sdk-eng

################
# Automation
################
/.github/CODEOWNERS                    @azure/azure-sdk-eng @jsquire

###########
# Eng Sys
###########
/eng/                                  @azure/azure-sdk-eng
/.config/1espt/                        @benbp @weshaggard

###########
# CODEOWNERS Linter pipeline
###########
/eng/common/pipelines/codeowners-linter.yml @weshaggard

###########
# Eng Sys Tools
###########
/tools/                                 @azure/azure-sdk-eng
/tools/azsdk-cli/                       @benbp @scbedd @praveenkuttappan @smw-ms @Jeo02 @maririos 
/tools/azure-rest-api-specs-examples-automation/ @weidongxu-microsoft
/tools/codeowners-utils/                @weshaggard
/tools/fxlister/                        @KrzysztofCwalina
/tools/github/                          @jsquire @ronniegeraghty
/tools/github-event-processor/          @benbp @jsquire @ronniegeraghty
/tools/github-team-user-store/          @weshaggard
/tools/issue-labeler/                   @jsquire @jeo02 @radhgupta
/tools/js-sdk-release-tools/            @qiaozha @MaryGao @wanlwanl
/tools/perf-automation/                 @mikeharder @benbp
/tools/perf-automation/**/*Rust*.cs     @heaths @LarryOsterman @RickWinter
/tools/pipeline-generator/              @weshaggard @benbp
/tools/pipeline-witness/                @hallipr
/tools/sdk-ai-bots/                     @raych1
/tools/sdk-testgen/                     @lirenhe @tadelesh
/tools/spec-gen-sdk/                    @raych1 @chidozieononiwu
/tools/test-proxy/                      @scbedd @mikeharder @benbp
/tools/tsp-client/                      @catalinaperalta
/tools/typespec-bump-deps/              @weidongxu-microsoft

###########
# Stress
###########
/eng/common/scripts/stress-testing/     @benbp @richardpark-msft
/tools/stress-cluster/                  @benbp @richardpark-msft

###########
# .NET Client Tools
###########
/src/dotnet/                            @azure/azsdknet @jsquire
/src/dotnet/APIView/                    @tjprescott @AlitzelMendez @helen229 @praveenkuttappan @chidozieononiwu
/tools/net-changelog-gen-mgmt           @ArthurMa1978 @ArcturusZhang
/tools/snippet-generator/               @Azure/azsdknet @jsquire

###########
# APIView parsers
###########
/tools/apiview/                           @tjprescott @AlitzelMendez @helen229 @praveenkuttappan @chidozieononiwu
/tools/apiview/emitters/typespec-apiview/ @tjprescott
/tools/apiview/parsers/cpp-api-parser/    @LarryOsterman
/tools/apiview/parsers/csharp-api-parser/ @azure/azsdknet @jsquire
/tools/apiview/parsers/js-api-parser/     @jeremymeng @maorleger
/src/swift/                               @tjprescott
/src/java/apiview-java-processor/         @JonathanGiles
/src/go/                                  @jhendrixMSFT @chlowell @RickWinter


###########
# Pylint checkers
###########
/tools/pylint-extensions/azure-pylint-guidelines-checker/ @l0lawrence

Enhance mention agent.
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/scratch/mention/test.txt
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Owners: none

Add better description for insufficient sdk details (#11096)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Owners: @benbp, @scbedd, @praveenkuttappan, @smw-ms, @Jeo02, @maririos

remove line
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
Owners: @benbp, @scbedd, @praveenkuttappan, @smw-ms, @Jeo02, @maririos

[SDK Release Agent] Changed CreatePullRequest MCP to support all repos (#11085)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
Owners: @benbp, @scbedd, @praveenkuttappan, @smw-ms, @Jeo02, @maririos

MCP Prompt tools (#11066)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/DownloadResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ValidationResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/PromptValidationTool/DownloadPromptsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/PromptValidationTool/FileValidationTool.cs
Owners: @benbp, @scbedd, @praveenkuttappan, @smw-ms, @Jeo02, @maririos

Add plugin to add example to memory.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Owners: none

Add get plugin functions.
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Owners: none

Don't use date for notification Id
  src/dotnet/APIView/ClientSPA/src/app/_models/notificationsModel.ts
Owners: @tjprescott, @AlitzelMendez, @helen229, @praveenkuttappan, @chidozieononiwu

Don't use date for notification Id (#11103)
  src/dotnet/APIView/ClientSPA/src/app/_models/notificationsModel.ts
Owners: @tjprescott, @AlitzelMendez, @helen229, @praveenkuttappan, @chidozieononiwu

Update package dependencies
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Azure.Sdk.Tools.PipelineGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
Owners: @weshaggard, @benbp, @Azure/azsdknet, @jsquire

Fix display of multiple guidelines
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Owners: @tjprescott, @AlitzelMendez, @helen229, @praveenkuttappan, @chidozieononiwu

DatabasePlugin stubs.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Owners: none

Update package dependencies
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Azure.Sdk.Tools.PipelineGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/DirectoryProcessor.cs
Owners: @weshaggard, @benbp, @Azure/azsdknet, @jsquire

Update package dependencies (#11104)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Azure.Sdk.Tools.PipelineGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/DirectoryProcessor.cs
Owners: @weshaggard, @benbp, @Azure/azsdknet, @jsquire

Intermediate feedback: Incase my remote is not working
  src/dotnet/APIView/APIViewWeb/Helpers/AgentHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/ApiViewConstants.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/AIReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/MentionRequest.cs
Owners: @tjprescott, @AlitzelMendez, @helen229, @praveenkuttappan, @chidozieononiwu

Add namespace approval validation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/SpecWorkFlowToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Owners: @benbp, @scbedd, @praveenkuttappan, @smw-ms, @Jeo02, @maririos

Fix conflict resolution
  src/dotnet/APIView/ClientSPA/src/app/_services/signal-r/signal-r.service.ts
Owners: @tjprescott, @AlitzelMendez, @helen229, @praveenkuttappan, @chidozieononiwu

add preview environment
  tools/sdk-ai-bots/deploy.sh
Owners: @raych1

tsp-client, bug fix, allow empty value in emitter options
  tools/tsp-client/src/typespec.ts
Owners: @catalinaperalta

rename
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/app.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
Owners: @raych1

support beta tag
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
  tools/js-sdk-release-tools/src/utils/version.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Owners: @qiaozha, @MaryGao, @wanlwanl

remove debug
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
Owners: @qiaozha, @MaryGao, @wanlwanl

remove image extractor
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/ImageContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/LinkContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/RemoteContent.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/promptGenerator.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/image.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/promptGenerator.test.ts
Owners: @raych1

remove cv in provision
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.bicep
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.testtool.yml
Owners: @raych1

[JS] Migration Breaking Change Detection Tool to V2 (#10976)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package-lock.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/pnpm-lock.yaml
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/common/types.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/detect-breaking-changes.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/DeclarationDifferenceDetector.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/declaration-diff.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/patch/patch-detection.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/index.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-class.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-function.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-interface.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-routes.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-type.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/rest-level-client-rule.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/utils.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/utils/ast-utils.ts
  tools/js-sdk-release-tools/pnpm-lock.yaml
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
  tools/js-sdk-release-tools/src/changelog/extractMetaData.ts
  tools/js-sdk-release-tools/src/changelog/v2/.prettierrc
  tools/js-sdk-release-tools/src/changelog/v2/ChangelogGenerator.ts
  tools/js-sdk-release-tools/src/changelog/v2/DifferenceDetector.ts
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/changelog/modifyChangelogFileAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/common/packageResultUtils.ts
  tools/js-sdk-release-tools/src/hlc/generateMgmt.ts
  tools/js-sdk-release-tools/src/llc/generateRLCInPipeline/generateRLCInPipeline.ts
  tools/js-sdk-release-tools/src/test/changelog/changelogGenerator.test.ts
  tools/js-sdk-release-tools/src/test/changelog/testCases/operationGroups.4.new.hlc.api.md
Owners: @qiaozha, @MaryGao, @wanlwanl

rename
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/PromptGeneratorV2.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/promptGenerator.test.ts
Owners: @raych1
