Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Fix escaping of variable in debug.
  eng/common/scripts/Set-DefaultBranchVariable.ps1
Owners: @azure/azure-sdk-eng

Chunk ordering error classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheChunkOrderingFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

adding a docker file
  tools/test-proxy/container/dockerfile
Owners: @azure/azure-sdk-eng

Chunk ordering error classifier. (#1590)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheChunkOrderingFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

add container new dockerfile + ci definition. leave room for later extension
  eng/containers/ci.yml
  tools/test-proxy/dockerfile
Owners: @azure/azure-sdk-eng

update entrypoint, add additional details to readme
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/dockerfile
Owners: @azure/azure-sdk-eng

Use az powershell cmdlets to clean up resource groups. Add dogfood environment.
  eng/pipelines/live-test-cleanup.yml
  tools/live-test-cleanup/cleanup.ps1
Owners: @azure/azure-sdk-eng

Early code to print to console what happened when the parsing failed.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Code cleanup
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Language.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageName.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Test.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

WIP: Parse output and write to file
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/input.yml
Owners: @azure/azure-sdk-eng

Add project for perf automation
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.sln
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Azure.Sdk.Tools.PerfAutomation.csproj
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/README.md
Owners: @azure/azure-sdk-eng

Extract utilities
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Util.cs
Owners: @azure/azure-sdk-eng

Add filters and debug output
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/input.yml
Owners: @azure/azure-sdk-eng

Add getblobs test
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/input.yml
Owners: @azure/azure-sdk-eng

Remove unused usings
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Language.cs
Owners: @azure/azure-sdk-eng

Add "language" command-line option
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Language.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Add package references to CLI
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/PackageReference.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Merging YML parser
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Language.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageName.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageSettings.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Test.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/input.yml
Owners: @azure/azure-sdk-eng

Use ProcessUtil
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/Log.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/ProcessResult.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/ProcessUtil.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/input.yml
Owners: @azure/azure-sdk-eng

Write results to JSON file
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/.gitignore
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/ProcessUtil.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Result.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Accept input as YML
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Azure.Sdk.Tools.PerfAutomation.csproj
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Language.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Language.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageName.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Test.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/PackageReference.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/input.yml
Owners: @azure/azure-sdk-eng

Move working directories to config file
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/.gitignore
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Azure.Sdk.Tools.PerfAutomation.csproj
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Config.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/config.sample.yml
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Add java test, update project path
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Add LanguageSettings.AdditionalArguments
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageSettings.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Remove whitespace
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
Owners: @azure/azure-sdk-eng

Add short option for --dry-run
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Ignore case in regex
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
Owners: @azure/azure-sdk-eng

Require working directory
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Util.cs
Owners: @azure/azure-sdk-eng

Print test plan before running
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Util.cs
Owners: @azure/azure-sdk-eng

Refactor yaml and build/run order
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/ILanguage.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Result.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/ServiceInfo.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Python.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests-old.yaml
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Code cleanup
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Always log process output
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
Owners: @azure/azure-sdk-eng

Add sync arguments
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Add Util.RunAsync
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Result.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Util.cs
Owners: @azure/azure-sdk-eng

Implement Python RunAsync
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Python.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Add java runasync
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Implement Java SetPackageVersions
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
Owners: @azure/azure-sdk-eng

Modify csproj to set package versions
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng

Fix java package names
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Extract GetTests
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Owners: @azure/azure-sdk-eng
