Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

Add monitoring features to bicep deployment
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/main.bicep
  tools/stress-cluster/cluster/monitoring/log-analytics-workspace.bicep
  tools/stress-cluster/cluster/parameters/dev.json
  tools/stress-cluster/cluster/parameters/prod.json
  tools/stress-cluster/cluster/parameters/test.json
Owners: @azure/azure-sdk-eng

Working towards oms agent metrics role assignment
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/main.bicep
  tools/stress-cluster/cluster/monitoring/app-insights.bicep
  tools/stress-cluster/cluster/parameters/dev.json
  tools/stress-cluster/cluster/parameters/prod.json
  tools/stress-cluster/cluster/parameters/test.json
Owners: @azure/azure-sdk-eng

Add main to CI files.
  tools/CreateRuleFabricBot/ci.yml
  tools/check-enforcer/ci.yml
  tools/github-issues/ci.yml
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/pipeline-witness/ci.yml
  tools/test-proxy/ci.yml
  tools/version-guard/ci.yml
  tools/webhook-router/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea, @danieljurek

Fix hard-coded master
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Resorting changes after master->main rename
  scripts/powershell/sub-cleanup/sub-cleanup.ps1
Owners: none

Fix cluster RBAC metrics publishing issues
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/cluster/cluster.bicep
Owners: @azure/azure-sdk-eng

working request for translaotr
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
Owners: none

working request for translaotr
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
Owners: none

fixing errors with return type on pageing
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llc_api/parse_yml.py
Owners: none

Fix hard-coded master (#1711)
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/scripts/update-docs-metadata.ps1
Owners: @azure/azure-sdk-eng

Snapshot keyvault secret with app insights instrumentation key. CSI driver
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/cluster/keyvault.bicep
  tools/stress-cluster/cluster/main.bicep
  tools/stress-cluster/cluster/monitoring/app-insights.bicep
Owners: @azure/azure-sdk-eng

progress!
  tools/test-proxy/startup-scripts/start-server.ps1
Owners: @azure/azure-sdk-eng

Working kv deploy
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/cluster/keyvault.bicep
  tools/stress-cluster/cluster/main.bicep
Owners: @azure/azure-sdk-eng

wip responses
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
Owners: none

Grant csi identity on nodes access to keyvault secrets
  tools/stress-cluster/cluster/cluster/cluster.bicep
  tools/stress-cluster/cluster/cluster/keyvault.bicep
  tools/stress-cluster/cluster/main.bicep
Owners: @azure/azure-sdk-eng

Update links with master to use main
  doc/README.md
  eng/common/README.md
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
  packages/python-packages/doc-warden/README.md
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  tools/http-fault-injector/README.md
  tools/notification-configuration/github-codeowner-subscriber/CodeOwnersParser.cs
Owners: @azure/azure-sdk-eng

Update ci.yml files
  .azure-pipelines/apiview.yml
  .azure-pipelines/dotnet.yml
  .azure-pipelines/warden.yml
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/pipelines/githubio-linkcheck.yml
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/setup-tutorial-branch.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
  tools/CreateRuleFabricBot/ci.yml
  tools/check-enforcer/ci.yml
  tools/github-issues/ci.yml
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/pipeline-witness/ci.yml
  tools/version-guard/ci.yml
  tools/webhook-router/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea, @danieljurek

start-server.ps1 working as intended
  tools/test-proxy/startup-scripts/start-server.ps1
Owners: @azure/azure-sdk-eng

powershell and python working. time to finalize with js
  tools/test-proxy/startup-scripts/start-server.ps1
  tools/test-proxy/startup-scripts/start-server.py
Owners: @azure/azure-sdk-eng

Add Python GetSecretTest
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Update version
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Owners: @azure/azure-sdk-eng

Refactor pipeline generation triggers
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Fix build warning/errors
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/identity-resolver/identity-resolver.csproj
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
Owners: @azure/azure-sdk-eng

responses and requests
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
Owners: none

Add main to branch triggers where its missing
  .azure-pipelines/apiview.yml
  .azure-pipelines/dotnet.yml
  .azure-pipelines/warden.yml
Owners: none

fix receiver var
  src/go/cmd/content.go
  src/go/cmd/output/teststruct.json
Owners: none

Refactor pipeline generation triggers (#1708)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Update pipeline generation tool version
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

remove funcs on unexported receivers
  src/go/cmd/content.go
Owners: none

Update time out to 120 mins
  eng/pipelines/pipeline-generation.yml
Owners: @azure/azure-sdk-eng

all the startup script examples work now.
  tools/test-proxy/startup-scripts/README.md
  tools/test-proxy/startup-scripts/start-server.js
  tools/test-proxy/startup-scripts/start-server.py
Owners: @azure/azure-sdk-eng

correcting documented argument in readme
  tools/test-proxy/startup-scripts/README.md
Owners: @azure/azure-sdk-eng

move enum methods and funcs up to const declaration
  src/go/cmd/content.go
Owners: none

Example Startup Scripts (#1720)
  tools/test-proxy/startup-scripts/README.md
  tools/test-proxy/startup-scripts/start-server.js
  tools/test-proxy/startup-scripts/start-server.ps1
  tools/test-proxy/startup-scripts/start-server.py
Owners: @azure/azure-sdk-eng

example sanitizer application
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

start test
  packages/python-packages/low-level-client-api-gen/llc_api/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
Owners: none

Update links with master to use main (#1716)
  .azure-pipelines/apiview.yml
  .azure-pipelines/dotnet.yml
  .azure-pipelines/warden.yml
  doc/README.md
  eng/common/README.md
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/githubio-linkcheck.yml
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/setup-tutorial-branch.yml
  eng/pipelines/templates/steps/sync-directory.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
  packages/python-packages/doc-warden/README.md
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  tools/CreateRuleFabricBot/ci.yml
  tools/check-enforcer/ci.yml
  tools/github-issues/ci.yml
  tools/http-fault-injector/README.md
  tools/http-fault-injector/ci.yml
  tools/notification-configuration/ci.yml
  tools/notification-configuration/github-codeowner-subscriber/CodeOwnersParser.cs
  tools/pipeline-generator/ci.yml
  tools/pipeline-witness/ci.yml
  tools/version-guard/ci.yml
  tools/webhook-router/ci.yml
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea, @danieljurek

Additional Admin Documentation (#1722)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Owners: @azure/azure-sdk-eng

fix issues with parsing body from real requests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Owners: @azure/azure-sdk-eng

testing - woring?
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
Owners: none
