Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek

make -checkout: none an optional phase
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

update naming
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

Removed the update CI target packages step. (#1534)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-ci.ps1
Owners: @azure/azure-sdk-eng

Onboarding branch needs to delete the step of updating target ci
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Remove onboarding branch specifically for .NET
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Enable CI triggers on internal pipelines. (#1504)
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/IntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/WeeklyIntegrationTestingPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Owners: @azure/azure-sdk-eng, @weshaggard, @mitchdenny, @danieljurek

Remove condition.
  eng/common/pipelines/templates/steps/retain-run.yml
Owners: @azure/azure-sdk-eng

Fix up system access token usage.
  eng/common/pipelines/templates/steps/retain-run.yml
Owners: @azure/azure-sdk-eng

Remove condition. (#1553)
  eng/common/pipelines/templates/steps/retain-run.yml
Owners: @azure/azure-sdk-eng

Onboarding branch needs to delete the step of updating target ci (#1552)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Owners: @azure/azure-sdk-eng

Verify samples during CIs
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @azure/azure-sdk-eng

Move exit to proper scope
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @azure/azure-sdk-eng

make -checkout: none an optional phase (#1551)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

make eng folder checkout optional
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

correctly access the parameter
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Owners: @azure/azure-sdk-eng

Call bypass-local-dns.yml from verify-agent-os.yml - Easy way to ensure the DNS workaround is run in (almost) all pipelines
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Owners: @azure/azure-sdk-eng

Set default branch to master if not set from git
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/pipelines/templates/steps/set-default-branch.yml
Owners: @azure/azure-sdk-eng

Added log messages
  eng/common/pipelines/templates/steps/set-default-branch.yml
Owners: @azure/azure-sdk-eng

Call bypass-local-dns.yml from verify-agent-os.yml (#1557)
  eng/common/pipelines/templates/steps/verify-agent-os.yml
Owners: @azure/azure-sdk-eng

example wiremock implementation + writeup.
  tools/test-proxy/explore-wiremock/RecordedByProxy.py
  tools/test-proxy/explore-wiremock/requirements.txt
  tools/test-proxy/explore-wiremock/test.py
  tools/test-proxy/explore-wiremock/wiremock.md
Owners: @azure/azure-sdk-eng

Verify samples during CIs (#1555)
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @azure/azure-sdk-eng

Handle empty files in Test-SampleMetadata
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @azure/azure-sdk-eng

Remove condition from verify-samples
  eng/common/pipelines/templates/steps/verify-samples.yml
Owners: @azure/azure-sdk-eng

Use forward slash in path
  eng/common/pipelines/templates/steps/verify-samples.yml
Owners: @azure/azure-sdk-eng

Fix directory typo
  eng/common/pipelines/templates/steps/verify-samples.yml
Owners: @azure/azure-sdk-eng

Handle empty files in Test-SampleMetadata (#1559)
  eng/common/pipelines/templates/steps/verify-samples.yml
  eng/common/scripts/Test-SampleMetadata.ps1
Owners: @azure/azure-sdk-eng

Silent the failure if not able fetch default branch from git
  eng/common/pipelines/templates/steps/set-default-branch.yml
Owners: @azure/azure-sdk-eng

Move other programs up
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/identity-resolver/identity-resolver.csproj
  tools/notification-configuration/notification-creator/Program.cs
  tools/notification-configuration/notification-creator/notification-creator.csproj
Owners: @azure/azure-sdk-eng

Reduce additional API hits using MemoryCache, upgrade logging because MemoryCache brings logging up with it
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/github-codeowner-subscriber/GitHubService.cs
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
  tools/notification-configuration/github-codeowner-subscriber/github-codeowner-subscriber.csproj
Owners: @azure/azure-sdk-eng

Use GetAllTeamsAsync
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
Owners: @azure/azure-sdk-eng

Fix issue where we are not fetching all possible teams
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
Owners: @azure/azure-sdk-eng

GetTeamsAsync: public -> internal so as not to confuse future users looking to get a list of teams
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
Owners: @azure/azure-sdk-eng

readme updates
  tools/test-proxy/README.md
  tools/test-proxy/explore-wiremock/wiremock.md
Owners: @azure/azure-sdk-eng

Remove MemoryCache, use ConcurrentDictionary
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/github-codeowner-subscriber/GitHubService.cs
  tools/notification-configuration/github-codeowner-subscriber/github-codeowner-subscriber.csproj
Owners: @azure/azure-sdk-eng

Add template to merge multiple subscription configurations
  eng/common/TestResources/build-test-resource-config.yml
Owners: @heaths, @danieljurek, @weshaggard

Update eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/build-test-resource-config.yml
Owners: @heaths, @danieljurek, @weshaggard

Update git-push-changes.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Owners: @azure/azure-sdk-eng

Add template to merge multiple subscription configurations (#1560)
  eng/common/TestResources/build-test-resource-config.yml
Owners: @heaths, @danieljurek, @weshaggard

Use underscore-prefixed variable name when setting sub config values as secrets
  eng/common/TestResources/build-test-resource-config.yml
Owners: @heaths, @danieljurek, @weshaggard

Use underscore-prefixed variable name when setting sub config values as secrets (#1563)
  eng/common/TestResources/build-test-resource-config.yml
Owners: @heaths, @danieljurek, @weshaggard
