Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Remove invalid characters in basename sourced from username (#1190)
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add set for skiping changelog verification
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Added the preprocess scripts.
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

string array to string
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Preprocess the markdowns contain deleted or renamed files. (#1170)
  eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/get-markdown-files-from-changed-files.ps1
Owners: @azure/azure-sdk-eng

Added Language based filter option in API review
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCodeFileModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Change live test resource DeleteAfterHours tag to 8 hours (#1199)
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Add Invoke-DevOpsAPI.ps1, Add functions for Canceling and Listing Builds (#1161)
  eng/common/scripts/Get-PullRequestCreator.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Submit-PullRequest.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add auth header checks to DevOps rule.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/AzureDevOpsRule.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Add proper exception for invalid sig/creds.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Functions/RouteWebhookFunction.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/RouterAuthorizationException.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Update aka link for live test help docs. Use here string and empty throw.
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add debugging link on resource deployment failures to log output
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add script to generate devops rule credentials.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter.Administration/New-AzureDevOpsRuleCredentials.ps1
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Fixes as oper review comments
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Add debugging link on resource deployment failures to log output (#1202)
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Emit QueuedById variable.
  eng/pipelines/templates/stages/archetype-sdk-tool-azure-function.yml
Owners: @azure/azure-sdk-eng

Revert unused property changes
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
Owners: none

Add Package version details and approval fields (#1186)
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCodeFileModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Improve Update-ChangeLog Logic
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

More changeLog Logic Improvements
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Updates to ChangeLog-Operations.ps1, copy-docs-to-blobstorage.ps1, Invoke-GitHubAPI.ps1 and Package-Properties.ps1
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Update date parsing
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Owners: @azure/azure-sdk-eng

Cache created service principal for iteration
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Restore initial AzContext for New-TestResources
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Make sure PSBoundParameters is correct
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Feature/change log tools improvement (#1153)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/Update-ChangeLog.ps1
Owners: @azure/azure-sdk-eng

Change domain for FabricBot (#1195)
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
Owners: @azure/azure-sdk-eng

Support to approve API review
  src/dotnet/APIView/APIViewWeb/Account/ApproverRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/ApproverRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

Remove unnecessary comment
  src/dotnet/APIView/APIViewWeb/Account/ApproverRequirementHandler.cs
Owners: none

Fixed whitespace
  src/dotnet/APIView/APIViewWeb/Account/ApproverRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Restore initial AzContext for New-TestResources (#1210)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

python release takes a dependency on packaging
  eng/common/pipelines/templates/steps/verify-changelog.yml
Owners: @azure/azure-sdk-eng

Changes to Approval layout
  src/dotnet/APIView/APIViewWeb/Account/ApproverRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Removed hardcoded root name space check for azure namespace
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
Owners: none

Added error logging and fixed typo.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Functions/RouteWebhookFunction.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/AzureDevOpsRule.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Add auth header checks to DevOps rule. (#1204)
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter.Administration/New-AzureDevOpsRuleCredentials.ps1
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Functions/RouteWebhookFunction.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/AzureDevOpsRule.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/RouterAuthorizationException.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Startup.cs
Owners: @weshaggard, @mitchdenny, @JimSuplizio

Removed hardcoded root name space check for azure namespace (#1217)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
Owners: none

Update README.md
  README.md
Owners: none

Fixed as per review comments
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Move entire docgeneration into common tools
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/assets/logo.svg
  eng/common/docgeneration/docfx.json
  eng/common/docgeneration/templates/matthews/partials/affix.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.header.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/class.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/enum.tmpl.partial
  eng/common/docgeneration/templates/matthews/partials/namespace.tmpl.partial
  eng/common/docgeneration/templates/matthews/styles/main.css
  eng/common/docgeneration/templates/matthews/styles/main.js
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
