Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

GZip Bugfixes (#1755)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Owners: @azure/azure-sdk-eng

UI changes (#1753)
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
Owners: none

Update from latest PR feedback
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

bump the version of the tool being consumed in our docker
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

Update devops workitem helpers
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @azure/azure-sdk-eng

Cahgnes
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Disabled release status check
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Disable release date check
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Release check is not finding release date
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Add check for empty path to prevent crashes when creating relative paths
  eng/common/scripts/Save-Package-Properties.ps1
Owners: @azure/azure-sdk-eng

finished with 'update this specific body attribute' instead of forcing regex. testing all new sanitizers. have a weird issue with TestAddSanitizer that i'm still tracking down
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyKeySanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyRegexSanitizer.cs
Owners: @azure/azure-sdk-eng

still need to set content length manually...didn't need to do that before
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
Owners: @azure/azure-sdk-eng

update mirror repo pipeline to sync spec repo master to main branch
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

saving
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

found missing condition on request
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

fixing formatting
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

fixing formatting of ADL
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

added in response maps
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

eng/common changes for docs metadata release (#1725)
  eng/common/pipelines/templates/steps/enable-long-path-support.yml
  eng/common/pipelines/templates/steps/set-daily-docs-branch-name.yml
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Queue-Pipeline.ps1
  eng/common/scripts/Save-Package-Properties.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
  eng/common/scripts/common.ps1
Owners: @azure/azure-sdk-eng

Update devops workitem helpers (#1759)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @azure/azure-sdk-eng

requests and responses
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

Add BodyRegexSanitizer and HeaderRemoverSanitizer (#1757)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminFunctionalityTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyKeySanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/BodyRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/RemoveHeaderSanitizer.cs
Owners: @azure/azure-sdk-eng

removing unused lines
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

Disable release date check (#1763)
  eng/common/scripts/Package-Properties.ps1
Owners: @azure/azure-sdk-eng

Support building and deploying bicep templates
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Add bicep powershell install aka link to deployment error message
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Write bicep compiled arm templates to temp directory
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Update docs metadata mutation logic
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @azure/azure-sdk-eng

saving for new branch
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

updating naming
  packages/python-packages/protocol-stub-generator/CHANGELOG.md
  packages/python-packages/protocol-stub-generator/MANIFEST.in
  packages/python-packages/protocol-stub-generator/README.md
  packages/python-packages/protocol-stub-generator/protocol/__init__.py
  packages/python-packages/protocol-stub-generator/protocol/_diagnostic.py
  packages/python-packages/protocol-stub-generator/protocol/_token.py
  packages/python-packages/protocol-stub-generator/protocol/_token_kind.py
  packages/python-packages/protocol-stub-generator/protocol/parse_yml.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/protocol/version.py
  packages/python-packages/protocol-stub-generator/protocol_api.py
  packages/python-packages/protocol-stub-generator/setup.cfg
  packages/python-packages/protocol-stub-generator/setup.py
  packages/python-packages/protocol-stub-generator/tox.ini
Owners: none

Update docs metadata mutation logic (#1768)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @azure/azure-sdk-eng

stash for branch switch
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
Owners: none

deleted extra pacakge
  packages/python-packages/low-level-client-api-gen/CHANGELOG.md
  packages/python-packages/low-level-client-api-gen/MANIFEST.in
  packages/python-packages/low-level-client-api-gen/README.md
  packages/python-packages/low-level-client-api-gen/llcapi/__init__.py
  packages/python-packages/low-level-client-api-gen/llcapi/_diagnostic.py
  packages/python-packages/low-level-client-api-gen/llcapi/_token.py
  packages/python-packages/low-level-client-api-gen/llcapi/_token_kind.py
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llcapi/parse_yml.py
  packages/python-packages/low-level-client-api-gen/llcapi/version.py
  packages/python-packages/low-level-client-api-gen/low_level_client_api.py
  packages/python-packages/low-level-client-api-gen/setup.cfg
  packages/python-packages/low-level-client-api-gen/setup.py
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
  packages/python-packages/low-level-client-api-gen/tox.ini
Owners: none

formatting
  packages/python-packages/protocol-stub-generator/protocol/__init__.py
  packages/python-packages/protocol-stub-generator/protocol/_diagnostic.py
  packages/python-packages/protocol-stub-generator/protocol/_token.py
  packages/python-packages/protocol-stub-generator/protocol/_token_kind.py
  packages/python-packages/protocol-stub-generator/protocol/parse_yml.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/protocol/version.py
  packages/python-packages/protocol-stub-generator/protocol_api.py
  packages/python-packages/protocol-stub-generator/setup.py
Owners: none

formatting
  packages/python-packages/low-level-client-api-gen/llcapi/__init__.py
  packages/python-packages/low-level-client-api-gen/llcapi/_diagnostic.py
  packages/python-packages/low-level-client-api-gen/llcapi/_token.py
  packages/python-packages/low-level-client-api-gen/llcapi/_token_kind.py
  packages/python-packages/low-level-client-api-gen/llcapi/llc_view_models.py
  packages/python-packages/low-level-client-api-gen/llcapi/parse_yml.py
  packages/python-packages/low-level-client-api-gen/llcapi/version.py
  packages/python-packages/low-level-client-api-gen/low_level_client_api.py
  packages/python-packages/low-level-client-api-gen/setup.py
  packages/python-packages/low-level-client-api-gen/tests/parser_test.py
Owners: none

Update change log headers based on guideline update
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Update eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

Update change log headers based on guideline update (#1772)
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
