Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AlexGhiondea, @jsquire, @azure/azure-sdk-eng, @sima-zhu, @weshaggard, @benbp, @heaths, @praveenkuttappan, @scbedd, @mikeharder, @ckairen, @changlong-liu, @tadelesh, @dw511214992, @qiaozha, @MaryGao, @maorleger, @chunyu3, @zzvswxy

adding the new links too
  tools/pylint-extensions/pylint-guidelines-checker/README.md
Owners: @azure/azure-sdk-eng

adding tests and test files for core paging
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/core_paging_acceptable.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/core_paging_acceptable_and_violation.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/core_paging_violation.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

newline
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/core_paging_acceptable.py
Owners: @azure/azure-sdk-eng

updating numbers of checkers
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

working on docstring catch bugs
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/docstring_parameters_acceptable.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

switched way to get test file path
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

fixing errors with check-docstring vararg versus an arg
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/docstring_parameters_acceptable.py
Owners: @azure/azure-sdk-eng

Make docs.ms link relative link
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @sima-zhu, @weshaggard, @benbp

newlines
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/docstring_parameters_acceptable.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

[Test-Proxy] Enforce Http 1.1 only (#3216)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/appsettings.json
Owners: @scbedd, @mikeharder

[Python APIView] add script to test all SDK packages (#3163)
  eng/scripts/python_sdk_report.py
  packages/python-packages/api-stub-generator/apistub/__init__.py
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_pylint_parser.py
  packages/python-packages/api-stub-generator/apistubgen.py
  packages/python-packages/api-stub-generator/pylintrc
  packages/python-packages/api-stub-generator/tests/_test_util.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Owners: @azure/azure-sdk-eng

update target version of the test-proxy to one that enforces http/1.1
  eng/common/testproxy/target_version.txt
Owners: @sima-zhu, @weshaggard, @benbp

parameter names are optional
  src/go/cmd/token_makers.go
Owners: none

remove extra newlines
  src/go/cmd/token_makers.go
Owners: none

Update stress watcher docker image to dotnet 6.0
  tools/stress-cluster/services/Stress.Watcher/Dockerfile
  tools/stress-cluster/services/Stress.Watcher/ci.yml
Owners: @benbp, @ckairen

cleanup
  tools/stress-cluster/services/Stress.Watcher/src/Stress.Watcher.csproj
Owners: @benbp, @ckairen

stress watcher test targetframwork update
  tools/stress-cluster/services/Stress.Watcher/tests/Stress.Watcher.Tests.csproj
Owners: @benbp, @ckairen

ci pipeline dotnetversion format
  tools/stress-cluster/services/Stress.Watcher/ci.yml
Owners: @benbp, @ckairen

Update stress watcher docker image to dotnet 6.0 (#3186)
  tools/stress-cluster/services/Stress.Watcher/Dockerfile
  tools/stress-cluster/services/Stress.Watcher/ci.yml
  tools/stress-cluster/services/Stress.Watcher/src/Stress.Watcher.csproj
  tools/stress-cluster/services/Stress.Watcher/tests/Stress.Watcher.Tests.csproj
Owners: @benbp, @ckairen

thanks, Joel
  src/go/cmd/api_view.go
Owners: none

Update Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @sima-zhu, @weshaggard, @benbp

[Test-Proxy] Consume Newest Version of the Test-Proxy in eng/common (#3212)
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/target_version.txt
  tools/test-proxy/docker/README.md
Owners: @sima-zhu, @weshaggard, @benbp, @scbedd, @mikeharder

remove appsettings protocols default, add to ConfigureWebHostDefaults in startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/appsettings.json
Owners: @scbedd, @mikeharder

new rerun inplementation
  tools/sdk-generation-pipeline/Dockerfile
  tools/sdk-generation-pipeline/entrypoint.sh
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerTaskEngine.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInLocal.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInPipeline.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/growUp.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/dockerCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/reRunTaskCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/runMockHostCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/schema/dockerTaskEngineConfig.ts
  tools/sdk-generation-pipeline/rerun-tasks
Owners: @dw511214992, @chunyu3, @zzvswxy

doc: refine some words
  tools/sdk-testgen/packages/autorest.gotest/doc/gotest_howto.md
Owners: @changlong-liu, @tadelesh

save
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/generateCodesInLocal.ts
Owners: @dw511214992, @chunyu3, @zzvswxy

adding tests
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Owners: @azure/azure-sdk-eng

adding contibution file
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

adding status of checkers
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

adding in note aboute pylint 2.9.3 ignore-paths
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

grammar issue
  tools/pylint-extensions/pylint-guidelines-checker/contribution.md
Owners: @azure/azure-sdk-eng

adding test file
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/docstring_parameters_violation.py
Owners: @azure/azure-sdk-eng

newline
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/docstring_parameters_violation.py
Owners: @azure/azure-sdk-eng

removing commented code
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

remove space
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Owners: @azure/azure-sdk-eng

Fix component governance issues (#3213)
  src/go/go.mod
  tools/js-sdk-release-tools/package.json
Owners: @dw511214992, @qiaozha, @MaryGao

remove appsettings protocols default, add to ConfigureWebHostDefaults in startup.cs (#3236)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/appsettings.json
Owners: @scbedd, @mikeharder

Update eng/common/scripts/Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Owners: @sima-zhu, @weshaggard, @benbp

pin proxy version to one that properly sets listenoptions
  eng/common/testproxy/target_version.txt
Owners: @sima-zhu, @weshaggard, @benbp

repo-name is inaccurate! gotta resolve
  eng/common/testproxy/docker-start-proxy.ps1
Owners: @sima-zhu, @weshaggard, @benbp

.github/CODEOWNERS:

################
# Automation
################

# Git Hub integration and bot rules
/.github/                        @AlexGhiondea @jsquire

###########
# Eng Sys
###########
/eng/                            @azure/azure-sdk-eng
/eng/common/                     @sima-zhu @weshaggard @benbp
/eng/common/TestResources/       @benbp @weshaggard @heaths

###########
# Eng Sys Tools
###########
/tools/                          @azure/azure-sdk-eng
/tools/check-enforcer/           @praveenkuttappan @weshaggard
/tools/pipeline-witness/         @praveenkuttappan @weshaggard
/tools/webhook-router/           @praveenkuttappan @weshaggard
/tools/github-issues/            @praveenkuttappan @weshaggard @AlexGhiondea
/tools/pipeline-generator/       @weshaggard @benbp
/tools/test-proxy/               @scbedd @mikeharder
/tools/stress-cluster/           @benbp @ckairen
/tools/mock-service-host/        @changlong-liu @tadelesh
/tools/sdk-testgen/              @changlong-liu @tadelesh
/tools/js-sdk-release-tools/     @dw511214992 @qiaozha @MaryGao
/tools/keyvault-mock-attestation @maorleger
/tools/sdk-generation-pipeline   @dw511214992 @chunyu3 @zzvswxy
