Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Move PR member additions into Submit Pull Request Script
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-issue-assignees.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add Label and Assignee
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add check to catch empty members, consume logging.ps1
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/logging.ps1
Owners: @azure/azure-sdk-eng

Fix some spelling and re-add Envrionment validation set, now with 'Dogfood' as well
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Owners: @heaths, @danieljurek, @weshaggard

Reorder validate set
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Switch to auto adding the `Central-EngSys` label
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update location of patch files
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update Tools repo Sync to make use of patch files rather than replacing all files in the sync directory
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Add some changes in eng/common to test things
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/git-branch-push.ps1
  eng/common/scripts/modules/ChangeLog-Operations.psm1
  eng/common/scripts/modules/Package-Properties.psm1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Update patch application logic
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Switch to pushing to upstream
  eng/common/scripts/git-branch-push.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Consume DevOps Logging from eng\common\scripts\logging.ps1
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Add rate limit recovery to GitHub Issues.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Add rate limit recovery to GitHub Issues. (#1048)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Add retries at repo level.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInBacklogMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInPastDueMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindNewGitHubIssuesAndPRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindStalePRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportExecutionContext.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Add retries at repo level (#1049)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInBacklogMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInPastDueMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindNewGitHubIssuesAndPRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindStalePRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportExecutionContext.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Tidy up functions.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindCustomerReportedIssuesInInvalidStateFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInBacklogMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInPastDueMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt2pmFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt7amFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindPRsOlderThan3MonthsFunction.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Turn on tracing.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/host.json
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Pull out rate limiting exceptions from aggregate exception.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Consume DevOps Logging from eng\common\scripts\logging.ps1 (#1039)
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Add Azure.Communication to the allowlist of namespaces
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Owners: none

Add Azure.Communication to the allowlist of namespaces (#1054)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Owners: none

Write both _Central-EngSys_ and _EngSys_ labels
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Create a default location for Dogfood cloud (westus)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
Owners: @heaths, @danieljurek, @weshaggard

Fixed the bug of removing existing labels when read labels
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

add empty line
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

remove dup
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

Update eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

check dup before adding
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

Fix reference to Verify-And-Merge-PRs.ps1
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Fixed the missing array number
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

Fix bad dot include of logging script
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Add log error for fall through case.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

GitHub rate limiting fix (via retries) (#1055)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindCustomerReportedIssuesInInvalidStateFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInBacklogMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInPastDueMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt2pmFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt7amFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindPRsOlderThan3MonthsFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInBacklogMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInPastDueMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindNewGitHubIssuesAndPRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindStalePRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportExecutionContext.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/host.json
Owners: @weshaggard, @damirault, @mitchdenny, @JimSuplizio, @AlexGhiondea

Fix bad dot include of logging script (#1060)
  eng/scripts/Verify-And-Merge-PRs.ps1
Owners: @azure/azure-sdk-eng

Fix reference to Verify-And-Merge-PRs.ps1 (#1059)
  eng/common/README.md
Owners: @azure/azure-sdk-eng

Switch to auto adding the `Central-EngSys` label (#1047)
  eng/pipelines/templates/steps/sync-directory.yml
Owners: @azure/azure-sdk-eng

Fixed the bug of removing existing labels when add pr labels (#1056)
  eng/common/scripts/Submit-PullRequest.ps1
Owners: @azure/azure-sdk-eng

Fix bug in DevOps logging command
  eng/common/scripts/logging.ps1
Owners: @azure/azure-sdk-eng

Add dogfood cloud (#1032)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/setup-az-modules.yml
Owners: @heaths, @danieljurek, @weshaggard

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @damirault @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @damirault @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
