Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @praveenkuttappan, @AlexGhiondea, @benbp

Move SnippetGenrator to Tools Directory (#1849)
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  src/dotnet/SnippetGenerator/SnippetGenerator.sln
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator.Tests/Azure.Sdk.Tools.SnippetGenerator.Tests.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator.Tests/CSharpProcessorTests.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/CSharpProcessor.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/DirectoryProcessor.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/MarkdownProcessor.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Program.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/RegexAsyncExtensions.cs
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Snippet.cs
  tools/snippet-generator/SnippetGenerator.sln
  tools/snippet-generator/ci.yml
Owners: @azure/azure-sdk-eng

Add report for issues that are marked with test-* labels in the repo.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindTestIssuesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindTestIssues.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Startup.cs
Owners: @weshaggard, @praveenkuttappan, @AlexGhiondea

Initial support for parsing and displaying XML files in APIView, which will be useful for Maven BOM support.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/Analyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/XMLASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Gav.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Owners: none

Initial support for parsing and displaying XML files in APIView, which will be useful for Maven BOM support.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/Analyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/XMLASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Gav.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Owners: none

Guessing what needs to be done to support XML files via the Java language service tooling
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

enable public spec repo main to master sync
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

disable private spec repo main sync
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

enable public spec repo main to master sync (#1870)
  eng/pipelines/mirror-repos.yml
Owners: @azure/azure-sdk-eng

[GitHub Labels] C, C++, Go Updates
  tools/github-labels/.gitignore
  tools/github-labels/repository-snapshots/autorest.csharp.csv
  tools/github-labels/repository-snapshots/autorest.csv
  tools/github-labels/repository-snapshots/autorest.go.csv
  tools/github-labels/repository-snapshots/autorest.java.csv
  tools/github-labels/repository-snapshots/autorest.python.csv
  tools/github-labels/repository-snapshots/autorest.swift.csv
  tools/github-labels/repository-snapshots/autorest.typescript.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-c-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-c.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-cpp.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-go-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-go.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-java-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-java.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-js-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-js.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-net-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-net.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-python-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-python.csv
  tools/github-labels/repository-snapshots/perks.csv
Owners: @azure/azure-sdk-eng

[GitHub Labels] C, C++, Go Updates (#1871)
  tools/github-labels/.gitignore
  tools/github-labels/repository-snapshots/autorest.csharp.csv
  tools/github-labels/repository-snapshots/autorest.csv
  tools/github-labels/repository-snapshots/autorest.go.csv
  tools/github-labels/repository-snapshots/autorest.java.csv
  tools/github-labels/repository-snapshots/autorest.python.csv
  tools/github-labels/repository-snapshots/autorest.swift.csv
  tools/github-labels/repository-snapshots/autorest.typescript.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-c-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-c.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-cpp.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-go-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-go.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-java-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-java.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-js-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-js.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-net-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-net.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-python-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-python.csv
  tools/github-labels/repository-snapshots/perks.csv
Owners: @azure/azure-sdk-eng

Address PR feedback
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindTestIssuesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindTestIssues.cs
Owners: @weshaggard, @praveenkuttappan, @AlexGhiondea

Add report for issues that are marked with test-* labels in the repo. (#1865)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindTestIssuesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindTestIssues.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Startup.cs
Owners: @weshaggard, @praveenkuttappan, @AlexGhiondea

remove esoteric java tool
  README.md
Owners: none

remove esoteric java tool (#1872)
  README.md
Owners: none

Minor improvements
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/XMLASTAnalyser.java
Owners: none

Swift filter button and create review help text for swift reviews (#1863)
  src/dotnet/APIView/APIViewWeb/Languages/SwiftLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Startup.cs
Owners: none

Fix missing last line by adding a newline character into the json output.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/XMLASTAnalyser.java
Owners: none

some readme reworking
  tools/test-proxy/docker/README.md
  tools/test-proxy/documentation/docker.md
  tools/test-proxy/documentation/methodology.md
  tools/test-proxy/documentation/using-in-devops.md
Owners: @azure/azure-sdk-eng

Allow non-owwner to close or reopen reviews
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Owners: none

Make comments upvote active if any vote is set
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

newer image
  tools/test-proxy/docker/dockerfile
Owners: @azure/azure-sdk-eng

Modify checks in server side for close and reopen request
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

Show upvote differently when others upvoted
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Owners: none

update as per review comments:
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
Owners: none

renaming ubuntu_testproxy to testproxy. nanoserver w/ powershell is present.
  eng/containers/ci.yml
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/docker/README.md
  tools/test-proxy/docker/dockerfile
  tools/test-proxy/docker/dockerfile-win
  tools/test-proxy/documentation/docker.md
  tools/test-proxy/documentation/using-in-devops.md
  tools/test-proxy/startup-scripts/start-server.js
  tools/test-proxy/startup-scripts/start-server.ps1
  tools/test-proxy/startup-scripts/start-server.py
Owners: @azure/azure-sdk-eng

Fix New-TestResources.ps1 to run pre/post deployment script
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

Revert "Fix New-TestResources.ps1 to run pre/post deployment script"
  eng/common/TestResources/New-TestResources.ps1
Owners: @heaths, @danieljurek, @weshaggard

update to a certificate with an easy password
  tools/test-proxy/docker/dev_certificate/apply-dev-cert.sh
  tools/test-proxy/docker/dev_certificate/dotnet-devcert.crt
  tools/test-proxy/docker/dev_certificate/dotnet-devcert.pfx
  tools/test-proxy/docker/dev_certificate/localhost.conf
  tools/test-proxy/docker/dockerfile-win
Owners: @azure/azure-sdk-eng

more details
  tools/test-proxy/docker/dockerfile-win
Owners: @azure/azure-sdk-eng

Initial support for parsing and displaying XML files in APIView (#1869)
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/Analyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/XMLASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Gav.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Owners: none

moving around documentation. adding additional detail. creating placeholder documents
  tools/test-proxy/docker/README.md
  tools/test-proxy/documentation/trusting-cert-per-language.md
  tools/test-proxy/documentation/using-in-devops.md
  tools/test-proxy/startup-scripts/start-server.js
  tools/test-proxy/startup-scripts/start-server.ps1
  tools/test-proxy/startup-scripts/start-server.py
Owners: @azure/azure-sdk-eng

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @praveenkuttappan
/tools/pipeline-witness/ @weshaggard @praveenkuttappan
/tools/webhook-router/ @weshaggard @praveenkuttappan
/tools/github-issues/ @weshaggard @praveenkuttappan @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @benbp
