Repository Azure/azure-sdk-tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @azure/azure-sdk-eng, @heaths, @danieljurek, @weshaggard, @mitchdenny, @JimSuplizio, @AlexGhiondea

Import global variables from mgmt pipeline
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
Owners: none

Fix globals path
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
Owners: none

Switch .NET tasks
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
Owners: none

Update MS.Az.Mgmt.CI.BuildTasks.csproj
  src/dotnet/Mgmt.CI.BuildTools/CI/CI.BuildTasks/Mgmt.CI.BuildTasks/MS.Az.Mgmt.CI.BuildTasks.csproj
Owners: none

Fix bug where imported matrix parameter duplicates are not overrided
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

Import global variables from mgmt pipeline (#1460)
  src/dotnet/Mgmt.CI.BuildTools/CI/CI.BuildTasks/Mgmt.CI.BuildTasks/MS.Az.Mgmt.CI.BuildTasks.csproj
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
Owners: none

Enable APIView status check
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @azure/azure-sdk-eng

Move SetTestPipelineVersion.ps1 to eng/common
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @azure/azure-sdk-eng

Move SetTestPipelineVersion.ps1 to eng/common (#1459)
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @azure/azure-sdk-eng

Fix PackageName typo
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @azure/azure-sdk-eng

Fix PackageName typo (#1467)
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @azure/azure-sdk-eng

Update logging to show API URL
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Enable APIView status check (#1465)
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @azure/azure-sdk-eng

Added more logging to API view create (#1448)
  eng/common/scripts/Create-APIReview.ps1
Owners: @azure/azure-sdk-eng

Use sparse checkout for generate matrix job
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Disable maven dependency properties from API review temporarily
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Disable maven dependency properties from API review temporarily (#1468)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Owners: none

Update java parser version to rebuild existing reviews
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Owners: none

Fix logic in SetTestPipelineVersionInEngCommon
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @azure/azure-sdk-eng

Update parser version in deployment artifcat
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Owners: none

Fix bug where imported matrix parameter duplicates are not overrided (#1461)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Owners: @azure/azure-sdk-eng

Fix logic in SetTestPipelineVersionInEngCommon (#1470)
  eng/common/scripts/SetTestPipelineVersion.ps1
Owners: @azure/azure-sdk-eng

Update java parser version to rebuild existing reviews (#1469)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Owners: none

move SetTestPipeline into its own template
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Owners: @azure/azure-sdk-eng

Move SetTestPipeline into its own template (#1472)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Owners: @azure/azure-sdk-eng

Add repository parameter
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Move CI trigger over to public pipeline.
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Add CI trigger back to pipeline generator (#1410)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
Owners: @weshaggard, @mitchdenny, @danieljurek

Use latest pipeline generator.
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

Use sparse checkout for generate matrix job (#1452)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Owners: @azure/azure-sdk-eng

Include all module members in root package namespace
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
Owners: none

Address PR feedback
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Owners: @azure/azure-sdk-eng

Use latest pipeline generator (#1475)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Owners: @azure/azure-sdk-eng

actually pass the _content_ of the reviewers or teamreviewers variable
  eng/common/pipelines/templates/steps/create-pull-request.yml
Owners: @azure/azure-sdk-eng

Sort changelogs by date then version
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

Update python pacakge parser version to 0.2.3
  packages/python-packages/api-stub-generator/apistub/_version.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Owners: none

Sort changelogs by date then version (#1479)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Owners: @azure/azure-sdk-eng

APIStubGen skips public classes defined in internal modules (#1480)
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Owners: none

Create API review only when running CI on master branch
  eng/common/pipelines/templates/steps/create-apireview.yml
Owners: @azure/azure-sdk-eng

Support typeof in attributes and explicit interface implementations
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Attributes.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Inheritance.cs
Owners: none

.github/CODEOWNERS:

###########
# Eng Sys
###########
/eng/       @azure/azure-sdk-eng
/eng/common/TestResources/  @heaths @danieljurek @weshaggard

###########
# Eng Sys Services
###########
/tools/ @azure/azure-sdk-eng
/tools/check-enforcer/ @weshaggard @mitchdenny @JimSuplizio
/tools/pipeline-witness/ @weshaggard @mitchdenny @JimSuplizio
/tools/webhook-router/ @weshaggard @mitchdenny @JimSuplizio
/tools/github-issues/ @weshaggard @mitchdenny @JimSuplizio @AlexGhiondea
/tools/pipeline-generator/ @weshaggard @mitchdenny @danieljurek
