Repository Azure/azure-sdk-tools, pull requests merged in 2019-10, with the labels that each got.

#208 Check Enforcer fixes.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer.Tests/Azure.Sdk.Tools.CheckEnforcer.Tests.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer.Tests/Integrations/GitHub/GitHubWebhookSignatureValidatorTest.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/CheckEnforcerSecurityException.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/CheckEnforcerConfigurationException.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IRepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IRepositoryConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfiguration.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Constants.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckSuiteHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/Handler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/HandlerContext.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/IssueCommentHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubWebhookSignatureValidator.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/IGitHubClientProvider.cs
  tools/check-enforcer/CheckEnforcer.sln
Labels: EngSys

#224 missing sapce after type parameter
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Labels: APIView, bug

#236 Custom annotation and its members
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Labels: API Analyzer, bug

#235 Add distributed locking to Check Enforcer
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfigurationCacheEntry.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckSuiteHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/Handler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/IssueCommentHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Locking/CheckEnforcerDistributedLockException.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Locking/DistributedLock.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Locking/DistributedLockProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Locking/IDistributedLockProvider.cs
Labels: EngSys
