Repository Azure/azure-sdk-tools, pull requests merged in 2020-09, with the labels that each got.

#941 [Apiview] java - show package info javadoc
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Labels: APIView

#942 Apiview java cleanup
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/TokenModifier.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
Labels: APIView

#940 Check Enforcer improvements for DI and AppConfig
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/GitHubWebhookOverEventHubsFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Labels: Check Enforcer

#947 Check Enforcer improvements for DI and AppConfig (#940)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/GitHubWebhookOverEventHubsFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Labels: Check Enforcer, EngSys

#959 [APIView] Support for documentation and deprecation in Java
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/Token.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/TokenKind.java
Labels: APIView

#978 Improve rate limit handling.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
Labels: EngSys

#973 Fixed the aggressive title replacements
  eng/common/scripts/update-docs-metadata.ps1
Labels: EngSys

#986 Check Enforcer rate limit logging improvement
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
Labels: Check Enforcer, EngSys

#991 Update Azure SDK dependencies in use new AppConfig API
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Labels: Check Enforcer, EngSys

#992 Use DI for AppConfig & KeyVault in Webhook Router.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Azure.Sdk.Tools.WebhookRouter.csproj
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Startup.cs
Labels: EngSys, Webhook Router

#975 [ApiView] Java diagnostic improvements and support for different levels
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/BadPrefixesDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/FluentSetterReturnTypeDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/IllegalMethodNamesDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/IllegalPackageAPIExportsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ImportsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingAnnotationsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/NoPublicFieldsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/PackageNameDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/UpperCaseNamingDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/Diagnostic.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/DiagnosticKind.java
Labels: APIView

#998 Add GitHub rate limiting to Check Enforcer.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/Handler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/IssueCommentHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubRateLimiter.cs
Labels: Check Enforcer, EngSys

#895 Failed the validation when use relative links
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys

#1004 [APIView] Java diagnostic updates
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavaDocDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
Labels: APIView

#1011 Cache code files and speedup diff
  src/dotnet/APIView/APIView/CodeLine.cs
  src/dotnet/APIView/APIView/DIff/Diff.cs
  src/dotnet/APIView/APIView/DIff/InlineDiff.cs
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
Labels: auto-merge

#1010 Adds rate limiting config to Azure AppConfig.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/RepositoryConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckSuiteHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/Handler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/IssueCommentHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/PullRequestHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubRateLimiter.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Labels: Central-EngSys, Check Enforcer, EngSys

#1012 Log processing delays in Check Enforcer.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/GitHubWebhookOverEventHubsFunction.cs
Labels: Central-EngSys, Check Enforcer, EngSys

#1013 Updating code-owners for some of the services/tools.
  .github/CODEOWNERS
Labels: Central-EngSys, EngSys

#996 Add rate limiter to GitHub calls.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Helpers/GitHubHelpers.cs
Labels: EngSys, GitHub Issues

#1041 Revert "Add Tools PR creator as reviewer and assignee in Sync PR (#989)"
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-pr-creator.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Labels: Central-EngSys, EngSys

#1048 Add rate limit recovery to GitHub Issues.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
Labels: Central-EngSys

#1049 Add retries at repo level
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInBacklogMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInPastDueMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindNewGitHubIssuesAndPRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindStalePRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportExecutionContext.cs
Labels: Central-EngSys, EngSys

#1055 GitHub rate limiting fix (via retries)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindCustomerReportedIssuesInInvalidStateFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInBacklogMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInPastDueMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt2pmFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt7amFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindPRsOlderThan3MonthsFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInBacklogMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInPastDueMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindNewGitHubIssuesAndPRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindStalePRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportExecutionContext.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/host.json
Labels: Central-EngSys, EngSys, GitHub Issues

#1047 Switch to auto adding the `Central-EngSys` label
  eng/pipelines/templates/steps/sync-directory.yml
Labels: auto-merge
