Repository Azure/azure-sdk-tools, pull requests merged in 2020-06, with the labels that each got.

#664 Handle leading and trailing whitespace for comments.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/IssueCommentHandler.cs
Labels: Check Enforcer, EngSys

#665 Combine Check Enforcer reset and evaluate
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/IssueCommentHandler.cs
Labels: Check Enforcer, EngSys

#663 Pipeline Witness MVP
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Azure.Sdk.Tools.PipelineWitness.csproj
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/ContentDownloadException.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/ContentNotFoundException.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/AzurePipelines/Run.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/AzurePipelines/RunReason.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/AzurePipelines/RunResult.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/AzurePipelines/RunStatus.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Functions/PingFunction.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Functions/RunStateChangedFunction.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
  tools/pipeline-witness/PipelineWitness.sln
Labels: EngSys, Pipeline Witness

#681 Improve Webhook Router logging.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
Labels: EngSys, Webhook Router

#672 Add Evaluate action to Check Enforcer check-run.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/CheckRunHandler.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Handlers/Handler.cs
Labels: Check Enforcer, EngSys

#689 Pipeline Witness Failure Analysis
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Azure.Sdk.Tools.PipelineWitness.csproj
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/AzurePipelines/Failure.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/AzurePipelines/Run.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/FailureAnalyzer.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/FailureAnalyzerContext.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/IFailureAnalyzer.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/IFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/TimeoutClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#688 Improve caching of clients to reduce Azure Functions burps.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
Labels: EngSys, Pipeline Witness

#691 Detect Azure Pipelines infrastructure failures.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzurePipelinesPoolOutageClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CancelledTaskClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#692 Added classifier for Cosmos DB start-up failures.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CosmosDbEmulatorStartFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#694 Adds python test run failure classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/PythonPipelineTestFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#699 Add detection for live test failures in JS pipelines.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/JavaScriptLiveTestFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#700 Add test resource deployment failure classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/TestResourcesDeploymentFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#702 Add failure classifier for .NET tests.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DotnetPipelineTestFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#703 Java test failure classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/JavaPipelineTestFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#714 Classifiers for two new kinds of JS failures.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/JsDevFeedPublishingFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/JsSamplesExecutionFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#718 Classify recent download secrets errors.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DownloadSecretsFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#721 Typo in JS daily dev feed classifier
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/JsDevFeedPublishingFailureClassifier.cs
Labels: EngSys, Pipeline Witness

#720 Refactoring connection management.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Azure.Sdk.Tools.PipelineWitness.csproj
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/ContentDownloadException.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/ContentNotFoundException.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness

#732 Upgrade version to 1.8.0 after merged PR Java api processor illegal package fix (#731)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Labels: API Analyzer, java

#669 link verification script moved to eng/common
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys

#739 Add git checkout failure classifier.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/GitCheckoutFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Labels: EngSys, Pipeline Witness
