Repository Azure/azure-sdk-tools, pull requests merged in 2022-08, with the labels that each got.

#3774 Server changes to create manual and upgrade required API reviews using pipeline(sandboxing)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageProcessor.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewGenPipelineParamModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobOriginalsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Labels: APIView, Central-EngSys

#3814 Fix label case in review dropdown
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Labels: APIView, Central-EngSys

#3765 Fix bad path to sample matrix json
  eng/common/scripts/job-matrix/README.md
Labels: auto-merge, Central-EngSys

#3648 Feature/import warnings
  tools/pylint-extensions/pylint-guidelines-checker/README.md
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Labels: pylint

#3832 Create API review using modules in consistent order
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/_version.py
Labels: APIView, Central-EngSys

#3833 Update Python parser version and Python version to match version used…
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Labels: APIView, Central-EngSys

#3826 Add link checking for stress CI
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/ci.yml
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/azure/cluster/cluster.bicep
  tools/stress-cluster/cluster/azure/main.bicep
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/Job.cs
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/stress-test-file-share-secret-provider.yaml
Labels: auto-merge, Central-EngSys, Stress

#3835 Cherry pick python fix and review upgrade on top of current deployment
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Labels: APIView, Central-EngSys

#3860 Updating Proxy Dev Cert
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: auto-merge

#3375 new pipeline for codegen
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/pipelineCli/prepareArtifactFilesCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/pipelineCli/publishResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/generateResultCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/prepareArtifactFilesCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/integration/integrationTest.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/generateResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskResult.ts
  tools/sdk-generation-pipeline/pipelines/steps/after-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/environment-setup.yml
  tools/sdk-generation-pipeline/pipelines/steps/generate-and-build-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/generate-sdk.yml
  tools/sdk-generation-pipeline/pipelines/steps/init-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/live-test-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/mock-test-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
  tools/sdk-generation-pipeline/pipelines/steps/pipeline-setup.yml
  tools/sdk-generation-pipeline/pipelines/steps/precheck.yml
  tools/sdk-generation-pipeline/pipelines/steps/sdk-generation-tasks.yml
  tools/sdk-generation-pipeline/sdk-generation-pipeline.yml
Labels: SDK Generation Pipeline

#3908 [Python APIView] Fix issue with duplicated diagnostics
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_diagnostic.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apiview_reqs.txt
Labels: APIView, Client, Python

#3914 Update Markdig version
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Labels: Central-EngSys

#3945 Proxy Version Update
  eng/common/testproxy/target_version.txt
Labels: auto-merge

#3949 Remove duplicate PR API review revisions
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModelList.cs
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Labels: APIView

#3876 Feature/3810 replace language image references with css
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
Labels: APIView, massey-2022

#3889 Explicit Error Message for Mismatch BEGIN and END Aliases
  packages/java-packages/codesnippet-maven-plugin/CHANGELOG.md
  packages/java-packages/codesnippet-maven-plugin/README.md
  packages/java-packages/codesnippet-maven-plugin/pom.xml
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/implementation/SnippetDictionary.java
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/implementation/SnippetReplacer.java
Labels: Java

#3897 Sandboxing: Pipeline to covert manual JS reviews to code file
  eng/pipelines/apiview-review-gen-javascript.yml
  eng/scripts/Create-Apiview-Token-Javascript.ps1
Labels: Central-EngSys

#3847 js apiview parser build pipeline
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
  src/ts/ts-genapi/package.json
  tools/apiview/parsers/js-api-parser/.gitignore
  tools/apiview/parsers/js-api-parser/ci.yml
  tools/apiview/parsers/js-api-parser/export.ts
  tools/apiview/parsers/js-api-parser/models.ts
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/readme.md
  tools/apiview/parsers/js-api-parser/tokensBuilder.ts
  tools/apiview/parsers/js-api-parser/tsconfig.json
Labels: Central-EngSys

#4003 Update stress readme to remove misleading sections
  tools/stress-cluster/chaos/README.md
Labels: Central-EngSys, Stress

#3874 [Perf] Add pipeline to validate changes to perf-automation
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/tests.yml
Labels: auto-merge

#3998 stress status dashboard update
  tools/stress-cluster/cluster/azure/monitoring/stress-status-workbook.bicep
Labels: Central-EngSys, Stress

#4013 Add integration reset tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapperTester.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/IConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/IAssetsStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/NullStore.cs
Labels: Central-EngSys

#3978 Support language-specific CSS files #3464
  src/dotnet/APIView/APIViewWeb/Client/css/c.scss
  src/dotnet/APIView/APIViewWeb/Client/css/cplusplus.scss
  src/dotnet/APIView/APIViewWeb/Client/css/csharp.scss
  src/dotnet/APIView/APIViewWeb/Client/css/go.scss
  src/dotnet/APIView/APIViewWeb/Client/css/java.scss
  src/dotnet/APIView/APIViewWeb/Client/css/javascript.scss
  src/dotnet/APIView/APIViewWeb/Client/css/json.scss
  src/dotnet/APIView/APIViewWeb/Client/css/kotlin.scss
  src/dotnet/APIView/APIViewWeb/Client/css/python.scss
  src/dotnet/APIView/APIViewWeb/Client/css/swagger.scss
  src/dotnet/APIView/APIViewWeb/Client/css/swift.scss
  src/dotnet/APIView/APIViewWeb/Client/css/xml.scss
  src/dotnet/APIView/APIViewWeb/Client/webpack.config.js
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/Properties/launchSettings.json
Labels: APIView, massey-2022

#4005 Adding Solarized Dark theme
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
Labels: APIView, massey-2022

#3941 Feature/2389 show reference docs for specific method class
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIView/CodeLine.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Models/CodeLineModel.cs
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/chevron-right.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/chevron-up.svg
Labels: APIView, massey-2022

#3988 Adding Java-Specific typekinds #3463
  src/dotnet/APIView/APIViewWeb/Client/css/java.scss
  src/dotnet/APIView/APIViewWeb/Client/css/kotlin.scss
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/android.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/assembly.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/gradle.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/gradle_dark.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/maven.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/maven_dark.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/module.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/module_dark.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/namespace.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/package.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/spring.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/unknown.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/common/xamarinAndroid.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/java/annotation.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/java/class.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/java/enum.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/java/interface.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/annotation.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/class.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/enum.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/function.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/interface.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/kotlinLanguage.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/object.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/java/kotlin/property.svg
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/TypeKind.java
Labels: APIView, massey-2022
