Repository Azure/azure-sdk-tools, pull requests merged in 2022-10, with the labels that each got.

#4276 Store updated code file in cache
  src/dotnet/APIView/APIViewWeb/Languages/SwaggerLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
Labels: auto-merge, Central-EngSys

#4277 Update Readmes for TestProxy CLI
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/documentation/asset-sync/README.md
Labels: Central-EngSys, Asset-Sync, Test-Proxy

#4279 Fix pathto apiview test script
  .azure-pipelines/apiview.yml
Labels: Central-EngSys

#4287 Solved formatting issue in Java API view
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
Labels: APIView, massey-2022

#4289 Fix broken regular expression
  tools/test-proxy/transition-scripts/generate-assets-json.ps1
Labels: Asset-Sync

#4292 Only add DeleteAfter tag to resource groups in terminal state
  eng/scripts/live-test-resource-cleanup.ps1
Labels: Central-EngSys

#4293 Upgrade Java parser version
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Labels: Central-EngSys

#4160 [CADL APIView] Add cadl-apiview emitter
  .editorconfig
  .gitignore
  tools/apiview/emitters/cadl-apiview/.c8rc.json
  tools/apiview/emitters/cadl-apiview/.eslintrc.cjs
  tools/apiview/emitters/cadl-apiview/.mocharc.yaml
  tools/apiview/emitters/cadl-apiview/.prettierignore
  tools/apiview/emitters/cadl-apiview/.prettierrc.yaml
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/ci.yml
  tools/apiview/emitters/cadl-apiview/cspell.yaml
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/diagnostic.ts
  tools/apiview/emitters/cadl-apiview/src/emitter.ts
  tools/apiview/emitters/cadl-apiview/src/index.ts
  tools/apiview/emitters/cadl-apiview/src/lib.ts
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
  tools/apiview/emitters/cadl-apiview/src/testing/index.ts
  tools/apiview/emitters/cadl-apiview/src/version.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
  tools/apiview/emitters/cadl-apiview/test/test-host.ts
  tools/apiview/emitters/cadl-apiview/tsconfig.json
Labels: APIView, Cadl

#4297 Transition script part2
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/transition-scripts/generate-assets-json.ps1
Labels: Asset-Sync

#4315 Update Test-Proxy version
  eng/common/testproxy/target_version.txt
Labels: auto-merge

#4318 Handle all comments resolved scenario
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Labels: Central-EngSys

#4322 Change call to IsNullOrWhiteSpace
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Labels: Central-EngSys, Asset-Sync, Test-Proxy

#4311 Fix 50x errors while loading page links
  eng/common/scripts/Verify-Links.ps1
Labels: auto-merge

#4329 fix navigation collapsible issue
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
Labels: APIView, Central-EngSys

#4337 Change Tag from GUID to commit SHA
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Labels: Asset-Sync

#4334 Add readme for integration script
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/transition-scripts/README.md
Labels: Asset-Sync

#4335 Add Skip.RemoveTestResources label support to stress watcher
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/stress-deployment-example/templates/deploy-job.yaml
  tools/stress-cluster/services/Stress.Watcher/src/PodEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/Program.cs
  tools/stress-cluster/services/Stress.Watcher/tests/PodEventHandlerTest.cs
Labels: Central-EngSys, Stress

#4339 Add --tags to git fetch
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Labels: Asset-Sync

#4228 Review assignment/requesting
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Labels: APIView, massey-2022

#4296 Added support for external URL token type
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIView/Model/CodeFileTokenKind.cs
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/MiscUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/TokenKind.java
Labels: APIView, massey-2022

#4200 Feature/2505 enable tagging users in comments
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/comments.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentModel.cs
  src/dotnet/APIView/APIViewWeb/Models/GithubUser.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentFormPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
Labels: APIView, massey-2022

#4363 Remove directory climbing for assets.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Labels: Central-EngSys, Asset-Sync

#4366 Use CommandLineParser's --version
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitProcessHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandParserOptions/DefaultOptions.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/transition-scripts/README.md
Labels: Central-EngSys, Test-Proxy

#4372 Bump the code owner retriver version.
  eng/common/scripts/get-codeowners.ps1
  eng/pipelines/templates/variables/globals.yml
Labels: auto-merge

#4405 Add a min proxy version check to generate-assets-json.ps1
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
Labels: Central-EngSys, Asset-Sync

#4409 Improve test proxy install command
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Labels: Central-EngSys, Test-Proxy

#4411 Fix help and version
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Labels: Central-EngSys, Asset-Sync, Test-Proxy

#4361 Feature/lightweight user profiles
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
  src/dotnet/APIView/APIViewWeb/Client/src/navbar.ts
  src/dotnet/APIView/APIViewWeb/Client/src/user-profile.ts
  src/dotnet/APIView/APIViewWeb/Client/webpack.config.js
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/Models/UserProfileModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Delete.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/LegacyReview.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Profile.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Profile.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadInnerPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadReplyPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUserProfileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserPreferenceCache.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/APIViewWeb/TagHelpers/AvatarTagHelper.cs
  src/dotnet/APIView/APIViewWeb/TagHelpers/UserLinkTagHelper.cs
Labels: APIView, massey-2022

#4422 Support test proxy asset sync commands and tests with git ssh login
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapperTester.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Labels: Test-Proxy

#4382 API approver has access to reviews across all languages (Issue#2359)
  src/dotnet/APIView/APIViewWeb/Helpers/AutoMapperProfiles.cs
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Labels: APIView, massey-2022

#4447 Minor fixes for test proxy asset sync container mode issues
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/docker/dockerfile
  tools/test-proxy/scripts/transition-scripts/README.md
  tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
Labels: Central-EngSys, Test-Proxy

#4456 Add automation for updating github branch protection required status checks
  eng/scripts/Github-Project-Helpers.ps1
Labels: Central-EngSys

#3790 Stress test scenarios object and multi-docker img support
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_util.tpl
Labels: auto-merge, Central-EngSys, Stress

#4465 Add missing config backup when adding github status checks
  eng/scripts/Github-Project-Helpers.ps1
Labels: Central-EngSys

#4485 stress test addons version bump 0.1.21
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/CHANGELOG.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
Labels: Central-EngSys, Stress

#4486 Upgrade cspell packages to version `^6.12.0`
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Labels: auto-merge

#4480 Add extra parameters for .net readme path
  eng/common/scripts/Update-DocsMsToc.ps1
Labels: auto-merge

#4495 [Test-Proxy] Fix link to certificate trusting instructions
  tools/test-proxy/docker/README.md
Labels: Test-Proxy

#4431 Hotfix for #4382
  src/dotnet/APIView/APIViewWeb/Controllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Labels: APIView, massey-2022

#4502 Remove translation from resource cleanup
  eng/pipelines/live-test-cleanup.yml
Labels: Central-EngSys

#4476 [stress testing] Fix fileshare aka link
  tools/stress-cluster/chaos/README.md
Labels: Central-EngSys, Stress

#4504 [stress testing] Improve scenario matrix edge case handling
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: auto-merge, Central-EngSys, Stress

#4522 Use ubuntu 20 pool for live test cleanup pipeline
  eng/pipelines/live-test-cleanup.yml
Labels: auto-merge, Central-EngSys

#4527 Bump Test-Proxy Version
  eng/common/testproxy/target_version.txt
Labels: auto-merge

#4543 stress test addons version check
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  tools/stress-cluster/chaos/README.md
Labels: auto-merge, Central-EngSys, Stress

#4532 Dump out correlation id without verbose logging for resource deployment
  eng/common/TestResources/New-TestResources.ps1
Labels: auto-merge, Central-EngSys

#4524 [stress testing] Use job watch for resource group deletion triggers
  tools/stress-cluster/services/Stress.Watcher/src/JobEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/PodEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/Program.cs
  tools/stress-cluster/services/Stress.Watcher/tests/JobEventHandlerTest.cs
  tools/stress-cluster/services/Stress.Watcher/tests/PodEventHandlerTest.cs
Labels: Central-EngSys, Stress
