Repository Azure/azure-sdk-tools, pull requests merged in 2023-07, with the labels that each got.

#6459 Fix playback always discarding pending changes
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStoreBreadcrumb.cs
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Labels: Asset-Sync

#6469 Adding an additional `restore` CLI integration test
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Labels: Asset-Sync

#6506 Do not pull back locked issues/PRs in scheduled events queries
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
Labels: GitHub Event Processor

#6507 Update version of github-event-processor
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#6512 [FabricBot] Remove Rule Generator
  tools/CreateRuleFabricBot/CreateRuleFabricBot.sln
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CommandLine/ActionToTake.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CommandLine/ActionType.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CommandLine/Options.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Program.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/BaseCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/TriageConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Service/RequestSender.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/LiveTests.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/TestAndExpected.cs
  tools/CreateRuleFabricBot/README.md
  tools/CreateRuleFabricBot/ci.yml
Labels: EngSys, Client

#6528 Add tools owners to CODEOWNERS
  .github/CODEOWNERS
Labels: Central-EngSys

#6545 [GitHub Scripts] Recreate label tools
  tools/github-labels/README.md
  tools/github-labels/common-labels.csv
  tools/github-labels/deploy-labels.ps1
  tools/github-labels/diff-repo-labels.ps1
  tools/github-labels/refresh-snapshots.ps1
  tools/github-labels/repositories.txt
  tools/github-labels/repository-snapshots/autorest.cpp.csv
  tools/github-labels/repository-snapshots/autorest.csharp.csv
  tools/github-labels/repository-snapshots/autorest.csv
  tools/github-labels/repository-snapshots/autorest.go.csv
  tools/github-labels/repository-snapshots/autorest.java.csv
  tools/github-labels/repository-snapshots/autorest.python.csv
  tools/github-labels/repository-snapshots/autorest.swift.csv
  tools/github-labels/repository-snapshots/autorest.typescript.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-android-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-android.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-c-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-c.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-cpp.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-go-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-go.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-ios-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-ios.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-java-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-java.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-js-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-js.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-net-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-net.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-python-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-for-python.csv
  tools/github-labels/repository-snapshots/azure-sdk-pr.csv
  tools/github-labels/repository-snapshots/azure-sdk-tools.csv
  tools/github-labels/repository-snapshots/azure-sdk.csv
  tools/github-labels/repository-snapshots/perks.csv
  tools/github-labels/scan-new-labels.ps1
  tools/github/README.md
  tools/github/data/common-labels.csv
  tools/github/data/repositories.txt
  tools/github/scripts/Add-AzsdkMilestones.ps1
  tools/github/scripts/Add-AzsdkProjectIssues.ps1
  tools/github/scripts/Snapshot-AzsdkLabels.ps1
  tools/github/scripts/Sync-AzsdkLabels.ps1
Labels: GitHub Issues

#6555 Update Python API parser version in Sandboxing pipeline
  eng/pipelines/apiview-review-gen-python.yml
Labels: APIView, Central-EngSys

#6557 Set DOCKER_BUILDKIT to 1 in stress deploy image build
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: Central-EngSys, Stress

#6543 Make x509 certificate script from azure-sdk-for-net common to repos
  eng/common/TestResources/README.md
  eng/common/scripts/X509Certificate2/README.md
  eng/common/scripts/X509Certificate2/X509Certificate2.psm1
Labels: Central-EngSys

#6605 Explicitly handle legal holds when cleaning up storage accounts
  eng/scripts/Remove-WormStorageAccounts.ps1
Labels: Central-EngSys

#6604 Use breadcrumbfiles associated with each asset, versus shared
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStoreBreadcrumb.cs
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
  tools/test-proxy/scripts/test-scripts/assets.Tests.Helpers.ps1
Labels: Asset-Sync
