Repository Azure/azure-sdk-tools, pull requests merged in 2023-12, with the labels that each got.

#7373 Add mirror container image pipeline
  eng/pipelines/mirror-container-images.yml
  eng/scripts/mirror-container-image.ps1
Labels: Central-EngSys

#7400 Pipeline Witness logs trigger event
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildCompleteQueueWorker.cs
Labels: Central-EngSys

#7405 Prefer PackageName in Code file to find existing PR reviews
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Labels: APIView, Central-EngSys

#7415 Optimize swagger diff calculation and avoid cleanup of approved PR re…
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Labels: Central-EngSys

#7417 Ensure `HeaderSanitizer`s apply to list-value headers
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/multipart_header.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderStringSanitizer.cs
Labels: Central-EngSys

#7425 Avoid caching code file when running background task
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
Labels: APIView, Central-EngSys

#7433 Add delay between processing cleanup of PR API review revisions
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Labels: APIView, Central-EngSys

#7374 Update stress infra to use mirrored images
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/values.yaml
Labels: Central-EngSys, Stress

#7438 Process swagger file cross reference when generating API review
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
Labels: APIView, Central-EngSys

#7441 Set Samples page model and use correct property to find active revision
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Labels: APIView, Central-EngSys

#7450 Fix automatic review exception
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Labels: APIView, Central-EngSys

#7448 Automatic approval copy issue
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Labels: Central-EngSys

#7452 Return correct URL when processing API review from spec
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
Labels: Central-EngSys

#7470 Switch busybox image source in stress example
  tools/stress-cluster/chaos/examples/stress-debug-share-example/templates/debug-share-job.yaml
Labels: Central-EngSys, Stress

#7467 Modify PR api change detection to calculate diff only between base…
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Models/PullRequestModel.cs
Labels: APIView, Central-EngSys

#7456 Redirect and show error message when diff revision id is not active
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Labels: Central-EngSys

#7475 Include apireview URL in comment only if API surface changes
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
Labels: Central-EngSys

#7480 Update API review migraton to support on demand migration of individu…
  src/dotnet/APIView/CloneAPIViewDB/CloneAPIView/MigrationRunner.cs
  src/dotnet/APIView/CloneAPIViewDB/CloneAPIView/Program.cs
  src/dotnet/APIView/CloneAPIViewDB/apiviewdbmigration.yml
Labels: APIView, Central-EngSys
