Repository Azure/azure-sdk-tools, pull requests merged in 2023-11, with the labels that each got.

#7221 Update search query to use exists to verify revisions data
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
Labels: APIView, Central-EngSys

#7217 Add container name to stress workbook pod dropdown label
  tools/stress-cluster/cluster/azure/monitoring/stress-test-workbook.bicep
Labels: Central-EngSys, Stress

#5947 Use sparse checkout for pipeline generator
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: Central-EngSys

#7252 Fix Linter tool publish
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Azure.Sdk.Tools.CodeownersLinter.csproj
Labels: CODEOWNERS Linter

#7251 Add CODEOWNERS linter yml file to eng/common/pipelines
  .github/CODEOWNERS_baseline_errors.txt
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#7254 Add new property in CodeFile model to get package version from parser
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewCodeFileModel.cs
Labels: APIView, Central-EngSys

#7268 Use sparse-checkout to do a faster, shallow clone
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#7236 Updates to github-event-processor
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/MockGitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.FakeCodeowners/InitialIssueTriage_CODEOWNERS
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/ServiceAttention_issue_labeled_already_has_ServiceAttention.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/CodeOwnerUtils.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/LabelUtils.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/RulesConfiguration.cs
  tools/github-event-processor/GitHubEventProcessor.sln
  tools/github-event-processor/RULES.md
Labels: GitHub Event Processor

#7282 Disable updated InitialIssueTriage rule until CODEOWNERS files have new/updated/correct metadata
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
Labels: GitHub Event Processor

#7266 Set WorkingDirectory so the dotnet tools install works on non-windows
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#7284 Update GitHubEventProcessor to 1.0.0-dev.20231114.3
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#6910 [APIView] Add support for CrossLanguageDefinitionIds
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_apiview.py
  packages/python-packages/apiview-stub-generator/apistub/_metadata_map.py
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/apistub/_version.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_function_node.py
  tools/apiview/emitters/typespec-apiview/CHANGELOG.md
  tools/apiview/emitters/typespec-apiview/package.json
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/src/emitter.ts
  tools/apiview/emitters/typespec-apiview/src/lib.ts
  tools/apiview/emitters/typespec-apiview/src/namespace-model.ts
  tools/apiview/emitters/typespec-apiview/src/version.ts
  tools/apiview/emitters/typespec-apiview/test/apiview.test.ts
Labels: APIView, Python, TypeSpec

#7307 Remove CodeOwnersParser
  tools/code-owners-parser/Azure.Sdk.Tools.CodeOwnersParser.Tests/Azure.Sdk.Tools.CodeOwnersParser.Tests.csproj
  tools/code-owners-parser/Azure.Sdk.Tools.CodeOwnersParser.Tests/CodeownersFileTests.cs
  tools/code-owners-parser/CodeOwnersParser.sln
  tools/code-owners-parser/CodeOwnersParser.sln.DotSettings
  tools/code-owners-parser/CodeOwnersParser/Azure.Sdk.Tools.CodeOwnersParser.csproj
  tools/code-owners-parser/CodeOwnersParser/CodeownersEntry.cs
  tools/code-owners-parser/CodeOwnersParser/CodeownersFile.cs
  tools/code-owners-parser/CodeOwnersParser/DefaultStorageConstants.cs
  tools/code-owners-parser/CodeOwnersParser/FileHelpers.cs
  tools/code-owners-parser/CodeOwnersParser/GlobFilePath.cs
  tools/code-owners-parser/CodeOwnersParser/MatchedCodeownersEntry.cs
  tools/code-owners-parser/CodeOwnersParser/PathExtensions.cs
  tools/code-owners-parser/CodeOwnersParser/TeamUserHolder.cs
  tools/github-event-processor/ci.yml
Labels: GitHub Event Processor, CODEOWNERS Parser

#7304 Set Package version in API review code File for .NET
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
Labels: APIView, Central-EngSys

#7305 Set package version in API review code File for Python
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_apiview.py
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/apistub/_version.py
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Labels: APIView, Central-EngSys

#7308 Update package version in code file for JS
  tools/apiview/parsers/js-api-parser/export.ts
  tools/apiview/parsers/js-api-parser/models.ts
  tools/apiview/parsers/js-api-parser/package.json
Labels: APIView, Central-EngSys

#7313 Codeowners-Utils README update to add a section for dealing with linter errors.
  .github/CODEOWNERS
  tools/codeowners-utils/METADATA.md
  tools/codeowners-utils/README.md
Labels: CODEOWNERS Linter

#7309 Run upgrade of API reviews to update package version in cosmos DB
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/JavaScriptLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/java/apiview-java-processor/pom.xml
Labels: APIView, Central-EngSys

#7323 Add newly created aka.ms link for guidance on dealing with linter errors
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Program.cs
Labels: CODEOWNERS Linter

#7310 Force capitalize all deployment/env outputs in live test
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys

#7324 Update CodeownersLinter to 1.0.0-dev.20231120.3
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#7327 Skip the test to find request review element
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Labels: APIView, Central-EngSys

#7322 Create new pipeline to create package work item
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/pipelines/devops-create-package-workitem.yml
Labels: Central-EngSys, Engagement Experience

#7333 Include package version in code file for Java API review
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Labels: APIView, Central-EngSys

#7335 Update python parser version in APIView sandbox pipeline
  eng/pipelines/apiview-review-gen-python.yml
Labels: APIView, Central-EngSys

#7350 Swagger API review parser changes to add package version in code file
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/CodeFile.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewRoot.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewSpec.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SwaggerAPIViewTest.cs
Labels: APIView, Central-EngSys
