Repository Azure/azure-sdk-tools, pull requests merged in 2023-05, with the labels that each got.

#6082 Skip failing create API review test case
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Labels: Central-EngSys

#6063 Bump Proxy Version
  eng/common/testproxy/target_version.txt
Labels: auto-merge

#6094 Resolve broken `storageLocation` short alias
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/InvocationTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandOptions/OptionsGenerator.cs
Labels: Test-Proxy

#6061 Eng workflows sync and branch cleanup additions
  doc/workflows/engsys_workflows.md
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/pipelines/branch-cleanup.yml
  eng/pipelines/eng-workflows-sync.yml
Labels: auto-merge, Central-EngSys, GitHub Event Processor

#6096 Stop using the auto-merge label as it no longer does anything.
  eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
Labels: Central-EngSys

#6099 Remove pull_request_review processing from actions
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestReviewProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/ResetPullRequestActivity_pr_reviewed.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestReviewProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Program.cs
  tools/github-event-processor/RULES.md
Labels: GitHub Event Processor

#6101 Update GitHubEventProcessor version and remove pull_request_review procesing
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#6179 Remove Logic no Longer Required
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewIntegrationTests/APIViewIntegrationTests.csproj
  src/dotnet/APIView/APIViewIntegrationTests/ReviewManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/ReviewManagerTests.cs.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/SwaggerReviewsBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Labels: APIView, Central-EngSys

#6235 Handle docker hangs and subscription mismatch on acr login
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: Central-EngSys, Stress

#6248 Remove defunct template
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Labels: EngSys, Docs
