Repository Azure/azure-sdk-tools, pull requests merged in 2023-06, with the labels that each got.

#6217 Add differentiation between a null body and an empty body
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/PlaybackTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Labels: Test-Proxy

#6273 Make Json files the source of truth for DocsMS
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: Docs

#6252 Update pg config to reflect current cluster state
  tools/stress-cluster/cluster/azure/parameters/pg.json
Labels: Central-EngSys, Stress

#6280 Don't save the payload to an environment variable
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#6274 Add openapi hub redirect doc landing page
  doc/openapi-hub-redirect.md
Labels: Central-EngSys

#6333 Turn off git auto gc for sparse-checkout
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: Central-EngSys

#5938 Add common engsys breaking changes doc
  doc/common/breaking_changes.md
Labels: Central-EngSys

#6347 Add Support custom subscription config/creds for stress tests
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/stress-deployment-example/scenarios-matrix.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_env_volumes.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_deploy.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_util.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/stress-test-static-secret-provider.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/stress-test-static-secret-provider.yaml
Labels: Central-EngSys, Stress

#6363 Improvements to APIView/Java tooling
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingAnnotationsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/MissingJavadocCodeSnippetsRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/UpperCaseEnumValuesDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
Labels: APIView, Java

#6381 Remove openapi hub landing docs in favor of wiki
  doc/openapi-hub-redirect.md
Labels: Central-EngSys

#6391 Update API view parser version for Java
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Labels: Central-EngSys

#6368 [Test-Proxy] Point users to language repository test documentation
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Labels: Docs, Test-Proxy

#6355 Add GitHub Team User Store to tools sources
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore.sln
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Constants/ProductAndTeamConstants.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubEventClient.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubTeamUserStore.csproj
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Program.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/TeamUserGenerator.cs
  tools/github-team-user-store/README.md
Labels: Central-EngSys

#6366 CodeOwnersParser Team/User lookup
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Program.cs
  tools/code-owners-parser/CodeOwnersParser/CodeownersEntry.cs
  tools/code-owners-parser/CodeOwnersParser/CodeownersFile.cs
  tools/code-owners-parser/CodeOwnersParser/DefaultStorageConstants.cs
  tools/code-owners-parser/CodeOwnersParser/TeamUserHolder.cs
Labels: Central-EngSys

#6440 Updates for Codeowners changes
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
  eng/common/scripts/get-codeowners.lib.ps1
Labels: GitHub Event Processor
