Repository Azure/azure-sdk-tools, pull requests merged in 2024-03, with the labels that each got.

#7791 [GitHub] Add ESAM label
  tools/github/data/common-labels.csv
Labels: GitHub Issues

#7686 Fix matrix CI tests
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: Central-EngSys

#7808 Fix EnforceMaxLifeOfIssues event and run time
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#7758 Add 1es changes for job/matrix generation and publish
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: Central-EngSys

#7810 Run publish on failed or succeeded
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
  eng/common/scripts/Verify-AgentOS.ps1
Labels: Central-EngSys

#7819 Update package version on automatic API revision
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Labels: APIView, Central-EngSys

#7823 TestResources - Bubble up errors in Retry with pipe statements
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys

#7834 [GitHub] Add Code Signing service label
  tools/github/data/common-labels.csv
Labels: GitHub Issues

#7839 Scheduled event processing update
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/MockGitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/ScheduledEventProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/RateLimitConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
Labels: GitHub Event Processor

#7824 Get api review approval status for a given package version
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Labels: APIView, Central-EngSys

#7847 Enable the new InitialIssueTriage Rule that uses AzureSdkOwners
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
Labels: GitHub Event Processor

#7831 APIView server changes to tag a revision as released
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewListModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Labels: APIView, Central-EngSys

#7845 Create a separate job for events requiring Az CLI
  .github/workflows/event-processor.yml
Labels: GitHub Event Processor

#7848 Update github-event-processor version
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#7852 Initial Issue Triage was adding needs-team-triage incorrectly
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
Labels: GitHub Event Processor

#7853 Update GitHubEventProcessor to 20240311.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#7854 Skip env processing on matrix import step
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common-tests/matrix-generator/tests/test-import-matrix-env.json
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: Central-EngSys

#7859 Detect package root path from language repo when creating work item
  eng/pipelines/devops-create-package-workitem.yml
  eng/scripts/Create-Package-WorkItem.ps1
Labels: Central-EngSys, Engagement Experience

#7821 APIView - send package version param for automatic API review request
  eng/common/scripts/Create-APIReview.ps1
Labels: APIView, Central-EngSys

#7078 [Java][APIView] Support for cross-language definitions in Java APIView output
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/SourceJarTypeSolver.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ApiViewProperties.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/Token.java
Labels: APIView, Java

#7892 eng/common updates for 1es migration
  eng/common/pipelines/templates/steps/bypass-local-dns.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
  eng/common/scripts/check-for-git-changes.ps1
  eng/common/testproxy/publish-proxy-logs.yml
Labels: Central-EngSys

#7841 Create api review script changes to add a param to set release tag
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: APIView, Central-EngSys

#7920 Migrate image and dotnet tool publish to 1es pipelines
  eng/containers/ci.yml
  eng/pipelines/mirror-container-images.yml
  eng/pipelines/publish-docker-image-isolated.yml
  eng/pipelines/publish-docker-image.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  eng/pipelines/templates/variables/image.yml
  tools/http-fault-injector/ci.yml
Labels: Central-EngSys

#7924 Migrate more tools pipelines to 1es pipeline templates
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  eng/pipelines/templates/variables/image.yml
  tools/apiview/emitters/typespec-apiview/ci.yml
  tools/apiview/parsers/js-api-parser/ci.yml
  tools/tsp-client/build-tsp-client.yml
  tools/tsp-client/ci.yml
Labels: Central-EngSys

#7934 Add stress secret rotation instructions
  tools/stress-cluster/cluster/README.md
Labels: Central-EngSys

#7951 Call GetDocsMsDevLanguageSpecificPackageInfoFn if it's defined
  eng/common/scripts/Update-DocsMsMetadata.ps1
Labels: Docs, Central-EngSys

#7855 Pipeline template to validate package and update package work item
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
Labels: APIView, Central-EngSys

#7977 Skip API review package name approval for management plane packages
  eng/common/scripts/Create-APIReview.ps1
Labels: APIView, Central-EngSys

#7970 Change playground deletion lifespan to 10 days
  doc/engsys_resource_management.md
  eng/pipelines/live-test-cleanup.yml
  eng/scripts/live-test-resource-cleanup.ps1
Labels: Central-EngSys
