Repository Azure/azure-sdk-tools, pull requests merged in 2024-09, with the labels that each got.

#8885 Updated API review tokens to include two additional properties
  tools/apiview/parsers/CONTRIBUTING.md
  tools/apiview/parsers/apiview-treestyle-parser-schema/.gitignore
  tools/apiview/parsers/apiview-treestyle-parser-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/package-lock.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample tokens/Azure.Template_review_content.txt
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample tokens/Azure.Template_token.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Labels: APIView, Central-EngSys

#8424 Add support for missing build processing
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/AzurePipelines/AzurePipelinesProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/AzurePipelines/MissingAzurePipelineRunsWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/PeriodicProcessSettings.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/PipelineWitnessSettings.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/PostConfigureSettings.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Controllers/GitHubEventsController.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/GitHubActions/GitHubActionProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/GitHubActions/MissingGitHubActionsWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.development.json
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.json
  tools/pipeline-witness/monitored-repos.json
Labels: Central-EngSys

#8933 Test apiviewgo package naming in v2 module
  src/go/cmd/api_view_test.go
  src/go/cmd/pkg_test.go
  src/go/cmd/testdata/test_major_version/go.mod
  src/go/cmd/testdata/test_major_version/subpackage/test.go
Labels: APIView, test-enhancement, Go

#8930 Add CI to verify APIView token schema
  tools/apiview/parsers/apiview-treestyle-parser-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/ci.yml
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_review_content.txt
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_token.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Labels: APIView, Central-EngSys

#8941 Update PR triage rule for PRs created by BOTs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/PullRequestTriage_pr_opened_by_bot_no_labels.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestProcessing.cs
  tools/github-event-processor/RULES.md
Labels: GitHub Event Processor

#8902 Add descriptive error when variable groups are not added to pipeline
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Labels: Central-EngSys

#8954 Add auto-baseline main pipeline config for core
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-js.yml
  src/dotnet/APIView/apiview.yml
  tools/js-sdk-release-tools/ci.yml
Labels: Central-EngSys

#8956 Add github statistics script
  eng/scripts/github-statistics.ps1
Labels: Central-EngSys

#8958 Require minimum stress addons version of 0.3.0
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Labels: Central-EngSys

#8934 Show HiddenAPIs when it contains Diff
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Labels: APIView, Central-EngSys

#8991 Update projects targeting net6 to net8 - part 1
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Azure.Sdk.Tools.CodeownersUtils.Tests.csproj
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Azure.Sdk.Tools.CodeownersLinter.csproj
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Azure.Sdk.Tools.CodeownersUtils.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Azure.Sdk.Tools.GitHubEventProcessor.Tests.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubTeamUserStore.csproj
  tools/identity-resolution/identity-resolution.csproj
  tools/notification-configuration/notification-creator.Tests/Azure.Sdk.Tools.NotificationConfiguration.Tests.csproj
  tools/notification-configuration/notification-creator/Azure.Sdk.Tools.NotificationConfiguration.csproj
  tools/pipeline-owners-extractor/Azure.Sdk.Tools.PipelineOwnersExtractor/Azure.Sdk.Tools.PipelineOwnersExtractor.csproj
Labels: GitHub Event Processor, CODEOWNERS Linter, CODEOWNERS Parser

#8994 Update CodeownersLinter for net6 to net8 update
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#8995 Update installed event processor version for net6 to net8 update
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#8990 Apiview token utility to dump API text and to convert to new model
  src/dotnet/APIView/APIView.sln
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIViewJsonUtility/APIViewJsonUtility.csproj
  src/dotnet/APIView/APIViewJsonUtility/Program.cs
  src/dotnet/APIView/APIViewJsonUtility/ci.yml
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Labels: APIView, Central-EngSys

#9012 Update TestProxy from Net6 to Net8
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests.csproj
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Azure.Sdk.Tools.Assets.MaintenanceTool.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Azure.Sdk.Tools.TestProxy.Tests.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/MatcherTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/Exceptions/HttpException.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpExceptionMiddleware.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SecretScanner.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/TestRecordingMismatchException.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/ci.yml
  tools/test-proxy/sample-clients/net/http-client/Azure.Sdk.Tools.TestProxy.HttpClientSample.csproj
  tools/test-proxy/sample-clients/net/http-pipeline/Azure.Sdk.Tools.TestProxy.HttpPipelineSample/Azure.Sdk.Tools.TestProxy.HttpPipelineSample.csproj
  tools/test-proxy/sample-clients/net/http-pipeline/Azure.Sdk.Tools.TestProxy.HttpPipelineTestsExample/Azure.Sdk.Tools.TestProxy.HttpPipelineTestsExample.csproj
  tools/test-proxy/sample-clients/net/storage-blob/Azure.Sdk.Tools.TestProxy.StorageBlobSample.csproj
Labels: Test-Proxy

#9016 Update TestProxy version to 1.0.0-dev.20240919.1 for net6->net8 update
  eng/common/testproxy/target_version.txt
Labels: Test-Proxy

#9026 [apiview] add json extension to prcontroller
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
Labels: Central-EngSys

#9030 Updating CODEOWNERS for 1espt config
  .github/CODEOWNERS
Labels: Central-EngSys

#9032 Update 1espt codeowners
  .github/CODEOWNERS
Labels: Central-EngSys

#9031 Remove stress generator
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/cluster/kubernetes/generator/README.md
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator.Tests/GeneratorTest.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator.Tests/ResourceTest.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator.Tests/Stress.Generator.Tests.csproj
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Generator.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Program.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Prompter.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/ResourceProperty.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/ResourcePropertyInfo.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/Chaos/NetworkChaos.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/Job.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/Resource.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/StressTestPackage.cs
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Stress.Generator.csproj
  tools/stress-cluster/cluster/kubernetes/generator/ci.yml
  tools/stress-cluster/cluster/kubernetes/generator/generator.sln
Labels: Central-EngSys

#9040 Improve DevOps logging for code owners linter
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Program.cs
Labels: CODEOWNERS Linter

#9059 Update CodeownersLinter to 1.0.0-dev.20240926.2
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#9057 Docs onboarding cleanup final: Rename ValidatePackageForOnboarding2
  eng/common/scripts/Update-DocsMsPackages.ps1
Labels: Central-EngSys

#8926 adding cpp parser to public
  tools/apiview/parsers/cpp-api-parser/ci.yml
Labels: Central-EngSys
