Repository Azure/azure-sdk-tools, pull requests merged in 2024-08, with the labels that each got.

#8699 apiviewgo parses non-SDK modules as needed
  src/go/cmd/api_view_test.go
  src/go/cmd/download.go
  src/go/cmd/module.go
  src/go/cmd/pkg.go
  src/go/cmd/review.go
  src/go/cmd/testdata/test_external_module/go.mod
  src/go/cmd/testdata/test_external_module/test.go
Labels: APIView, Go

#8791 Fix the issue in sorting revisions with more than one approver in req…
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
Labels: APIView, Central-EngSys

#8760 Do not mark values as secret that are from git-hosted sub config files
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Labels: Central-EngSys

#8673 Update apiview prod to staging sync job to use managed identity
  eng/scripts/python/apiview-syncdb/requirements.txt
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
  src/dotnet/APIView/apiview-sync-staging.yml
Labels: APIView, Central-EngSys

#8828 [GitHub] Add common service label
  tools/github/data/common-labels.csv
Labels: GitHub Issues

#8816 APIView code file token tsp and json schema
  tools/apiview/parsers/CONTRIBUTING.md
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNode.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNodeId.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNodeProperties.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNodeTags.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/CodeDiagnostic.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/CodeDiagnosticLevel.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredToken.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenId.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenKind.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenProperties.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenRenderClasses.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenTags.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/model.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/model.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/models.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_review_content.txt
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_token.json
  tools/apiview/parsers/images/APITree.svg
  tools/apiview/parsers/images/apitree-node-and-tokens.png
  tools/apiview/parsers/images/deprecated-node.png
  tools/apiview/parsers/images/deprecated-token.png
  tools/apiview/parsers/images/documentation.png
  tools/apiview/parsers/images/hidden-api.png
  tools/apiview/parsers/images/navigation.png
  tools/apiview/parsers/images/parameter-separator-with-line-break.png
  tools/apiview/parsers/images/parameter-separator-with-single-space.png
  tools/apiview/parsers/images/url-token.png
Labels: APIView, Central-EngSys

#8850 .NET API review parser changes to use new token schema
  src/dotnet/APIView/APIView.sln
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewToken.cs
  src/dotnet/APIView/APIView/Model/V2/TokenKind.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/Program.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/ProgramTests.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/TestData.cs
Labels: APIView, Central-EngSys

#8851 Apiview token changes
  src/dotnet/APIView/APIView/Model/StructuredTokenModel.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileTests.cs
  src/dotnet/APIView/APIViewUnitTests/LanguageServiceTests.cs
  src/dotnet/APIView/APIViewUnitTests/ProgramTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageProcessor.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/test-data/content-with-active-revision-only.json
  src/dotnet/APIView/ClientSPA/src/app/_workers/test-data/content-with-diff-full-style.json
  src/dotnet/APIView/ClientSPA/src/app/_workers/test-data/content-with-only-added-diff.json
  src/dotnet/APIView/ClientSPA/src/app/_workers/test-data/content-with-only-removed-diff.json
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Labels: APIView, Central-EngSys

#8874 Avoid code file caching when for new tree style code files
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
Labels: APIView, Central-EngSys

#8877 Include RenderClasses in serialized JSON code file
  src/dotnet/APIView/APIView/Model/V2/ReviewToken.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Labels: APIView, Central-EngSys

#8856 Fix apiviewgo download paths
  src/go/cmd/download.go
  src/go/cmd/module.go
  src/go/cmd/pkg.go
  src/go/cmd/pkg_test.go
  src/go/cmd/testdata/test_package_name/test_package_name@v1.0.0/go.mod
  src/go/cmd/testdata/test_package_name/test_package_name@v1.0.0/subpackage/test.go
  src/go/cmd/testdata/test_package_name/test_package_name@v1.0.0/test.go
Labels: APIView, Go

#8876 Skip documentation node id remapping if node is not changed
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Labels: APIView, Central-EngSys

#8883 Fix apiviewgo download paths (#8856)
  src/go/cmd/download.go
  src/go/cmd/module.go
  src/go/cmd/pkg.go
  src/go/cmd/pkg_test.go
  src/go/cmd/testdata/test_package_name/test_package_name@v1.0.0/go.mod
  src/go/cmd/testdata/test_package_name/test_package_name@v1.0.0/subpackage/test.go
  src/go/cmd/testdata/test_package_name/test_package_name@v1.0.0/test.go
Labels: APIView, Central-EngSys

#8881 .NET API review parser tests
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Labels: APIView, Central-EngSys

#8880 Fix Tree and node view diff and add more test cases for parser
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Labels: APIView, Central-EngSys

#8882 Apiview revision upgradability to new parser version test
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Labels: APIView, Central-EngSys

#8892 Fixed issue when processing code file for metapackage
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/apiview.yml
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Labels: APIView, Central-EngSys

#8897 Fix issue in attribute line with attribute class name
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Labels: APIView, Central-EngSys
