Repository Azure/azure-sdk-tools, pull requests merged in 2024-05, with the labels that each got.

#8188 Add jsquire and ronniegeraghty as owners of github-event-processor
  .github/CODEOWNERS
Labels: GitHub Event Processor

#8185 Update the EnforceMaxLifeOfIssues comment that is added to the issue.
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
Labels: GitHub Event Processor

#8176 stress deploy image moving to mariners
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/images/test-resource-deployer/Dockerfile
Labels: Central-EngSys

#8193 Update version of github-event-processor to 1.0.0-dev.20240502.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#8234 update chaos mesh version
  eng/pipelines/mirror-container-images.yml
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/Chart.lock
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/Chart.yaml
Labels: Central-EngSys

#8243 [stress] fix broken mirror container image pipeline
  eng/pipelines/mirror-container-images.yml
Labels: Central-EngSys

#8264 Add base branch baseline file for additional PR filtering
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Program.cs
Labels: CODEOWNERS Linter

#8216 Make create apireview runnable from non default working directory
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: APIView, Central-EngSys

#8267 CODEOWNERS linter yml updates
  eng/common/pipelines/codeowners-linter.yml
Labels: CODEOWNERS Linter

#8283 Update APIView script path to absolute path
  eng/common/pipelines/templates/steps/create-apireview.yml
Labels: APIView, Central-EngSys

#8288 Remove SAS token from GitHubIO blob storage docs publish
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: Docs

#8311 Remove SAS token usage from apiview-sync-staging
  src/dotnet/APIView/apiview-sync-staging.yml
Labels: APIView

#8314 Remove SAS token usage from apiview-review-gen
  eng/pipelines/templates/steps/apiview-review-gen.yml
  eng/scripts/Create-Apiview-Token-Files.ps1
Labels: APIView

#8278 Migrate stress cluster to use workload identity
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/parallel-pod-example/Chart.lock
  tools/stress-cluster/chaos/examples/parallel-pod-example/templates/parallel-pod.yaml
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/templates/deploy-job.yaml
  tools/stress-cluster/cluster/azure/cluster/cluster.bicep
  tools/stress-cluster/cluster/azure/cluster/static-vault-access-policy.bicep
  tools/stress-cluster/cluster/azure/cluster/workloadappidentities.bicep
  tools/stress-cluster/cluster/azure/cluster/workloadapproles.bicep
  tools/stress-cluster/cluster/azure/main.bicep
  tools/stress-cluster/cluster/azure/parameters/pg.json
  tools/stress-cluster/cluster/azure/parameters/prod.json
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/Chart.lock
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/templates/infra-svc.yaml
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/templates/stresswatcher-cluster-role-binding.yaml
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/templates/stresswatcher-cluster-role.yaml
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/templates/stresswatcher.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/CHANGELOG.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/images/test-resource-deployer/Dockerfile
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/images/test-resource-deployer/deploy-stress-test-resources.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_container_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_env_volumes.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_deploy.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_util.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/reader-role.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/stress-test-static-secret-provider.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/values.yaml
  tools/stress-cluster/cluster/provision.ps1
  tools/stress-cluster/services/Stress.Watcher/Dockerfile
  tools/stress-cluster/services/Stress.Watcher/src/JobEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/NamespaceEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/Program.cs
  tools/stress-cluster/services/Stress.Watcher/src/Stress.Watcher.csproj
  tools/stress-cluster/services/Stress.Watcher/tests/JobEventHandlerTest.cs
Labels: Central-EngSys

#8319 Add static file secret-less sub-config support
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1.md
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Labels: Central-EngSys

#8333 apiviewgo: print help instead of panicking when given no args
  src/go/cmd/root.go
Labels: Go
