Repository Azure/azure-sdk-tools, pull requests merged in 2024-02, with the labels that each got.

#7664 Add stress test arm/bicep template prefix to New-TestResources ResourceType set
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys

#7674 [.NET Analyzers] Add new approved namespace
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Labels: Client, .NET, .NETClientSDKAnalyzers

#7665 Fix case-sensitive spelling in scripts that get deployed to C++ repo
  eng/common/spelling/Invoke-Cspell.ps1
Labels: EngSys, Central-EngSys, C++

#7683 [.NET Analyzers] Fix Template special case
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Labels: Client, .NETClientSDKAnalyzers

#7700 Case Insensitive Moniker Parsing
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Utils/MonikerUtilsTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Utils/MonikerUtils.cs
  tools/codeowners-utils/METADATA.md
Labels: CODEOWNERS Parser

#7703 Update GitHubEventProcessorVersion
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#7704 Updates to tools for the CodeownersUtils updates
  eng/common/pipelines/codeowners-linter.yml
  eng/pipelines/templates/variables/globals.yml
Labels: CODEOWNERS Linter

#7692 Increase delay between processing cleanup of revisions created from PR
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Labels: Central-EngSys

#7733 Fix errors in repo structure cache script and improve pipeline
  eng/pipelines/openapitools/repo-structure-cache-job.yml
  eng/scripts/openapitools/python/cacherepostructure/sync-repo-structure-cache.py
Labels: Central-EngSys, OpenAPI Hub

#7743 [GitHub] Adding new communication label
  tools/github/data/common-labels.csv
Labels: GitHub Issues

#7693 Add new Scheduled rule: EnforceMaxLifeOfIssues
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/ScheduledEventProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/RulesConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
  tools/github-event-processor/RULES.md
  tools/github-event-processor/YmlAndConfigFiles/event-processor.config
  tools/github-event-processor/YmlAndConfigFiles/event-processor.yml
  tools/github-event-processor/YmlAndConfigFiles/scheduled-event-processor.yml
Labels: GitHub Event Processor

#7754 Change the way ServiceLabel parses with AzureSdkOwners
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/CodeownersTestFiles/EndToEnd/NoErrors
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/CodeownersTestFiles/EndToEnd/NoErrorsExpectedEntries.json
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/CodeownersTestFiles/VerifyBlock/AzureSdkOwnersAndServiceLabel
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/CodeownersTestFiles/VerifyBlock/ServiceLabelAndAzureSdkOwners
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Verification/CodeownersLinterTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Constants/ErrorMessageConstants.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersParser.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Verification/CodeownersLinter.cs
  tools/codeowners-utils/METADATA.md
Labels: CODEOWNERS Linter, CODEOWNERS Parser

#7742 Update github-event-processor version
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#7765 Update version of github-event-processor
  .github/event-processor.config
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor, CODEOWNERS Parser

#7767 Updates to tools for CodeownerUtils updates
  eng/common/pipelines/codeowners-linter.yml
  eng/pipelines/templates/variables/globals.yml
Labels: CODEOWNERS Linter, CODEOWNERS Parser

#7772 Add otel collector to image publish pipeline
  eng/containers/ci.yml
Labels: Central-EngSys

#7777 [GitHub] Validate Code Owner Account
  tools/github-issues/.editorconfig
  tools/github-issues/.gitignore
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues.Tests/Azure.Sdk.Tools.GitHubIssues.Tests.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues.Tests/UnitTest1.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Azure.Sdk.Tools.GitHubIssues.csproj
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Constants.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Email/EmailSender.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindCustomerReportedIssuesInInvalidStateFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInBacklogMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindIssuesInPastDueMilestonesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt2pmFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindNewGitHubIssuesAndPrsAt7amFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindPRsOlderThan3MonthsFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/FindTestIssuesFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Functions/PingFunction.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Helpers/GitHubHelpers.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Helpers/StreamHelpers.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Html/HtmlPageCreator.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Html/TableCreator.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/BaseReport.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/ImpactArea.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/IssueType.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInBacklogMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindIssuesInPastDueMilestones.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindNewGitHubIssuesAndPRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindStalePRs.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/FindTestIssues.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportExecutionContext.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/ReportIssue.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/Configuration/ConfigurationService.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/Configuration/IConfigurationService.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Services/Configuration/RepositoryConfiguration.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Startup.cs
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/host.json
  tools/github-issues/GitHubIssues.sln
  tools/github-issues/ci.yml
  tools/github/scripts/Validate-AzsdkCodeOwner.ps1
Labels: GitHub Issues

#7682 Support resolving environment variable references in matrix config
  doc/common/matrix_generator.md
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common-tests/matrix-generator/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: Central-EngSys

#7796 Update github-event-processor ver to 1.0.0-dev.20240229.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor
