Repository Azure/azure-sdk-tools, pull requests merged in 2024-12, with the labels that each got.

#9446 Install JS API parser from local feed view
  src/dotnet/APIView/apiview.yml
Labels: APIView, Central-EngSys

#9440 Hide output from register/unregister ps module repository
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Labels: Central-EngSys

#9489 Update the AI Label Service URL
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
Labels: GitHub Event Processor

#9409 apiviewgo supports tree tokens
  src/dotnet/APIView/APIViewWeb/Languages/GoLanguageService.cs
  src/go/cmd/api_view.go
  src/go/cmd/api_view_test.go
  src/go/cmd/content.go
  src/go/cmd/models.go
  src/go/cmd/output/test_const.json
  src/go/cmd/output/test_func_decl.json
  src/go/cmd/output/test_interface.json
  src/go/cmd/output/test_struct.json
  src/go/cmd/pkg.go
  src/go/cmd/review.go
  src/go/cmd/testdata/test_const/go.mod
  src/go/cmd/testdata/test_const/test.go
  src/go/cmd/testdata/test_func_decl/go.mod
  src/go/cmd/testdata/test_func_decl/test.go
  src/go/cmd/testdata/test_interface/go.mod
  src/go/cmd/testdata/test_interface/test.go
  src/go/cmd/testdata/test_output/go.mod
  src/go/cmd/testdata/test_output/internal/stuff.go
  src/go/cmd/testdata/test_output/output.json
  src/go/cmd/testdata/test_output/subpackage/subpackage.go
  src/go/cmd/testdata/test_output/test.go
  src/go/cmd/testdata/test_struct/go.mod
  src/go/cmd/testdata/test_struct/test.go
  src/go/cmd/token_makers.go
Labels: APIView, Go

#9490 Update GitHubEventProcessor version to 1.0.0-dev.20241206.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Labels: GitHub Event Processor

#9501 MicrosoftDocs/AzureRestPreview's default branch is now main
  eng/pipelines/branch-cleanup.yml
Labels: Docs

#9528 Update default to net8.0 for standalone exe script
  eng/pipelines/templates/scripts/assemble-dotnet-standalone-exe.ps1
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Labels: Central-EngSys

#9530 [Tools] Update .NET SDK Versions
  eng/pipelines/templates/steps/install-dotnet.yml
Labels: EngSys, Client

#9539 [.NET] Updating to .NET 9
  eng/pipelines/templates/steps/install-dotnet.yml
  global.json
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator.Tests/Azure.Sdk.Tools.SnippetGenerator.Tests.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
Labels: Client, .NET
