Repository Azure/azure-sdk-tools, pull requests merged in 2025-08, with the labels that each got.

#11354 Change instances of /bin/env shebang to /usr/bin/env
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/update-charts.ps1
  tools/stress-cluster/cluster/provision.ps1
Labels: Central-EngSys

#11499 Add azsdk-cli label to tools/azsdk-cli changes
  .github/CODEOWNERS
Labels: Central-EngSys, azsdk-cli

#11505 Enable PullRequestTriage for auto-labeling
  .github/event-processor.config
Labels: Central-EngSys

#11531 Source user object id directly instead of with graph
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys

#11606 [Devex Agent] Additional Contextual links
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/MockServices/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ParsedSdkPullRequest.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Labels: azsdk-cli

#11646 Improve logging practices
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/SpecPullRequestHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecValidationTool/SpecValidationTool.cs
  tools/azsdk-cli/README.md
Labels: azsdk-cli

#11684 Suppress info logging for azure clients
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/Agent/AzureAgentService.cs
Labels: Central-EngSys, azsdk-cli

#11731 Validate API version for release plan creation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
Labels: azsdk-cli

#11734 Reusable instructions guide
  tools/azsdk-cli/README.md
Labels: azsdk-cli

#11660 Microagent framework v1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/MicroagentHostServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/ToolHelpersTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/Tools/ListFilesToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/Tools/ReadFileToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/AgentTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/IAgentTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/IMicroagentHostService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/Microagent.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/MicroagentHostService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/ToolHelpers.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/Tools/ListFilesTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/Tools/ReadFileTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
Labels: azsdk-cli

#11730 Restructure tools classes based on the usecase
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/DownloadPromptsToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ExampleToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/FileValidationToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Generators/ReadMeGeneratorToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/SdkReleaseToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/SpecWorkFlowToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TspToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlanDetails.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/Cleanup/CleanupTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/LogAnalysisTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/TestAnalysisTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Example/ExampleTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Example/HelloWorldTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Example/Quokka.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/GitHubLabelsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/PullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/ReadMeGeneratorTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/ReleaseReadinessTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkReleaseTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineAnalysisTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineTestsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/PromptValidationTool/DownloadPromptsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/PromptValidationTool/FileValidationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/SpecWorkFlowTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/SpecCommonTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/SpecValidationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspTool.cs
  tools/azsdk-cli/docs/new-tool.md
Labels: azsdk-cli

#11741 Add a pipeline template to mark SDK package as released
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: DevEx Agent

#11685 [azsdkcli] add checks for readme and cspell
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/GoLanguageRepoServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/PackageCheckType.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Labels: azsdk-cli

#11740 Generalize spec pull request tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/PullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TypeSpecPublicRepoValidationTool.cs
Labels: azsdk-cli

#11786 Data Collection and Telemetry Configuration sections
  tools/azsdk-cli/README.md
Labels: azsdk-cli

#11627 [API View] Require API Copilot review in order to approve an API
  src/dotnet/APIView/APIViewUnitTests/ReviewsControllerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Program.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Labels: APIView Copilot

#11647 Adding MCP tools for the CODEOWNERS file.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CodeownersToolsTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/Constants.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersValidatorHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/CodeownersValidationResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ServiceCodeownersResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/CodeownersTools/CodeownersTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/GitHubLabelsTool.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Parsing/CodeownersEntryPathComparerTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersEntry.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersEntryPathComparer.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersParser.cs
Labels: azsdk-cli

#11796 Changing the readme tool to use Timo's MicroAgent framework
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Generators/ReadMeGeneratorToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/AgentTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/ReadMeGeneratorTool.cs
Labels: azsdk-cli

#11853 [AVC] Filter out comments that don't identify a problem
  packages/python-packages/apiview-copilot/metadata/android/filter.yaml
  packages/python-packages/apiview-copilot/metadata/dotnet/filter.yaml
  packages/python-packages/apiview-copilot/metadata/golang/filter.yaml
  packages/python-packages/apiview-copilot/metadata/ios/filter.yaml
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
  packages/python-packages/apiview-copilot/metadata/python/filter.yaml
  packages/python-packages/apiview-copilot/metadata/rust/filter.yaml
  packages/python-packages/apiview-copilot/metadata/typescript/filter.yaml
  packages/python-packages/apiview-copilot/prompts/api_review/comment_filter.prompty
Labels: APIView Copilot

#11863 Fix issue in MCP to get pull request details
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/PullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Labels: azsdk-cli, DevEx Agent

#11886 Update guidelines around when tools should be MCP tools vs. CLI tools
  tools/azsdk-cli/README.md
Labels: azsdk-cli

#11896 Source user ID from graph api in TME
  eng/common/TestResources/New-TestResources.ps1
Labels: Central-EngSys
