Repository Azure/azure-sdk-tools, pull requests merged in 2025-09, with the labels that each got.

#11924 [AVC] Fix issue with generic judge phase
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
Labels: bug, APIView Copilot

#11936 Add retry to resolve DevOps update conflict issue
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/SpecWorkFlowTool.cs
Labels: azsdk-cli

#11622 Create a new MCP tool TspClientUpdate Tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspClientUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ClientUpdateDetailModels.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TspClientUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ValidationResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/ClientUpdateLanguageServiceBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/ClientUpdateLanguageServiceResolver.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/IClientUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Labels: azsdk-cli

#11957 Fix json schema for update sdk details input so serialization does no…
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Labels: azsdk-cli

#11972 Fix language name issue when generating SDK from copilot
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/SpecWorkFlowToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/InputSanitizer.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/SpecWorkFlowTool.cs
Labels: azsdk-cli

#11952 [AVC] Refactor metrics
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/src/_metrics.py
  packages/python-packages/apiview-copilot/tests/metrics_test.py
Labels: APIView Copilot

#11934 [azsdk-cli] Add open telemetry
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/Constants.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Core/TelemetryProcessor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/TelemetryService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Example/ExampleTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/TelemetryWrapper.cs
Labels: Central-EngSys, azsdk-cli

#11984 Add pr link validation for get_release_plan_for_spec_pr
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Labels: azsdk-cli

#12009 Pass work item ID to SDK generation pipeline
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Labels: azsdk-cli

#11997 [azsdkcli] update snippets
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/PackageCheckType.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/ILanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Labels: azsdk-cli

#12021 Simplify readme generator test services and remove noisy test logging
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestHelpers/TestOutputHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Generators/ReadMeGeneratorToolTests.cs
Labels: Central-EngSys

#12022 Use logger factory instead of console for codeowners library logging
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CodeownersToolsTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/CodeownersTools/CodeownersTools.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/TestHelpers.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Utils/BaselineUtilsTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Azure.Sdk.Tools.CodeownersLinter.csproj
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Program.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Azure.Sdk.Tools.CodeownersUtils.csproj
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Caches/TeamUserCache.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Utils/FileHelpers.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Utils/Log.cs
Labels: Central-EngSys

#12063 Add telemetry for AzSdk MCP server tool calls
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/AzSdkToolsMcpServerConfiguration.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/OpenTelemetryExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/ITelemetryService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/DefaultMachineInformationProvider.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/IMachineInformationProvider.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/LinuxMachineInformationProvider.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/MacOSXMachineInformationProvider.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/MachineInformationProviderBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/UnixMachineInformationProvider.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/InformationProvider/WindowsMachineInformationProvider.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryConstants.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryLogRecordEraser.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/TelemetryWrapper.cs
Labels: azsdk-cli

#12066 Add Regenerate feature to Update workflow using shared helper
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspClientUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ITspClientHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TspClientHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TspClientUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Labels: azsdk-cli

#12017 [azsdk-cli] Use scoped tools and helpers, add micro agent example
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Contract/MCPTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/MicroagentHostServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ExampleToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TokenUsageHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/MicroagentHostService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/Agent/AzureAgentService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/Agent/AzureAgentServiceFactory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Example/ExampleTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineAnalysisTool.cs
Labels: Central-EngSys, azsdk-cli

#11968 Add copilot instruction for package name properties in typespec config
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Labels: DevEx Agent

#12228 Do not pass SdkRepoBranch to pipeline trigger when branch name is not…
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Labels: azsdk-cli

#12237 Manually Version `azsdk-cli`
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  eng/scripts/Verify-Nuget-Artifact-Changelogs.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/ci.yml
Labels: azsdk-cli

#12269 Add prs created override for eng sync script
  eng/scripts/Approve-Eng-Common-Sync-PRs.ps1
Labels: Central-EngSys
