Repository Azure/azure-sdk-tools, pull requests merged in 2025-10, with the labels that each got.

#12193 [azsdk-cli] Support custom log analysis prompts
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/MicroagentHostServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/GoLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/Agent/AzureAgentService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineAnalysisTool.cs
Labels: Central-EngSys, azsdk-cli

#12302 [azsdk-cli] fix microagent returning null result
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/MicroagentHostService.cs
Labels: azsdk-cli

#12243 [azsdkcli] adding lintcode and formatcode infra
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/GoLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/PackageCheckType.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/ILanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Labels: azsdk-cli

#12305 [azsdkcli] Some improvements to microagents
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Microagents/MicroagentHostServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/IMicroagentHostService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/Microagent.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/MicroagentHostService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Example/ExampleTool.cs
Labels: azsdk-cli

#12353 [azsdk-cli] Fix TOC ordering in new-tool.md
  tools/azsdk-cli/docs/new-tool.md
Labels: Central-EngSys, azsdk-cli

#12301 Set up vcpkg cache variables in eng/common
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Labels: Central-EngSys

#12367 fix handle command bug
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Labels: azsdk-cli

#12395 Fix scoping/lifetime issue with language check service
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/ProgramTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
Labels: Central-EngSys, azsdk-cli

#12397 Fix issue in create release plan tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlanDetails.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Labels: azsdk-cli
